02_hunter-1y6kw0xFymo0y0wu.json
{
  "updatedAt": "2025-12-25T09:49:10.572Z",
  "createdAt": "2025-12-24T16:11:25.919Z",
  "id": "1y6kw0xFymo0y0wu",
  "name": "02_HUNTER",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "part1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        672,
        64
      ],
      "id": "d1572427-4dd4-4c64-869b-bc4c862d9b23",
      "name": "Webhook",
      "webhookId": "f760eb4c-e018-4d41-b34f-2694ad1eb8cd"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        656,
        480
      ],
      "id": "6cd52e52-cb8a-4915-b8a0-a73508e4a591",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"term\": \"Dentists in Miami\",\n  \"user_id\": \"33333333-3333-3333-3333-333333333333\",\n  \"batch_id\": \"22222222-2222-2222-2222-222222222222\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        272
      ],
      "id": "049d6eb3-8ba2-4f25-baa5-b9fef2793dee",
      "name": "Map Webhook Data1"
    },
    {
      "parameters": {
        "jsCode": "// Get input from Webhook or the previous node\nconst input = $input.first().json;\n\n// Check for required technical IDs\nif (!input.user_id || !input.batch_id) {\n  throw new Error('Missing required fields: user_id and batch_id');\n}\n\n// Extract term and location logic\nlet rawSearch = input.term || \"\"; \nlet term = rawSearch;\nlet location = input.location || \"\";\n\n// Split logic if phrase contains \"in\" or \"at\"\nconst splitMatch = rawSearch.match(/(.+)\\s+(?:in|at)\\s+(.+)/i);\n\nif (splitMatch) {\n    term = splitMatch[1].trim();\n    location = splitMatch[2].trim();\n}\n\nreturn [{\n  json: {\n    term: term,\n    location: location,\n    search_query: `${term} ${location}`.trim(),\n    batch_id: input.batch_id,\n    user_id: input.user_id,\n    started_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        272
      ],
      "id": "ab6aefa5-ac91-4868-a652-b38ab6c281af",
      "name": "Input Validation1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REDACTED_HEADER_VALUE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchStringsArray\": [\n    \"{{ $json.search_query }}\"\n  ],\n  \"maxCrawledPlacesPerSearch\": 5,\n  \"includeWebsites\": true,\n  \"language\": \"en\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1312,
        272
      ],
      "id": "ee87c166-373d-4815-93bd-55c9d556754c",
      "name": "Start Apify Run1"
    },
    {
      "parameters": {
        "jsCode": "const runId = $input.first().json.data.id;\nconst originalInput = $('Input Validation1').item.json;\nconst apifyToken = 'REDACTED_BY_REGEX'; \nconst maxRetries = 20; \nconst pollInterval = 5000; \n\nfor (let i = 0; i < maxRetries; i++) {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.apify.com/v2/actor-runs/${runId}?token=${apifyToken}`\n  });\n\n  const status = response.data.status;\n\n  if (status === 'SUCCEEDED') {\n    return [{\n      json: {\n        run_id: runId,\n        dataset_id: response.data.defaultDatasetId,\n        status: 'completed',\n        ...originalInput\n      }\n    }];\n  }\n\n  if (status === 'FAILED' || status === 'ABORTED' || status === 'TIMED-OUT') {\n    throw new Error(`Apify Run failed with status: ${status}`);\n  }\n\n  await new Promise(resolve => setTimeout(resolve, pollInterval));\n}\n\nthrow new Error('Apify timed out.');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        272
      ],
      "id": "c2aba354-ff9c-4469-bd66-d470fc1ce486",
      "name": "Poll Status1"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.dataset_id }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REDACTED_HEADER_VALUE"
            },
            {
              "name": "clean",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1712,
        272
      ],
      "id": "54373c3f-afcb-46fd-868e-b1ba30beab98",
      "name": "Fetch Results1"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\nconst originalInput = $node[\"Input Validation1\"].json;\nconst places = inputData.map(item => item.json);\nconst leads = [];\n\nfor (const place of places) {\n  // Extract Domain\n  let domain = null;\n  if (place.website) {\n    try {\n      const url = new URL(place.website.startsWith('http') ? place.website : 'https://' + place.website);\n      domain = url.hostname.replace(/^www\\./, '');\n    } catch (e) {\n      domain = null; \n    }\n  }\n  \n  // Clean Phone\n  let cleanPhone = place.phoneUnformatted || place.phone || null;\n\n  leads.push({\n    json: {\n        user_id: originalInput.user_id,\n        batch_id: originalInput.batch_id,\n        name: place.title || 'Unknown',\n        domain: domain,\n        phone: cleanPhone,\n        address: place.address || null,\n        \n        // ADDED THESE TWO LINES\n        rating: place.totalScore || 0,        // Maps from Apify totalScore\n        reviews_count: place.reviewsCount || 0, // Maps from Apify reviewsCount\n        \n        category: place.categoryName || 'Dentist',\n        status: 'raw',\n        created_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn leads;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        272
      ],
      "id": "861e8cee-4d82-465c-9916-307624451be6",
      "name": "Transform & Validate Leads"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appOiHgTrwpTaLJYN",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appOiHgTrwpTaLJYN"
        },
        "table": {
          "__rl": true,
          "value": "tblQwFiY5yufTsiJh",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appOiHgTrwpTaLJYN/tblQwFiY5yufTsiJh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "batch_id": "={{ $json.batch_id }}",
            "domain": "={{ $json.domain }}",
            "phone": "={{ $json.phone }}",
            "address": "={{ $json.address }}",
            "category": "={{ $json.category }}",
            "status": "={{ $json.status }}",
            "rating": "={{ $json.rating }}",
            "reviews_count": "={{ $json.reviews_count }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "batch_id",
              "displayName": "batch_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviews_count",
              "displayName": "reviews_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2144,
        272
      ],
      "id": "ae7d1f82-0434-4724-9908-8035688f3ed9",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "KohV0ktqqTP9SWgk",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get all leads processed in this run\nconst insertedLeads = $input.all();\n\n// 2. FIXED: Reference the correct node name 'Input Validation1'\nconst originalInput = $node[\"Input Validation1\"].json;\n\n// 3. Create the summary object for Airtable update\nconst summary = {\n  batch_id: originalInput.batch_id,\n  user_id: originalInput.user_id,\n  total_leads: insertedLeads.length,\n  started_at: originalInput.started_at,\n  completed_at: new Date().toISOString(),\n  search_query: originalInput.search_query,\n  status: 'completed'\n};\n\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        272
      ],
      "id": "3acb703e-87e0-4dfb-a5f7-8c118d289ec8",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appOiHgTrwpTaLJYN",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appOiHgTrwpTaLJYN"
        },
        "table": {
          "__rl": true,
          "value": "tbljbw1L2Z2zpD02x",
          "mode": "list",
          "cachedResultName": "Batches",
          "cachedResultUrl": "https://airtable.com/appOiHgTrwpTaLJYN/tbljbw1L2Z2zpD02x"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "batch_id": "={{ $json.batch_id }}",
            "user_id": "={{ $json.user_id }}",
            "search_query": "={{ $json.search_query }}",
            "started_at": "={{ $json.started_at }}",
            "total_leads": "={{ $json.total_leads }}",
            "status": "={{ $json.status }}",
            "id": "={{ $json.user_id }}",
            "Leads": "{{ $node[\"Create a record\"].json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "batch_id",
              "displayName": "batch_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "search_query",
              "displayName": "search_query",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_leads",
              "displayName": "total_leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Leads",
              "displayName": "Leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2560,
        272
      ],
      "id": "add72797-fa7e-4b2d-9367-01b95cdb00c0",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "KohV0ktqqTP9SWgk",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Access the data inside the 'fields' object\nconst item = $input.first().json;\nconst data = item.fields || {}; \n\n// 2. Calculate duration using the correct fields\n// Note: If completed_at isn't in 'fields', we use the current time\nconst completedAt = data.completed_at || new Date().toISOString();\nconst startedAt = data.started_at;\n\nconst duration = new Date(completedAt) - new Date(startedAt);\nconst durationSeconds = Math.round(duration / 1000) || 0;\n\n// 3. Return the corrected summary\nreturn [{\n  json: {\n    workflow: '02_HUNTER',\n    status: 'success',\n    batch_id: data.batch_id,\n    total_leads: data.total_leads || 0, // FIXED: Now pulls from fields\n    search_query: data.search_query,\n    duration_seconds: durationSeconds,\n    message: `Successfully found ${data.total_leads || 0} leads in ${durationSeconds} seconds`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        272
      ],
      "id": "eb2b8e59-e1a6-4832-a457-72b2cefcf341",
      "name": "Success Message1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb37c2f9-6c87-471e-871c-c1c7a0f24b2c",
              "name": "batch_id",
              "value": "={{ $json.body.batch_id }}",
              "type": "string"
            },
            {
              "id": "1fce52f9-5a3b-41f1-a4b8-388e97f8c331",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "cfd877ea-34fe-43a4-9cd2-e79ca2ea7b85",
              "name": "industry",
              "value": "={{ $json.body.industry }}",
              "type": "string"
            },
            {
              "id": "ff9f7a37-3078-4d81-839d-0b8cd15f01b9",
              "name": "location",
              "value": "={{ $json.body.location }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        688
      ],
      "id": "9649e381-b6b9-4fd9-a051-c7664ccb6e81",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"batch_id\": \"a9f9e451-edeb-4d3e-9f5b-4d8535a8bf76\",\n  \"user_id\": \"f1229eb0-7283-4f13-a917-fe1d41e516fd\",\n  \"industry\": \"Restaurants\",\n  \"location\": \"Casablanca\",\n  \"status\": \"raw\",\n  \"started_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        480
      ],
      "id": "63f7853d-61e0-4adb-8ebe-5a66074e4fad",
      "name": "TEST JSON"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the data from the Webhook 'body'\nconst input = $input.first().json.body || $input.first().json;\n\n// 2. Check for required technical IDs\nif (!input.user_id || !input.batch_id) {\n  throw new Error('Missing required fields: user_id and batch_id');\n}\n\n// 3. Extract industry and location from the new input structure\n// Industry replaces 'term' in your new schema\nlet industry = input.industry || \"\"; \nlet location = input.location || \"\";\n\n// 4. Return the formatted data for the next nodes\nreturn [{\n  json: {\n    term: industry,\n    location: location,\n    // Creates the string for Google Maps search, e.g., \"Restaurants Casablanca\"\n    search_query: `${industry} ${location}`.trim(), \n    batch_id: input.batch_id,\n    user_id: input.user_id,\n    started_at: new Date().toISOString(),\n    status: 'raw' // Helpful for your Airtable status column\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        480
      ],
      "id": "712803fc-0a8c-4b6e-b429-51a2d7ccb6ea",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the data from the Webhook 'body'\nconst input = $input.first().json.body || $input.first().json;\n\n// 2. Check for required technical IDs\nif (!input.user_id || !input.batch_id) {\n  throw new Error('Missing required fields: user_id and batch_id');\n}\n\n// 3. Extract industry and location from the new input structure\n// Industry replaces 'term' in your new schema\nlet industry = input.industry || \"\"; \nlet location = input.location || \"\";\n\n// 4. Return the formatted data for the next nodes\nreturn [{\n  json: {\n    term: industry,\n    location: location,\n    // Creates the string for Google Maps search, e.g., \"Restaurants Casablanca\"\n    search_query: `${industry} ${location}`.trim(), \n    batch_id: input.batch_id,\n    user_id: input.user_id,\n    started_at: new Date().toISOString(),\n    status: 'raw' // Helpful for your Airtable status column\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        688
      ],
      "id": "b26c6616-acdf-448c-8f2d-b8d0ea668cf6",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REDACTED_HEADER_VALUE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchStringsArray\": [\n    \"{{ $json.search_query }}\"\n  ],\n  \"includeWebsites\": true,\n  \"language\": \"en\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        480
      ],
      "id": "2132a935-0f30-48c5-b64b-f063c01fed2d",
      "name": "Start Apify Run"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the runId from the Apify \"Start Run\" node output\nconst inputJson = $input.first().json;\nconst runId = inputJson.data ? inputJson.data.id : inputJson.id;\n\n// 2. FIXED: Reference the Validation node with a fallback\nlet originalInput;\ntry {\n  originalInput = $node[\"Input Validation1\"].json;\n} catch (e) {\n  // Use fallback data for manual testing purposes\n  originalInput = {\n    batch_id: \"testing-fallback-id\",\n    user_id: \"testing-user-id\",\n    industry: \"Restaurants\",\n    location: \"Casablanca\"\n  };\n}\n\nconst apifyToken = 'REDACTED_BY_REGEX'; \nconst maxRetries = 20; \nconst pollInterval = 5000; \n\nfor (let i = 0; i < maxRetries; i++) {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.apify.com/v2/actor-runs/${runId}?token=${apifyToken}`\n  });\n\n  const status = response.data.status;\n\n  if (status === 'SUCCEEDED') {\n    return [{\n      json: {\n        run_id: runId,\n        dataset_id: response.data.defaultDatasetId,\n        status: 'completed',\n        ...originalInput // Spreads the industry and location\n      }\n    }];\n  }\n\n  if (status === 'FAILED' || status === 'ABORTED' || status === 'TIMED-OUT') {\n    throw new Error(`Apify Run failed with status: ${status}`);\n  }\n\n  await new Promise(resolve => setTimeout(resolve, pollInterval));\n}\n\nthrow new Error('Apify timed out.');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        480
      ],
      "id": "a42f8278-1036-4c44-94fe-1b4f1a5603d0",
      "name": "Poll Status"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.dataset_id }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REDACTED_HEADER_VALUE"
            },
            {
              "name": "clean",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1744,
        480
      ],
      "id": "b6a11b8a-1d86-4c61-bf93-a4cef11985e1",
      "name": "Fetch Results"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get all raw results from the Apify Dataset node\nconst inputData = $input.all();\n\n// 2. FIXED: Reference the Validation node with a fallback to prevent \"Not Executed\" errors\nlet originalInput;\ntry {\n  originalInput = $node[\"Input Validation1\"].json;\n} catch (e) {\n  // Use fallback data for testing if the previous node hasn't run\n  originalInput = {\n    user_id: \"test-user\",\n    batch_id: \"test-batch\",\n    industry: \"Restaurants\" \n  };\n}\n\nconst places = inputData.map(item => item.json);\nconst leads = [];\n\nfor (const place of places) {\n  // Extract Domain\n  let domain = null;\n  if (place.website) {\n    try {\n      const url = new URL(place.website.startsWith('http') ? place.website : 'https://' + place.website);\n      domain = url.hostname.replace(/^www\\./, '');\n    } catch (e) {\n      domain = null; \n    }\n  }\n  \n  // Clean Phone\n  let cleanPhone = place.phoneUnformatted || place.phone || null;\n\n  leads.push({\n    json: {\n        user_id: originalInput.user_id,\n        batch_id: originalInput.batch_id,\n        name: place.title || 'Unknown',\n        domain: domain,\n        phone: cleanPhone,\n        address: place.address || null,\n        \n        // Performance Metrics\n        rating: place.totalScore || 0,\n        reviews_count: place.reviewsCount || 0,\n        \n        // Updated to use the industry from your new webhook\n        category: originalInput.industry || place.categoryName || 'General',\n        \n        status: 'raw',\n        created_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn leads;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        480
      ],
      "id": "a3608bcf-989b-4b88-a6b3-1436281aa12e",
      "name": "Transform & Validate Leads1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appOiHgTrwpTaLJYN",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appOiHgTrwpTaLJYN"
        },
        "table": {
          "__rl": true,
          "value": "tblQwFiY5yufTsiJh",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appOiHgTrwpTaLJYN/tblQwFiY5yufTsiJh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "batch_id": "={{ $json.batch_id }}",
            "domain": "={{ $json.domain }}",
            "phone": "={{ $json.phone }}",
            "address": "={{ $json.address }}",
            "category": "={{ $json.category }}",
            "status": "={{ $json.status }}",
            "rating": "={{ $json.rating }}",
            "reviews_count": "={{ $json.reviews_count }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "batch_id",
              "displayName": "batch_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviews_count",
              "displayName": "reviews_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2176,
        480
      ],
      "id": "9dabbe42-9a5f-47c3-a5b6-b9d62679608c",
      "name": "Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "KohV0ktqqTP9SWgk",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get all leads processed in this run\nconst insertedLeads = $input.all();\n\n// 2. FIXED: Reference the correct node name with a fallback\nlet originalInput;\ntry {\n  originalInput = $node[\"Input Validation1\"].json;\n} catch (e) {\n  // Fallback for testing individual nodes\n  originalInput = {\n    batch_id: \"test-batch\",\n    user_id: \"test-user\",\n    started_at: new Date().toISOString(),\n    search_query: \"Restaurants Casablanca\"\n  };\n}\n\n// 3. Create the summary object for Airtable update\nconst summary = {\n  batch_id: originalInput.batch_id,\n  user_id: originalInput.user_id,\n  total_leads: insertedLeads.length, // Counts the found restaurants\n  started_at: originalInput.started_at,\n  completed_at: new Date().toISOString(),\n  search_query: originalInput.search_query,\n  status: 'completed'\n};\n\n// 4. Return as a single item for the final Airtable Update node\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        480
      ],
      "id": "9d7ba053-a0b3-449f-8210-28c8beeafcf5",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appOiHgTrwpTaLJYN",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appOiHgTrwpTaLJYN"
        },
        "table": {
          "__rl": true,
          "value": "tbljbw1L2Z2zpD02x",
          "mode": "list",
          "cachedResultName": "Batches",
          "cachedResultUrl": "https://airtable.com/appOiHgTrwpTaLJYN/tbljbw1L2Z2zpD02x"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "batch_id": "={{ $json.batch_id }}",
            "user_id": "={{ $json.user_id }}",
            "search_query": "={{ $json.search_query }}",
            "started_at": "={{ $json.started_at }}",
            "total_leads": "={{ $json.total_leads }}",
            "status": "={{ $json.status }}",
            "id": "={{ $json.user_id }}",
            "Leads": "{{ $node[\"Create a record\"].json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "batch_id",
              "displayName": "batch_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "search_query",
              "displayName": "search_query",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_leads",
              "displayName": "total_leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Leads",
              "displayName": "Leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2592,
        480
      ],
      "id": "8a90db5c-9e5a-45ca-b915-e41749c30d80",
      "name": "Create or update a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "KohV0ktqqTP9SWgk",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Access the data inside the 'fields' object\nconst item = $input.first().json;\nconst data = item.fields || {}; \n\n// 2. Calculate duration using the correct fields\n// Note: If completed_at isn't in 'fields', we use the current time\nconst completedAt = data.completed_at || new Date().toISOString();\nconst startedAt = data.started_at;\n\nconst duration = new Date(completedAt) - new Date(startedAt);\nconst durationSeconds = Math.round(duration / 1000) || 0;\n\n// 3. Return the corrected summary\nreturn [{\n  json: {\n    workflow: '02_HUNTER',\n    status: 'success',\n    batch_id: data.batch_id,\n    total_leads: data.total_leads || 0, // FIXED: Now pulls from fields\n    search_query: data.search_query,\n    duration_seconds: durationSeconds,\n    message: `Successfully found ${data.total_leads || 0} leads in ${durationSeconds} seconds`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        480
      ],
      "id": "f86945c7-89c6-4715-b516-995286cff7f3",
      "name": "Success Message"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Map Webhook Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Map Webhook Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "TEST JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Webhook Data1": {
      "main": [
        [
          {
            "node": "Input Validation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation1": {
      "main": [
        [
          {
            "node": "Start Apify Run1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Run1": {
      "main": [
        [
          {
            "node": "Poll Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Status1": {
      "main": [
        [
          {
            "node": "Fetch Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Results1": {
      "main": [
        [
          {
            "node": "Transform & Validate Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform & Validate Leads": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record": {
      "main": [
        [
          {
            "node": "Success Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST JSON": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Run": {
      "main": [
        [
          {
            "node": "Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Status": {
      "main": [
        [
          {
            "node": "Fetch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Results": {
      "main": [
        [
          {
            "node": "Transform & Validate Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform & Validate Leads1": {
      "main": [
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Create or update a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record1": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Start Apify Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Start Apify Run1": [
      {
        "json": {
          "data": {
            "id": "LwM9FoVq374YqqsuB",
            "actId": "nwua9Gu5YrADL7ZDj",
            "userId": "yThN0TCRAqN27aFbF",
            "startedAt": "2025-12-24T17:04:30.045Z",
            "finishedAt": null,
            "status": "READY",
            "meta": {
              "origin": "API",
              "userAgent": "axios/1.12.0"
            },
            "stats": {
              "inputBodyLen": 689,
              "migrationCount": 0,
              "rebootCount": 0,
              "restartCount": 0,
              "resurrectCount": 0,
              "computeUnits": 0
            },
            "options": {
              "build": "latest",
              "timeoutSecs": 604800,
              "memoryMbytes": 4096,
              "maxTotalChargeUsd": 4.536658,
              "diskMbytes": 8192
            },
            "buildId": "9IAQvhKgC9nIUtkaF",
            "defaultKeyValueStoreId": "sGBinbHmUMXZDyB7H",
            "defaultDatasetId": "csIeLbi9SDbFb3b1o",
            "defaultRequestQueueId": "1uUTc19CIqk9UJ9ZU",
            "pricingInfo": {
              "minimalMaxTotalChargeUsd": 0.5,
              "pricingModel": "PAY_PER_EVENT",
              "isPriceChangeNotificationSuppressed": true,
              "createdAt": "2025-12-09T16:42:47.973Z",
              "startedAt": "2025-12-09T16:42:47.973Z",
              "apifyMarginPercentage": 0.2,
              "pricingPerEvent": {
                "actorChargeEvents": {
                  "actor-start": {
                    "eventTitle": "Actor start",
                    "eventDescription": "Flat fee for starting an Actor run. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": true,
                    "eventPriceUsd": 0.007
                  },
                  "place-scraped": {
                    "eventTitle": "Place scraped",
                    "eventDescription": "Cost per place successfully scraped from Google Maps. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.004
                  },
                  "filter-applied": {
                    "eventTitle": "Add-on: Filter applied",
                    "eventDescription": "Extra cost per place for each filter applied (e.g. category, title match, minimum stars, website availability, or skipping closed places). Final price = places scraped * filter price * number of filters. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.001
                  },
                  "place-details-scraped": {
                    "eventTitle": "Add-on: Additional place details scraped",
                    "eventDescription": "Flat cost per place to retrieve additional place details (e.g. table reservation data, web results, or max questions). The price remains the same no matter how many details you select. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.002
                  },
                  "contact-details-scraped": {
                    "eventTitle": "Add-on: Company contacts enrichment",
                    "eventDescription": "Extra cost per place for finding the associated web page and extracting contact information (e.g. social media accounts or company email). <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.002
                  },
                  "lead-scraped": {
                    "eventTitle": "Add-on: Business leads enrichment",
                    "eventDescription": "Cost per successfully extracted business lead. Get key prospect details: full name, work email, phone number, job title, and LinkedIn profile. Enable the 'scrape places with website' filter to only show places that have an active website. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.1
                  },
                  "social-profile-scraped": {
                    "eventTitle": "Add-on: Social media profile enrichment",
                    "eventDescription": "Flat cost per 1,000 social media profiles enriched with detailed data (e.g., follower counts, profile name, description). This price applies to the total number of profiles enriched, regardless of how many different platforms (Facebook, TikTok, etc.) you select.",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.1
                  },
                  "review-scraped": {
                    "eventTitle": "Add-on: Review scraped",
                    "eventDescription": "Extra cost per individual review scraped. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.0005
                  },
                  "image-scraped": {
                    "eventTitle": "Add-on: Image scraped",
                    "eventDescription": "Extra cost per image retrieved from a place, including author details. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details</a>",
                    "isOneTimeEvent": false,
                    "eventPriceUsd": 0.0005
                  }
                }
              }
            },
            "chargedEventCounts": {
              "actor-start": 0,
              "place-scraped": 0,
              "filter-applied": 0,
              "place-details-scraped": 0,
              "contact-details-scraped": 0,
              "lead-scraped": 0,
              "social-profile-scraped": 0,
              "review-scraped": 0,
              "image-scraped": 0
            },
            "platformUsageBillingModel": "DEVELOPER",
            "accountedChargedEventCounts": {
              "actor-start": 0,
              "place-scraped": 0,
              "filter-applied": 0,
              "place-details-scraped": 0,
              "contact-details-scraped": 0,
              "lead-scraped": 0,
              "social-profile-scraped": 0,
              "review-scraped": 0,
              "image-scraped": 0
            },
            "generalAccess": "FOLLOW_USER_SETTING",
            "buildNumber": "0.14.536",
            "containerUrl": "https://gitfyx6jlqi2.runs.apify.net",
            "usageTotalUsd": 0
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Fetch Results1": [
      {
        "json": {
          "title": "Peak Dental of Lakewood",
          "price": null,
          "categoryName": "Dentist",
          "address": "13616 Madison Ave, Lakewood, OH 44107",
          "neighborhood": null,
          "street": "13616 Madison Ave",
          "city": "Lakewood",
          "postalCode": "44107",
          "state": "Ohio",
          "countryCode": "US",
          "website": "http://peakdentaloflakewood.com/?utm_source=gbp&utm_medium=organic&utm_campaign=yext_listing",
          "phone": "(216) 859-0607",
          "phoneUnformatted": "+12168590607",
          "claimThisBusiness": false,
          "location": {
            "lat": 41.47723,
            "lng": -81.78746
          },
          "totalScore": 4.5,
          "permanentlyClosed": false,
          "temporarilyClosed": false,
          "placeId": "ChIJpwemLQXyMIgRTdhtlbvSfZY",
          "categories": [
            "Dentist"
          ],
          "fid": "0x8830f2052da607a7:0x967dd2bb956dd84d",
          "cid": "10844055180885743693",
          "reviewsCount": 415,
          "imagesCount": 11,
          "imageCategories": [],
          "scrapedAt": "2025-12-24T17:04:36.741Z",
          "googleFoodUrl": null,
          "hotelAds": [],
          "openingHours": [
            {
              "day": "Monday",
              "hours": "8 AM to 5 PM"
            },
            {
              "day": "Tuesday",
              "hours": "8 AM to 5 PM"
            },
            {
              "day": "Wednesday",
              "hours": "8 AM to 5 PM"
            },
            {
              "day": "Thursday",
              "hours": "8 AM to 3 PM"
            },
            {
              "day": "Friday",
              "hours": "8 AM to 3 PM"
            },
            {
              "day": "Saturday",
              "hours": "Closed"
            },
            {
              "day": "Sunday",
              "hours": "Closed"
            }
          ],
          "peopleAlsoSearch": [],
          "placesTags": [],
          "reviewsTags": [],
          "additionalInfo": {
            "Accessibility": [
              {
                "Wheelchair accessible entrance": true
              },
              {
                "Wheelchair accessible parking lot": true
              },
              {
                "Wheelchair accessible restroom": true
              },
              {
                "Wheelchair accessible seating": true
              }
            ],
            "Offerings": [
              {
                "Cosmetic dentistry": true
              },
              {
                "Emergency services": true
              }
            ],
            "Amenities": [
              {
                "Gender-neutral restroom": true
              },
              {
                "Restroom": true
              }
            ],
            "Crowd": [
              {
                "LGBTQ+ friendly": true
              },
              {
                "Transgender safespace": true
              }
            ],
            "Planning": [
              {
                "Appointment required": true
              },
              {
                "Appointments recommended": true
              }
            ],
            "Payments": [
              {
                "Credit cards": true
              },
              {
                "Debit cards": true
              },
              {
                "NFC mobile payments": true
              },
              {
                "Payment plans": true
              },
              {
                "Credit cards": true
              }
            ]
          },
          "gasPrices": [],
          "url": "https://www.google.com/maps/search/?api=1&query=Peak%20Dental%20of%20Lakewood&query_place_id=ChIJpwemLQXyMIgRTdhtlbvSfZY",
          "searchPageUrl": "https://www.google.com/maps/search/Dentists%20Miami?hl=en",
          "searchString": "Dentists Miami",
          "language": "en",
          "rank": 1,
          "isAdvertisement": false,
          "imageUrl": "https://lh3.googleusercontent.com/p/AF1QipP9RIQPkqAL0JNHaWnOgpCEMr78GoZ4fERoKzvy=w408-h271-k-no",
          "kgmid": "/g/1vd71zlz"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "title": "All Smiles Dentistry Miami",
          "price": null,
          "categoryName": "Dentist",
          "address": "150 SE 2nd Ave STE 604, Miami, FL 33131",
          "neighborhood": "Downtown Miami",
          "street": "150 SE 2nd Ave STE 604",
          "city": "Miami",
          "postalCode": "33131",
          "state": "Florida",
          "countryCode": "US",
          "website": "https://miamidental.net/",
          "phone": "(305) 371-6064",
          "phoneUnformatted": "+13053716064",
          "claimThisBusiness": false,
          "location": {
            "lat": 25.7729969,
            "lng": -80.1903322
          },
          "totalScore": 4.9,
          "permanentlyClosed": false,
          "temporarilyClosed": false,
          "placeId": "ChIJkdeQKFDA2YgRpaDPJCQgHEQ",
          "categories": [
            "Dentist",
            "Cosmetic dentist",
            "Dental clinic",
            "Dental hygienist",
            "Dental implants periodontist",
            "Dental implants provider",
            "Emergency dental service",
            "Endodontist",
            "Oral surgeon",
            "Periodontist"
          ],
          "fid": "0x88d9c0502890d791:0x441c202424cfa0a5",
          "cid": "4907833033535496357",
          "reviewsCount": 398,
          "imagesCount": 24,
          "imageCategories": [],
          "scrapedAt": "2025-12-24T17:04:36.742Z",
          "googleFoodUrl": null,
          "hotelAds": [],
          "openingHours": [
            {
              "day": "Monday",
              "hours": "8:20 AM to 5 PM"
            },
            {
              "day": "Tuesday",
              "hours": "8:20 AM to 5 PM"
            },
            {
              "day": "Wednesday",
              "hours": "8:20 AM to 5 PM"
            },
            {
              "day": "Thursday",
              "hours": "8:20 AM to 5 PM"
            },
            {
              "day": "Friday",
              "hours": "Closed"
            },
            {
              "day": "Saturday",
              "hours": "Closed"
            },
            {
              "day": "Sunday",
              "hours": "Closed"
            }
          ],
          "peopleAlsoSearch": [],
          "placesTags": [],
          "reviewsTags": [],
          "additionalInfo": {
            "Service options": [
              {
                "Onsite services": true
              },
              {
                "English": true
              }
            ],
            "Accessibility": [
              {
                "Wheelchair accessible entrance": true
              },
              {
                "Wheelchair accessible parking lot": true
              },
              {
                "Wheelchair accessible restroom": true
              },
              {
                "Wheelchair accessible seating": true
              }
            ],
            "Offerings": [
              {
                "Cosmetic dentistry": true
              },
              {
                "Emergency services": true
              }
            ],
            "Amenities": [
              {
                "Restroom": true
              }
            ],
            "Crowd": [
              {
                "LGBTQ+ friendly": true
              },
              {
                "Transgender safespace": true
              }
            ],
            "Planning": [
              {
                "Appointments recommended": true
              }
            ],
            "Payments": [
              {
                "Credit cards": true
              },
              {
                "Debit cards": true
              },
              {
                "NFC mobile payments": true
              },
              {
                "Payment plans": true
              }
            ],
            "Parking": [
              {
                "On-site parking": true
              }
            ]
          },
          "gasPrices": [],
          "url": "https://www.google.com/maps/search/?api=1&query=All%20Smiles%20Dentistry%20Miami&query_place_id=ChIJkdeQKFDA2YgRpaDPJCQgHEQ",
          "searchPageUrl": "https://www.google.com/maps/search/Dentists%20Miami?hl=en",
          "searchString": "Dentists Miami",
          "language": "en",
          "rank": 2,
          "isAdvertisement": false,
          "imageUrl": "https://lh3.googleusercontent.com/p/AF1QipNsEapSgPWLJ7sfIliUZuO2FFkgpUafnjMidii0=w408-h266-k-no",
          "kgmid": "/g/1tdf24s6"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "title": "Midtown Dental Miami",
          "price": null,
          "categoryName": "Dentist",
          "address": "3915 Biscayne Blvd Unit 306, Miami, FL 33137",
          "neighborhood": "Upper East Side",
          "street": "3915 Biscayne Blvd Unit 306",
          "city": "Miami",
          "postalCode": "33137",
          "state": "Florida",
          "countryCode": "US",
          "website": "http://www.midtowndentalmiami.com/",
          "phone": "(305) 598-6070",
          "phoneUnformatted": "+13055986070",
          "claimThisBusiness": false,
          "location": {
            "lat": 25.8135776,
            "lng": -80.1888198
          },
          "totalScore": 4.4,
          "permanentlyClosed": false,
          "temporarilyClosed": false,
          "placeId": "ChIJQzJHv1ex2YgRMdj_j6kkb0c",
          "categories": [
            "Dentist",
            "Dental",
            "Dental clinic",
            "Dental hygienist",
            "Dental implants periodontist",
            "Orthodontist",
            "Teeth whitening service"
          ],
          "fid": "0x88d9b157bf473243:0x476f24a98fffd831",
          "cid": "5147373209791748145",
          "reviewsCount": 136,
          "imagesCount": 12,
          "imageCategories": [],
          "scrapedAt": "2025-12-24T17:04:36.742Z",
          "googleFoodUrl": null,
          "hotelAds": [],
          "openingHours": [
            {
              "day": "Monday",
              "hours": "8 AM to 5 PM"
            },
            {
              "day": "Tuesday",
              "hours": "8 AM to 5 PM"
            },
            {
              "day": "Wednesday",
              "hours": "10 AM to 7 PM"
            },
            {
              "day": "Thursday",
              "hours": "8 AM to 5 PM"
            },
            {
              "day": "Friday",
              "hours": "9 AM to 4 PM"
            },
            {
              "day": "Saturday",
              "hours": "8 AM to 12 PM"
            },
            {
              "day": "Sunday",
              "hours": "Closed"
            }
          ],
          "peopleAlsoSearch": [],
          "placesTags": [],
          "reviewsTags": [],
          "additionalInfo": {
            "Accessibility": [
              {
                "Wheelchair accessible entrance": true
              },
              {
                "Wheelchair accessible parking lot": true
              },
              {
                "Wheelchair accessible restroom": true
              }
            ],
            "Offerings": [
              {
                "Cosmetic dentistry": true
              },
              {
                "Emergency services": true
              },
              {
                "Pediatric care": true
              }
            ],
            "Amenities": [
              {
                "Restroom": true
              }
            ],
            "Planning": [
              {
                "Appointments recommended": true
              }
            ],
            "Payments": [
              {
                "Credit cards": true
              },
              {
                "Debit cards": true
              },
              {
                "NFC mobile payments": true
              },
              {
                "Credit cards": true
              }
            ]
          },
          "gasPrices": [],
          "url": "https://www.google.com/maps/search/?api=1&query=Midtown%20Dental%20Miami&query_place_id=ChIJQzJHv1ex2YgRMdj_j6kkb0c",
          "searchPageUrl": "https://www.google.com/maps/search/Dentists%20Miami?hl=en",
          "searchString": "Dentists Miami",
          "language": "en",
          "rank": 3,
          "isAdvertisement": false,
          "imageUrl": "https://lh3.googleusercontent.com/gps-cs-s/AG0ilSwHhZGeF0swsbLOXTevhw60dXc13sZ1eJ7AHCjvkD82KmHlM2oEWIe858txaHg8iVy4EZi_4A9eFgsqdeWIpLF1kU_kB4mygZAOdMXCR4pejW0Cs-oXxTpZ4wLYMuTXyOwwPf1m=w408-h544-k-no",
          "kgmid": "/g/1yh80779p"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "title": "Alfonso Dental Miami",
          "price": null,
          "categoryName": "Dentist",
          "address": "351 NW 42nd Ave STE 402, Miami, FL 33126",
          "neighborhood": "Flagami",
          "street": "351 NW 42nd Ave STE 402",
          "city": "Miami",
          "postalCode": "33126",
          "state": "Florida",
          "countryCode": "US",
          "website": "https://alfonsodental305.com/",
          "phone": "(305) 642-4142",
          "phoneUnformatted": "+13056424142",
          "claimThisBusiness": false,
          "location": {
            "lat": 25.775533,
            "lng": -80.2635993
          },
          "totalScore": 5,
          "permanentlyClosed": false,
          "temporarilyClosed": false,
          "placeId": "ChIJOzkeHFu_2YgRSHlh6Ja0stg",
          "categories": [
            "Dentist",
            "Cosmetic dentist",
            "Dental clinic",
            "Dental hygienist",
            "Dental implants periodontist",
            "Denture care center",
            "Emergency dental service",
            "Endodontist",
            "Oral surgeon",
            "Periodontist"
          ],
          "fid": "0x88d9bf5b1c1e393b:0xd8b2b496e8617948",
          "cid": "15614741418283727176",
          "reviewsCount": 988,
          "imagesCount": 50,
          "imageCategories": [],
          "scrapedAt": "2025-12-24T17:04:36.742Z",
          "googleFoodUrl": null,
          "hotelAds": [],
          "openingHours": [
            {
              "day": "Monday",
              "hours": "9 AM to 6 PM"
            },
            {
              "day": "Tuesday",
              "hours": "9 AM to 6 PM"
            },
            {
              "day": "Wednesday",
              "hours": "9 AM to 6 PM"
            },
            {
              "day": "Thursday",
              "hours": "9 AM to 6 PM"
            },
            {
              "day": "Friday",
              "hours": "9 AM to 6 PM"
            },
            {
              "day": "Saturday",
              "hours": "Closed"
            },
            {
              "day": "Sunday",
              "hours": "Closed"
            }
          ],
          "peopleAlsoSearch": [],
          "placesTags": [],
          "reviewsTags": [],
          "additionalInfo": {
            "From the business": [
              {
                "Identifies as Latino-owned": true
              }
            ],
            "Service options": [
              {
                "Onsite services": true
              },
              {
                "English": true
              }
            ],
            "Accessibility": [
              {
                "Wheelchair accessible entrance": true
              },
              {
                "Wheelchair accessible parking lot": true
              },
              {
                "Wheelchair accessible restroom": true
              },
              {
                "Wheelchair accessible seating": true
              }
            ],
            "Offerings": [
              {
                "Cosmetic dentistry": true
              },
              {
                "Emergency services": true
              },
              {
                "Sedation dentistry": true
              }
            ],
            "Amenities": [
              {
                "Gender-neutral restroom": true
              },
              {
                "Restroom": true
              }
            ],
            "Crowd": [
              {
                "LGBTQ+ friendly": true
              },
              {
                "Transgender safespace": true
              }
            ],
            "Planning": [
              {
                "Appointment required": true
              },
              {
                "Appointments recommended": true
              }
            ],
            "Payments": [
              {
                "Credit cards": true
              },
              {
                "Debit cards": true
              },
              {
                "NFC mobile payments": true
              }
            ],
            "Parking": [
              {
                "On-site parking": true
              }
            ]
          },
          "gasPrices": [],
          "url": "https://www.google.com/maps/search/?api=1&query=Alfonso%20Dental%20Miami&query_place_id=ChIJOzkeHFu_2YgRSHlh6Ja0stg",
          "searchPageUrl": "https://www.google.com/maps/search/Dentists%20Miami?hl=en",
          "searchString": "Dentists Miami",
          "language": "en",
          "rank": 4,
          "isAdvertisement": false,
          "imageUrl": "https://lh3.googleusercontent.com/p/AF1QipNXU3RoH2m3Oim8Kcb9Tu2AhE6W1IAe8H9VUKPP=w408-h376-k-no",
          "kgmid": "/g/1xcbqf39"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "title": "Miami Dental Group of Kendall",
          "price": null,
          "categoryName": "Dentist",
          "address": "7755 SW 87th Ave STE 120, Miami, FL 33173",
          "neighborhood": null,
          "street": "7755 SW 87th Ave STE 120",
          "city": "Miami",
          "postalCode": "33173",
          "state": "Florida",
          "countryCode": "US",
          "website": "https://miamidentalgroup.com/",
          "phone": "(305) 271-0160",
          "phoneUnformatted": "+13052710160",
          "claimThisBusiness": false,
          "location": {
            "lat": 25.6975767,
            "lng": -80.3333292
          },
          "totalScore": 5,
          "permanentlyClosed": false,
          "temporarilyClosed": false,
          "placeId": "ChIJHRTDgm_H2YgR8L-eZF8B408",
          "categories": [
            "Dentist",
            "Cosmetic dentist",
            "Dental clinic",
            "Dental implants periodontist",
            "Dental implants provider",
            "Orthodontist",
            "Teeth whitening service"
          ],
          "fid": "0x88d9c76f82c3141d:0x4fe3015f649ebff0",
          "cid": "5756446257931272176",
          "reviewsCount": 1542,
          "imagesCount": 54,
          "imageCategories": [],
          "scrapedAt": "2025-12-24T17:04:36.743Z",
          "googleFoodUrl": null,
          "hotelAds": [],
          "openingHours": [
            {
              "day": "Monday",
              "hours": "8:30 AM to 6 PM"
            },
            {
              "day": "Tuesday",
              "hours": "8:30 AM to 6 PM"
            },
            {
              "day": "Wednesday",
              "hours": "7:30 AM to 4:30 PM"
            },
            {
              "day": "Thursday",
              "hours": "8:30 AM to 6 PM"
            },
            {
              "day": "Friday",
              "hours": "8:30 AM to 1 PM"
            },
            {
              "day": "Saturday",
              "hours": "Closed"
            },
            {
              "day": "Sunday",
              "hours": "Closed"
            }
          ],
          "peopleAlsoSearch": [],
          "placesTags": [],
          "reviewsTags": [],
          "additionalInfo": {
            "Accessibility": [
              {
                "Wheelchair accessible entrance": true
              },
              {
                "Wheelchair accessible parking lot": true
              },
              {
                "Wheelchair accessible restroom": true
              }
            ],
            "Offerings": [
              {
                "Cosmetic dentistry": true
              },
              {
                "Emergency services": true
              }
            ],
            "Amenities": [
              {
                "Gender-neutral restroom": true
              },
              {
                "Restroom": true
              }
            ],
            "Planning": [
              {
                "Appointments recommended": true
              }
            ],
            "Payments": [
              {
                "Credit cards": true
              },
              {
                "Debit cards": true
              },
              {
                "NFC mobile payments": true
              },
              {
                "Payment plans": true
              },
              {
                "Credit cards": true
              }
            ],
            "Parking": [
              {
                "On-site parking": true
              }
            ]
          },
          "gasPrices": [],
          "url": "https://www.google.com/maps/search/?api=1&query=Miami%20Dental%20Group%20of%20Kendall&query_place_id=ChIJHRTDgm_H2YgR8L-eZF8B408",
          "searchPageUrl": "https://www.google.com/maps/search/Dentists%20Miami?hl=en",
          "searchString": "Dentists Miami",
          "language": "en",
          "rank": 5,
          "isAdvertisement": false,
          "imageUrl": "https://lh3.googleusercontent.com/p/AF1QipPBGoUyVVulf6Rb0fj15pm2dZRRNUlKmfRv7kKu=w444-h240-k-no",
          "kgmid": "/g/11fl0xxbb6"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "c5272d17-4257-4717-9a66-38141f2cc23e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-24T16:11:25.942Z",
      "createdAt": "2025-12-24T16:11:25.942Z",
      "role": "workflow:owner",
      "workflowId": "1y6kw0xFymo0y0wu",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}