39.-build-a-free,-professional‑grade-rag-chatbot-with-n8n-OXDY5dLZwAJ3rbDr.json
{
  "updatedAt": "2025-12-10T14:56:51.647Z",
  "createdAt": "2025-10-23T15:06:03.418Z",
  "id": "OXDY5dLZwAJ3rbDr",
  "name": "39. Build a free, professional‑grade RAG chatbot with n8n",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        -32
      ],
      "id": "dc94483d-6ec2-4659-9b04-72d3658f5693",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HUgBuWJOD3ngv7CC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "golf",
          "mode": "list",
          "cachedResultName": "golf"
        },
        "embeddingBatchSize": 2,
        "options": {
          "pineconeNamespace": "golf"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        928,
        -32
      ],
      "id": "8dec43c3-eb07-40cd-8508-4f4a211da81b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3cI5NN2AcMBFbbuJ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "golf",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        208
      ],
      "id": "06071d54-585a-4a65-80f7-c4bb304c2f36",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "# Knowledge Base\n",
        "height": 940,
        "width": 860,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -192
      ],
      "id": "d2b7e84e-4d58-4f49-8f07-66f761507526",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG Chatbot\n",
        "height": 940,
        "width": 920,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        -192
      ],
      "id": "856a148d-7ba5-4752-b288-aa55e69227de",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI assistant specialized in providing information about All and Advanced Golf Rules. Your main goal is to answer questions accurately and precisely using the vector database, which contains comprehensive golf rules.\n\nProvide only information that comes directly from these documents or verified official golf regulations. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific rule numbers, sections, and examples whenever possible, and clearly indicate whether the information pertains to Basic, Advanced, Etiquette, or Tournament Rules.\n\nDeliver quick, reliable insights into golf rules without adding unnecessary details.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1632,
        -48
      ],
      "id": "b2d23deb-d3a4-4dd9-888c-e4fc26a3cbe8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1648,
        192
      ],
      "id": "65e62354-66bb-4760-b847-fbc290c7f901",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Returns documents related to All and Advanced Golf Rules",
        "topK": "=2"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1808,
        208
      ],
      "id": "4c303922-f5e5-4563-80b2-6bac59d74494",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1424,
        -48
      ],
      "id": "6c5d871f-4bd4-404d-a6f1-95f29fcfeab5",
      "name": "When chat message received",
      "webhookId": "30a321be-6815-4757-bd48-d99b709732f5"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "golf",
          "mode": "list",
          "cachedResultName": "golf"
        },
        "options": {
          "pineconeNamespace": "golf"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1632,
        368
      ],
      "id": "490731a9-00bc-4846-86f9-b7cbcc26e9e6",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3cI5NN2AcMBFbbuJ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1blMWzm_BmZG-q8DFUTIzYCPd29oSXANJ",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1blMWzm_BmZG-q8DFUTIzYCPd29oSXANJ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        544,
        -32
      ],
      "id": "25d662a9-61cb-4d88-b3c6-64ce6c48e371",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HUgBuWJOD3ngv7CC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        176
      ],
      "id": "71e51dbe-1942-4310-bb5e-df0a49088f67",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        944,
        368
      ],
      "id": "2fde5e4b-e601-436a-ad12-92b74d9de433",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1776,
        528
      ],
      "id": "ca6cef70-4118-41b6-8da3-671df9f08e5c",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "sfV0a9YWWEJMiOVo",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1552,
        544
      ],
      "id": "3c2dd006-1251-4e6c-a2ca-ed2aa0f65a74",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2000,
        400
      ],
      "id": "8ed5b927-91c0-4b1b-9787-5310a5837c46",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1504,
        160
      ],
      "id": "79cbf624-4941-4342-9dcf-4574dbf99f73",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KgsXR5Ga5dON4Aie",
          "name": "SEO"
        }
      }
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        []
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-12-10T14:55:17Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "063f78e0-814e-47b2-a8e4-29a27748e1a4",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-10-23T15:06:03.430Z",
      "createdAt": "2025-10-23T15:06:03.430Z",
      "role": "workflow:owner",
      "workflowId": "OXDY5dLZwAJ3rbDr",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}