40.-upload-unlimited-files-to-your-vector-database-from-google-drive-in-seconds!-MUNF5yn6uOEIJrSF.json
{
  "updatedAt": "2025-11-07T12:06:20.000Z",
  "createdAt": "2025-11-07T10:26:03.505Z",
  "id": "MUNF5yn6uOEIJrSF",
  "name": "40. Upload unlimited files to your vector database from Google Drive in seconds!",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        144
      ],
      "id": "7f777024-f38a-439d-a582-ef66ba9769fa",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HUgBuWJOD3ngv7CC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "appel",
          "mode": "list",
          "cachedResultName": "appel"
        },
        "embeddingBatchSize": 2,
        "options": {
          "pineconeNamespace": "Apple"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        160
      ],
      "id": "07ac0e3e-e08e-49fc-b8da-ad6167fe218b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Ab3NRBKxoGA4yNDL",
          "name": "appel"
        }
      }
    },
    {
      "parameters": {
        "content": "# Knowledge Base\n",
        "height": 748,
        "width": 1260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "62fc0f09-8171-4435-94f6-529e82cee85d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG Chatbot\n",
        "height": 940,
        "width": 920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        0
      ],
      "id": "8e8e0d6b-dde8-42de-865c-b69cc2b30535",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI assistant specialized in analyzing Apple’s quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q1 reports.\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1 or Q2.\n\nDeliver quick, reliable insights into Apple’s quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1552,
        144
      ],
      "id": "f8ae8bb9-1db5-4d31-ac78-242ad927f387",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "Returns documents related to Apple Q1 report, including financials, outlook, margins, and all key details from the earnings reports.",
        "topK": "=10"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1744,
        432
      ],
      "id": "9328495d-a4ac-4f4e-81ea-511c5e6bf362",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1312,
        144
      ],
      "id": "f977978d-5796-440b-a520-4de1bab151ba",
      "name": "When chat message received",
      "webhookId": "eb40ea76-f06a-488f-ba25-0bd900606f59"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "appel",
          "mode": "list",
          "cachedResultName": "appel"
        },
        "options": {
          "pineconeNamespace": "Apple"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1520,
        576
      ],
      "id": "d0e472af-874a-4a67-84df-07b27d619025",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "Ab3NRBKxoGA4yNDL",
          "name": "appel"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SPu2tAKIm_zXDUtUyIbt-w7I1myLXyyN",
          "mode": "list",
          "cachedResultName": "Appel",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SPu2tAKIm_zXDUtUyIbt-w7I1myLXyyN"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        96,
        144
      ],
      "id": "efcf2fd3-6f5a-4ae1-8e88-147c35ab2202",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HUgBuWJOD3ngv7CC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        384
      ],
      "id": "b02c2c8b-622c-471d-9d04-6d564e0f9114",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1SPu2tAKIm_zXDUtUyIbt-w7I1myLXyyN",
            "mode": "list",
            "cachedResultName": "Appel",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1SPu2tAKIm_zXDUtUyIbt-w7I1myLXyyN"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        384
      ],
      "id": "2ff45740-d96d-4919-bda3-88569c839ece",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HUgBuWJOD3ngv7CC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        384
      ],
      "id": "6d33976d-fab3-4107-a137-9eb77d6fc8a3",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HUgBuWJOD3ngv7CC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1584,
        352
      ],
      "id": "f9e8bee9-ed42-4ad3-99af-e0ed0f6e6c88",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        416
      ],
      "id": "b2e1787d-5f45-4113-b7b6-61c6e9d1a6a0",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        944,
        528
      ],
      "id": "c50bf342-da00-4d67-90c8-dee27ef42cfe",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Appel",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        352
      ],
      "id": "50241186-218d-4e7d-8a1f-1a16a33b3ab4",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1424,
        768
      ],
      "id": "b23761a4-9075-44f9-b0cd-f3bcf70c6137",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1904,
        608
      ],
      "id": "f4bc6557-ce7c-481c-ac7f-90954b0d9abe",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1424,
        352
      ],
      "id": "5b75ceb8-65ba-4196-8690-40ce42441831",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b5f6b98d-f468-4930-b46c-dc9656ed27f9",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-07T10:26:03.530Z",
      "createdAt": "2025-11-07T10:26:03.530Z",
      "role": "workflow:owner",
      "workflowId": "MUNF5yn6uOEIJrSF",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}