61--free-secretery_mcp-UqqwiulJSquUie3W.json
{
  "updatedAt": "2025-11-23T23:31:36.000Z",
  "createdAt": "2025-10-28T11:16:48.501Z",
  "id": "UqqwiulJSquUie3W",
  "name": "61- Free Secretery_MCP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "35588a02-6475-400d-b869-da05d7ed0f3a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "83b9e800-99d0-4e31-8032-ae81aebe86d1",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ab7184b-65ec-4ca5-a250-667667999220",
                    "leftValue": "={{ $json.message.photo[0] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        80
      ],
      "id": "e28b0f7b-6f49-4c7c-af2c-a17b5e5d1980",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "20b39541-487e-4ce9-9596-67ec3978cc0e",
              "name": "message.chat.id",
              "value": "ID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -80
      ],
      "id": "c3d6efc6-3c90-4008-a027-b051d8a95ae7",
      "name": "Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        96
      ],
      "id": "5adfd392-1ab8-4ee6-963a-cbc3079db719",
      "name": "Voice"
    },
    {
      "parameters": {
        "content": "# Text\n",
        "height": 176,
        "width": 1024,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -112
      ],
      "typeVersion": 1,
      "id": "bbeff8b1-27e1-48a4-beb3-1760bf78c6c3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Voice\n",
        "height": 176,
        "width": 1024,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        80
      ],
      "typeVersion": 1,
      "id": "d5125f04-5ac7-4ac6-b135-1da56e5bbffa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Image\n",
        "height": 272,
        "width": 1024,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        288
      ],
      "typeVersion": 1,
      "id": "a8962adb-5538-490f-b899-57a189473c81",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Inputs\n",
        "height": 720,
        "width": 1520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -128
      ],
      "typeVersion": 1,
      "id": "9a0286bd-c008-47c3-bffc-8549b310d036",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}",
        "options": {
          "systemMessage": "=time is {{ $now.toString() }}\nYou are the Parent Orchestrator Agent. Your job is to route and coordinate all incoming messages (text, voice, image, or API inputs) to the correct sub-agent or processing tool.\nThe current date and time is {{ $now.toString() }}.\n\nTools\n\nThink → Evaluate intent and decide which agent should handle the task.\n\nE-Mails Agent → Handles email-related queries: sending, replying, or managing inbox.\n\nCalendar Agent → Manages scheduling, retrieving, updating, or deleting calendar events. Handles Event IDs automatically (fetches from calendar before delete/update).\n\nWeb Search Agent → Fetches information from the internet (Google Search, Wikipedia, Hacker News).\n\nSocial Media Agent → Creates or manages posts on platforms like Twitter/X.\n\nRules\n\nRoute all inputs based on intent and context.\n\nUse Think when unsure which agent should handle a task.\n\nAlways return responses in simple, clear text (no Markdown, HTML, or emojis).\n\nConfirm every completed action: emails sent, events created/updated/deleted, posts published.\n\nKeep responses short, direct, and natural — like a helpful assistant.\n\nCalendar Management Rules – Auto Event ID Handling\n\nIf the user asks to delete, update, or reschedule an event:\n\nMatch events by title and approximate date/time, not Event ID.\n\nFetch Event ID automatically from the Get Many Events node.\n\nIf multiple events match, act on all matching events (or the most recent/upcoming one if specified).\n\nDo not ask the user for Event ID.\n\nIf a new time/date is mentioned, automatically delete or replace the old event.\n\nAlways confirm clearly, e.g.:\n\nOld event 'visite hassan' deleted. New event scheduled for November 4, 2025, from 9:00 AM to 11:00 AM.\n\nInstructions\n\nReceive the processed input (transcribed text, analyzed image, or direct message).\n\nDetermine intent using Think.\n\nRoute the task to the correct agent:\n\nE-Mails Agent\n\nCalendar Agent\n\nWeb Search Agent\n\nSocial Media Agent\n\nFor Calendar tasks:\n\nUse Get Many Events to find Event IDs.\n\nPerform delete/update actions automatically without asking the user.\n\nCreate new events as requested.\n\nSummarize results and return in simple plain text.\n\nExamples\n\n1️⃣ Input:\n\nWhat’s on my calendar tomorrow?\n\n\nAction: Calendar Agent → Retrieve events.\nOutput:\n\nYou have 2 events tomorrow: 10 AM – Project Review, 2 PM – Client Call.\n\n\n2️⃣ Input:\n\nSend an email to Sarah about the meeting.\n\n\nAction: E-Mails Agent → Draft and send.\nOutput:\n\nEmail sent to Sarah. Subject: Meeting Update.\n\n\n3️⃣ Input:\n\nSearch the latest AI news.\n\n\nAction: Web Search Agent → Fetch info.\nOutput:\n\nLatest AI news: OpenAI just announced a new API feature for developers.\n\n\n4️⃣ Input:\n\nPost on Twitter: Excited about our new product launch!\n\n\nAction: Social Media Agent → Publish post.\nOutput:\n\nTweet posted: 'Excited about our new product launch!'\n\n\n5️⃣ Input:\n\nDelete visite hassan for now and add it after 7 days at the same time.\n\n\nAction:\n\nFetch Event ID(s) for the most recent “visite hassan”.\n\nDelete those events.\n\nCreate a new “visite hassan” event 7 days later.\nOutput:\n\nOld event 'visite hassan' deleted. New event scheduled for November 4, 2025, from 9:00 AM to 11:00 AM."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1456,
        -48
      ],
      "id": "0c5f88ae-d3d8-4d5e-bfc2-1d989cbfed83",
      "name": "Orchestrator Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "content": "# Text\n\n",
        "height": 176,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        32
      ],
      "typeVersion": 1,
      "id": "f395b319-38a5-40cf-93e1-1fb6f00ac0ee",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Text\n\n",
        "height": 176,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        240
      ],
      "typeVersion": 1,
      "id": "b3c3b2d0-46fe-44e3-9ca4-7c9e3f94ffa2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Output\n",
        "height": 720,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        -128
      ],
      "typeVersion": 1,
      "id": "a5d17732-e59f-4e83-9133-f0d010d87f14",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1888,
        416
      ],
      "id": "bcc55e95-4b48-4877-8708-5a2b740c5d32",
      "name": "Think"
    },
    {
      "parameters": {
        "content": "# Orchestrator Agent\n\n",
        "height": 720,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        -144
      ],
      "typeVersion": 1,
      "id": "457c4dd8-0b71-4cd2-b94c-3f736e82e89b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1040,
        1488
      ],
      "id": "2244808f-ed70-4717-8f1c-f80ce75234f3",
      "name": "Google Search",
      "credentials": {
        "serpApi": {
          "id": "SrvSDfq8k1ngqvWj",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        864,
        1488
      ],
      "id": "9bb0d6ee-ee8d-4d7d-aa9e-f3a8c815e8e8",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "articleId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Article_ID', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        704,
        1472
      ],
      "id": "524e8a24-5027-41fb-99b8-30125dc0b8bd",
      "name": "Get an article in Hacker News"
    },
    {
      "parameters": {
        "content": "# Web Search Agent\n\n",
        "height": 496,
        "width": 1520,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        1152
      ],
      "typeVersion": 1,
      "id": "c93c09e3-8382-4700-83ba-33a60dd0b814",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "abdellahkrimo13@gmail.com",
          "mode": "list",
          "cachedResultName": "abdellahkrimo13@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1328,
        928
      ],
      "id": "07ab6068-bbd8-43b6-a612-7360e6c0e73d",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8HX6F1LWhek8AoYJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "abdellahkrimo13@gmail.com",
          "mode": "list",
          "cachedResultName": "abdellahkrimo13@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1696,
        960
      ],
      "id": "4e2cc604-7f35-4424-893c-64646853e3be",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8HX6F1LWhek8AoYJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "abdellahkrimo13@gmail.com",
          "mode": "list",
          "cachedResultName": "abdellahkrimo13@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1824,
        976
      ],
      "id": "ac7739ba-17cd-4025-90d4-a5642725a199",
      "name": "Get Many Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8HX6F1LWhek8AoYJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "abdellahkrimo13@gmail.com",
          "mode": "list",
          "cachedResultName": "abdellahkrimo13@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1984,
        944
      ],
      "id": "2acc2d37-8ae4-4e10-b3b0-32350d7807ee",
      "name": "Update Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8HX6F1LWhek8AoYJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        368,
        960
      ],
      "id": "f09a173c-5de4-46ca-983e-ded0bf9f307e",
      "name": "Send a message",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "abdellahkr13"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        528,
        960
      ],
      "id": "91036a77-5eab-4cd4-86f2-f3a6252ba3d2",
      "name": "Get many e-mails",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "abdellahkr13"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        688,
        960
      ],
      "id": "0829af19-f405-4bcc-a6d6-8c77b5079fdd",
      "name": "Mark as read",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "abdellahkr13"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        896,
        960
      ],
      "id": "c891916f-cddf-47ae-9bb3-e072bfb48ebe",
      "name": "Mark as unread",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "abdellahkr13"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1072,
        960
      ],
      "id": "9631d8ec-48d8-4fd4-9f63-1272ef923cb3",
      "name": "Reply to e-mail",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "abdellahkr13"
        }
      }
    },
    {
      "parameters": {
        "content": "# E-Mail Agent\n\n\n",
        "height": 496,
        "width": 1520,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        624
      ],
      "typeVersion": 1,
      "id": "b105892e-6ee5-412d-866a-65d5ed8627d5",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Calender Agent\n\n\n",
        "height": 496,
        "width": 1568,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        624
      ],
      "typeVersion": 1,
      "id": "53f236de-42ac-469b-8c13-cc096cba3c00",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "path": "emails"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        544,
        720
      ],
      "id": "c9825ee4-5b2e-408f-a496-95d6372e1424",
      "name": "MCP Server Trigger",
      "webhookId": "7aebc8f8-e779-4eed-8874-f9497baac92c"
    },
    {
      "parameters": {
        "path": "calendar"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        1376,
        720
      ],
      "id": "0a34d74e-99fe-4e88-b7e2-11a9c06ef30b",
      "name": "MCP Server Trigger1",
      "webhookId": "7aebc8f8-e779-4eed-8874-f9497baac92c",
      "disabled": true
    },
    {
      "parameters": {
        "path": "websearch"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        720,
        1232
      ],
      "id": "2d140661-4692-4ef9-8e5f-133c39e13f8a",
      "name": "MCP Server Trigger2",
      "webhookId": "7aebc8f8-e779-4eed-8874-f9497baac92c"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        944
      ],
      "id": "1ea65436-78b3-4204-9394-5cdbd900e536",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2352,
        880
      ],
      "id": "6c7e440b-a35b-4b9d-8e25-445e8896ff02",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:5678/mcp/emails",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        160,
        944
      ],
      "id": "e4f3d561-c905-41b0-9470-8cea7d6a7f1c",
      "name": "MCP Email Client"
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:5678/mcp/calendar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        2592,
        800
      ],
      "id": "83fbc6c0-866c-4c8c-a26c-9ac80c996323",
      "name": "MCP Calendar Client"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        96
      ],
      "id": "30fb1b22-77c6-4510-9675-ab475ca5b581",
      "name": "Telegram Trigger",
      "webhookId": "29baba86-48b1-4f93-af3b-2a96e7cd47b1",
      "credentials": {
        "telegramApi": {
          "id": "4Zx2OD8qIls5skix",
          "name": "Telegram NGRK MG"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2320,
        48
      ],
      "id": "785b100f-1d66-49de-8c37-bcafdc320477",
      "name": "Send a text message",
      "webhookId": "e4bed5dc-7fed-4211-992c-df8039755f26",
      "credentials": {
        "telegramApi": {
          "id": "4Zx2OD8qIls5skix",
          "name": "Telegram NGRK MG"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2592,
        256
      ],
      "id": "95d28883-dadd-4649-ba2c-131e3ad2aa72",
      "name": "Send an audio file",
      "webhookId": "f395ebe1-6b08-4000-ad8a-cec809b89e39",
      "credentials": {
        "telegramApi": {
          "id": "4Zx2OD8qIls5skix",
          "name": "Telegram NGRK MG"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[2].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        368
      ],
      "id": "0b8382a3-fdfb-4bd8-8930-6252cb1ad6ad",
      "name": "Get an Image",
      "webhookId": "5f1ee6fd-86f9-431d-8a90-1dc0e9c9eb65",
      "credentials": {
        "telegramApi": {
          "id": "4Zx2OD8qIls5skix",
          "name": "Telegram NGRK MG"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        96
      ],
      "id": "c12e2c3d-70b8-42c2-83bb-f21b9932a3e7",
      "name": "Get a Voice",
      "webhookId": "5f1ee6fd-86f9-431d-8a90-1dc0e9c9eb65",
      "credentials": {
        "telegramApi": {
          "id": "4Zx2OD8qIls5skix",
          "name": "Telegram NGRK MG"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        1472
      ],
      "id": "7059d3a4-cf2c-4004-9eaa-8be3c9ac0d4a",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:5678/mcp/websearch",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        288,
        1472
      ],
      "id": "0c924e15-3ed3-449e-abf6-1ff14a77bf22",
      "name": "MCP Search Client"
    },
    {
      "parameters": {
        "toolDescription": "AI Agent can Call this tool if you want to do something with calendar.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a helpful assistant, The current date and time is {{ $now.toString() }}\nYou are the Calendar Agent. Your job is to handle all calendar requests (create, delete, update, reschedule).\n\nRules for Event Actions (delete, update, reschedule):\n\n1. Do NOT ask the user for Event ID.\n2. When a user says \"delete this event\", \"update this event\", or similar:\n   a. Extract the event name (and optionally the approximate time) from the user message.\n   b. Call the \"Get Many Events\" node with a relevant time range.\n   c. Search through the returned events for a match by title (and approximate time if available).\n   d. Automatically get the Event ID of the matched event.\n   e. Pass this Event ID to the Delete or Update node.\n3. Perform the action (delete, update, or reschedule) using the Event ID.\n4. Return a clear confirmation in plain text, e.g.:\n   - \"Old event 'visite hassan' deleted.\"\n   - \"Event 'visite hassan' updated. New time: START – END.\"\n5. If multiple events match, act on the most recent/upcoming one.\n6. Always return plain text, concise and clear, no complex formatting.\n\nExample:\n\nUser Input: \"Delete this event\"\nFlow:\n- Extract event name: \"visite hassan\"\n- Get events from calendar\n- Match by title → get Event ID\n- Delete event using Event ID\nOutput: \"Old event 'visite hassan' deleted.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2208,
        672
      ],
      "id": "d816cf9f-6f67-48e8-a342-d467da4ad6cf",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "toolDescription": "AI Agent can Call this tool if you want to do something with E-mails.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a helpful assistant, The current date and time is {{ $now.toString() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        16,
        720
      ],
      "id": "ae9d123a-94d2-4b9a-a374-756c70e49b28",
      "name": "E-Mail Agent"
    },
    {
      "parameters": {
        "toolDescription": "AI Agent can Call this tool if you want to do something with E-mails.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a helpful assistant, The current date and time is {{ $now.toString() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        128,
        1248
      ],
      "id": "e68d4dfb-23f5-4e08-9f16-1ff1b1107f69",
      "name": "Web Search Agent",
      "notesInFlow": false,
      "notes": "efdre"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "48ce1a29-e1a9-45b2-874b-e83fbf804787",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1856,
        0
      ],
      "id": "b7678cce-1500-423b-91cd-b20128c49070",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02b044cf-399d-4d80-b0b5-e7102670bdc5",
              "name": "Text",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        368
      ],
      "id": "7bcdb604-1641-4482-ae83-0934ffcfc5bf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        560,
        368
      ],
      "id": "912c73db-8ca0-46e1-bd40-496278a499e2",
      "name": "Analyze image",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        464,
        96
      ],
      "id": "d277f162-f772-4b41-bb2a-6eef36b756c4",
      "name": "Transcribe a recording",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2256,
        256
      ],
      "id": "3154a308-b359-41d1-8b00-fdb0219c05a4",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "KgsXR5Ga5dON4Aie",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1328,
        368
      ],
      "id": "f59bb05f-46da-4005-84a7-48d171b960d1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2160,
        864
      ],
      "id": "f9c7d5c7-2c26-48ae-aaca-7ace383dd347",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        944
      ],
      "id": "a5477954-3b81-4b56-a8fc-fa94c44cad36",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        1472
      ],
      "id": "80f0b1ac-284d-4e69-ae74-804babe13e7f",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://api.voicerss.org",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "e529ed32530e461ca82de116a6919fa8"
            },
            {
              "name": "hl",
              "value": "en-us"
            },
            {
              "name": "src",
              "value": "={{ $json.output }}"
            },
            {
              "name": "c",
              "value": "mp3"
            },
            {
              "name": "f",
              "value": "44khz_16bit_stereo"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data.mp3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        256
      ],
      "id": "5944a5d3-32bd-4b3f-816d-8879d2cf434b",
      "name": "voicerss.org"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "1db2f1f8-47e7-4abb-b572-d3b389f4c67c",
      "name": "Transcribe a recording1",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        768,
        368
      ],
      "id": "841f357a-621e-4d49-a051-dcbdccd99adb",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "abdellahkrimo13@gmail.com",
          "mode": "list",
          "cachedResultName": "abdellahkrimo13@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1488,
        960
      ],
      "id": "c1f84ae7-18c9-4cc8-b15a-5d12d0cff64e",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8HX6F1LWhek8AoYJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1536,
        432
      ],
      "id": "fa7ffd76-81fe-4c93-8f77-48b46288675c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1680,
        336
      ],
      "id": "c4982f92-048f-4058-982f-c6b00aa5fada",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1600,
        1152
      ],
      "id": "d5567cd2-931a-497d-b49f-f3e9d9b5c33a",
      "name": "Date & Time1"
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an article in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Many Events": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Events": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many e-mails": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as read": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as unread": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to e-mail": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "E-Mail Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Email Client": {
      "ai_tool": [
        [
          {
            "node": "E-Mail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Calendar Client": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a Voice": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Web Search Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Search Client": {
      "ai_tool": [
        [
          {
            "node": "Web Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "voicerss.org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "E-Mail Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Web Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "voicerss.org": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Casablanca",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "106272bf-793f-4145-8455-8ae3a820ba9d",
  "activeVersionId": null,
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2025-10-28T11:16:48.518Z",
      "createdAt": "2025-10-28T11:16:48.518Z",
      "role": "workflow:owner",
      "workflowId": "UqqwiulJSquUie3W",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}