day-12-projec-ali-subworkflow-n7v3v72xlK5myexs.json
{
  "updatedAt": "2025-10-09T14:53:39.000Z",
  "createdAt": "2025-10-09T14:53:39.889Z",
  "id": "n7v3v72xlK5myexs",
  "name": "day 12 projec Ali-subworkflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -864,
        48
      ],
      "id": "031b465c-d374-4bf3-b219-81a938705eda",
      "name": "Telegram Trigger",
      "webhookId": "54eb5c4e-3c73-4134-88b6-f682dfad03f5",
      "credentials": {
        "telegramApi": {
          "id": "4Zx2OD8qIls5skix",
          "name": "Telegram NGRK"
        }
      },
      "onError": "continueErrorOutput",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User ID: {{ $json.message.from.id }}\nUser Name: {{ $json.message.from.first_name }} \nMessage: {{ $json.message.text }}\nCurrent Date and Time: {{ $now.toISO() }}\n\nCheck the database for existing bookings at the requested time, then provide the appropriate response.",
        "options": {
          "systemMessage": "=You are a booking assistant for a support call scheduling system. You have access to a database tool to check for existing bookings.\n\nYour task:\n1. Extract booking information from the user's message (issue description and preferred date/time)\n2. Use the database tool to check if a booking already exists for this EXACT booking_time\n3. Return a JSON response based on the result\n\nExtraction Rules:\n- Convert user's requested time to ISO 8601 format (YYYY-MM-DDTHH:MM:SS)\n- IMPORTANT: Keep the time EXACTLY as the user specifies - do NOT apply any timezone conversions\n- If no date specified, assume today's date\n- If time is ambiguous, ask for clarification\n- Dates in DD/MM/YYYY format (European standard)\n\nDatabase Tool Usage:\nCRITICAL: Query the database using the EXACT booking_time (including date AND time)\n- Filter by: booking_time = \"[EXACT ISO datetime]\"\n- DO NOT query by date only - you must check the complete datetime including hours and minutes\n- Only return \"EXISTS\" if there is a booking at the EXACT same date and time\n- Different times on the same day are DIFFERENT bookings\n\nThe user_id from Telegram is: {{ $('Telegram Trigger').first().json.message.from.id }}\n\nOutput Format (MUST be valid JSON):\n\nIf booking EXISTS at the EXACT time, return:\n{\n  \"status\": \"EXISTS\",\n  \"message\": \"You already have a booking scheduled at this time. Please choose a different time slot.\"\n}\n\nIf booking DOES NOT EXIST at this specific time, return:\n{\n  \"status\": \"NEW\",\n  \"title_event\": \"Support Call: [brief issue]\",\n  \"description_event\": \"[detailed description]\",\n  \"booking_time\": \"YYYY-MM-DDTHH:MM:SS\"\n}\n\nCRITICAL: Return ONLY valid JSON, nothing else. No markdown, no code blocks, just pure JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -608,
        32
      ],
      "id": "4d8e249b-00c3-4d98-8915-d23771f48ec9",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        224
      ],
      "id": "03b9fa22-e2c6-4940-a9a1-fbadf6292959",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d7473d16-05ab-4fb6-bf6c-721fe56a82a6",
              "leftValue": "={{ $json.status }}",
              "rightValue": "EXISTS",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "d40ff296-ea9a-4d97-ac6b-797b90cbe270",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI output string\nlet aiOutput = $input.first().json.output;\n\n// Log the raw output for debugging\nconsole.log(\"Raw AI Output:\", aiOutput);gftggf\n\n// Remove markdown code blocks if present\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// Try to parse the JSON with error handling\nlet parsedData;\ntry {\n  parsedData = JSON.parse(aiOutput);\n} catch (error) {\n  // If parsing fails, return error details\n  return [{\n    json: {\n      error: true,\n      message: \"Failed to parse AI response\",\n      raw_output: aiOutput,\n      error_details: error.message\n    }\n  }];\n}\n\n// Add additional fields if it's a new booking\nif (parsedData.status === 'NEW') {\n  parsedData.user_id = $('Telegram Trigger').first().json.message.from.id.toString();\n  parsedData.createdAt = new Date().toISOString();\n  parsedData.updatedAt = new Date().toISOString();\n}\n\n// Return the parsed object\nreturn [{ json: parsedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        16
      ],
      "id": "5acb87fe-92de-4859-9204-f5e9e03c130a",
      "name": "Code in JavaScript",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Booking Details:\n- Title: {{ $json.title_event }}\n- Description: {{ $json.description_event }}\n- Booking Time: {{ $json.booking_time }}\n- User ID: {{ $json.user_id }}\n\nPlease create the calendar event and insert the booking record in the database, then confirm.",
        "options": {
          "systemMessage": "You are a booking assistant for a support call scheduling system. You have access to a database tool to check for existing bookings.\n\nYour task:\n1. Extract booking information from the user's message (issue description and preferred date/time)\n2. Use the database tool to check if a booking already exists for this user at the requested time\n3. Return a JSON response based on the result\n\nExtraction Rules:\n- Convert user's requested time to ISO 8601 format (YYYY-MM-DDTHH:MM:SS)\n- IMPORTANT: Keep the time EXACTLY as the user specifies - do NOT apply any timezone conversions\n- The user's local time should be treated as the final time\n- If no date specified, assume today's date\n- If time is ambiguous, ask for clarification\n- Dates are in DD/MM/YYYY format (European standard)\n\nDatabase Tool Usage:\n- Query the database using the booking_time to check for existing bookings\n- The user_id from Telegram is: {{ $('Telegram Trigger').first().json.message.from.id }}\n\nOutput Format (MUST be valid JSON):\n\nIf booking EXISTS, return:\n{\n  \"status\": \"EXISTS\",\n  \"message\": \"You already have a booking scheduled at this time. Please choose a different time slot.\"\n}\n\nIf booking DOES NOT EXIST, return:\n{\n  \"status\": \"NEW\",\n  \"title_event\": \"Support Call: [brief issue]\",\n  \"description_event\": \"[detailed description]\",\n  \"booking_time\": \"YYYY-MM-DDTHH:MM:SS\"\n}\n\nCRITICAL: \n- Return ONLY raw JSON, no markdown formatting, no ```json blocks\n- DO NOT convert times to UTC or any other timezone\n- Use the EXACT time the user provides"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        80
      ],
      "id": "d1cb68ae-ec54-406b-809b-5fe4cc294652",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        336
      ],
      "id": "a60bbb50-4c9b-4cac-934a-130d94db0809",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ayoubhabibeddine@gmail.com",
          "mode": "list",
          "cachedResultName": "ayoubhabibeddine@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        272,
        368
      ],
      "id": "1510923e-488d-4d9a-9bf2-7153840ae971",
      "name": "Create an event in Google Calendar"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        0
      ],
      "id": "5c38435a-76b0-4f17-881f-fcf6a9bc4ad9",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "g1OBKhi3x7oYsdFm",
          "mode": "list",
          "cachedResultName": "SmartScheduler_db",
          "cachedResultUrl": "/projects/Y7ENNAbt7AnhyYc8/datatables/g1OBKhi3x7oYsdFm"
        },
        "filters": {
          "conditions": [
            {}
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ],
      "id": "f55e2077-8faf-4e13-8ffd-4b1d93462bb7",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "g1OBKhi3x7oYsdFm",
          "mode": "list",
          "cachedResultName": "SmartScheduler_db",
          "cachedResultUrl": "/projects/Y7ENNAbt7AnhyYc8/datatables/g1OBKhi3x7oYsdFm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title_event": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title_event', ``, 'string') }}",
            "description_event": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description_event', ``, 'string') }}",
            "booking_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_time', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title_event",
              "displayName": "title_event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description_event",
              "displayName": "description_event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "booking_time",
              "displayName": "booking_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        448,
        368
      ],
      "id": "c85041bb-27c5-43f8-9db3-eeed2e97c3af",
      "name": "Insert row in Data table"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "9b922ab3-1ea9-4d78-837f-908f17cba78d",
      "name": "Send a text message",
      "webhookId": "2ef916af-2bd1-452c-bfbe-03f506ec565b",
      "credentials": {
        "telegramApi": {
          "id": "4Zx2OD8qIls5skix",
          "name": "Telegram NGRK"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hUEsxqa7iuyMUhhc",
          "mode": "list",
          "cachedResultUrl": "/workflow/hUEsxqa7iuyMUhhc",
          "cachedResultName": "day 12 projec Ali-subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -144,
        528
      ],
      "id": "a02ed655-ee19-4e98-b8dc-d57ebfb20b75",
      "name": "Call 'day 12 projec Ali-subworkflow'"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        816,
        320
      ],
      "id": "a9584b30-82e5-46e0-9066-1a6693b32d79",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "1049290566",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        1392,
        528
      ],
      "id": "873547ef-2914-45ba-887b-0d355db8448d",
      "name": "Send a text message in Telegram",
      "webhookId": "2231d695-c22d-4fbd-a7e7-b347beecfb45"
    },
    {
      "parameters": {
        "sendTo": "ayoubhabibeddine@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1264,
        640
      ],
      "id": "419fed33-5dbf-4c85-bbb3-33af9037af00",
      "name": "Send a message in Gmail",
      "webhookId": "3e3ef89b-8581-41a9-b33b-2cc3c59f3d79"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process the user's request and communicate results appropriately.\n\nMANDATORY ACTIONS:\n\n1. ALWAYS send a Telegram message to the user:\n   - If successful: Send your helpful response\n   - If ANY error/problem: Send \"I'm experiencing technical difficulties right now. Please try again later.\"\n\n2. ONLY if there's an error: Send a Gmail message to the administrator with:\n   Subject: \"⚠️ AI Agent Error: [Error Type]\"\n   Body:\n   🚨 AI AGENT ERROR REPORT\n   ━━━━━━━━━━━━━━━━━━━━━━━━━━\n   \n   ⚠️ ERROR TYPE: [Category of error]\n   \n   📅 TIMESTAMP: [Current date/time]\n   \n   👤 USER REQUEST:\n   [What the user asked for]\n   \n   🔍 TECHNICAL DETAILS:\n   [Complete explanation of what went wrong]\n   \n   📊 CONTEXT:\n   [Any relevant context or patterns]\n   \n   🔴 SEVERITY: [Low/Medium/High/Critical]\n   \n   💡 SUGGESTED ACTIONS:\n   [Specific steps to resolve the issue]\n   \n   ━━━━━━━━━━━━━━━━━━━━━━━━━━\n   Automated alert from n8n AI Agent\n\nRULES:\n- NEVER send error details to the user via Telegram\n- ALWAYS use the Telegram tool to respond to the user\n- ONLY use the Gmail tool when there's an error\n- Be specific and detailed in Gmail reports\n- Keep Telegram messages simple and friendly",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant with access to Gmail and Telegram tools.\n\nCRITICAL: You must ALWAYS send a message to the user via Telegram, regardless of success or error.\n\nWhen processing requests:\n1. If successful: Send your helpful response to the user via Telegram\n\n2. If ANY error occurs (API failure, limitations, cannot help, missing information):\n   - Send to Telegram: \"I'm experiencing technical difficulties right now. Please try again later.\"\n   - Send to Gmail: A detailed error report to the administrator\n\nYou have direct access to both tools - use them appropriately based on the situation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        320
      ],
      "id": "f83bfe7f-a61d-4d10-acd0-b78a4de9cb6b",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        528
      ],
      "id": "8ee85595-9ea1-4e6a-a5de-7e6add930b97",
      "name": "Google Gemini Chat Model2"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'day 12 projec Ali-subworkflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'day 12 projec Ali-subworkflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'day 12 projec Ali-subworkflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insert row in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [],
        [
          {
            "node": "Call 'day 12 projec Ali-subworkflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "edfe2980-09db-4103-81af-6057b8c2e742",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-09T14:53:39.910Z",
      "createdAt": "2025-10-09T14:53:39.910Z",
      "role": "workflow:owner",
      "workflowId": "n7v3v72xlK5myexs",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}