day-16-text-to-voice-wIRpvMoNzm6qI4E6.json
{
  "updatedAt": "2025-10-28T11:24:42.000Z",
  "createdAt": "2025-10-13T12:17:21.130Z",
  "id": "wIRpvMoNzm6qI4E6",
  "name": "Day 16 text to voice",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://fakestoreapi.com/products/{{ $json.body.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        448
      ],
      "id": "b62b63ef-6f0a-454a-a910-d1bb3aabc73a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an inclusive product description assistant.\n\nWrite a **short, friendly, one-line summary** for a product.\nInclude:\n- The product title\n- Price\n- One **unique or special feature** of the product\nKeep it:\n- Concise (1 sentence)\n- Easy to read\n- Accessible to everyone\n- Avoid marketing fluff\n\nProduct data:\nproduct_id: {{ $json.id }}\nTitle: {{ $json.title }}\nPrice: {{ $json.price }}\nDescription: {{ $json.description }}\nCategory: {{ $json.category.name }}\n",
        "options": {
          "systemMessage": "You write concise, human-sounding summaries suitable for text, voice, or SMS outputs.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        448
      ],
      "id": "d0db4119-83f0-4c6f-8f35-6f2b11486534",
      "name": "🧠 Text Summary"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        848
      ],
      "id": "45321bde-3f74-4b7c-b5a3-f3cc539787e8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://api.voicerss.org",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "e529ed32530e461ca82de116a6919fa8"
            },
            {
              "name": "hl",
              "value": "en-us"
            },
            {
              "name": "src",
              "value": "={{ $json.output }}"
            },
            {
              "name": "c",
              "value": "mp3"
            },
            {
              "name": "f",
              "value": "44khz_16bit_stereo"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data.mp3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        448
      ],
      "id": "debc0ff4-e1ab-4d8d-917b-15668d5c8544",
      "name": "voicerss.org"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=={{ $('HTML').item.json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1280,
        64
      ],
      "id": "45683f97-5a4b-4d4c-b136-8f58c209b460",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "REDACTED_HEADER_VALUE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini-tts"
            },
            {
              "name": "voice",
              "value": "alloy"
            },
            {
              "name": "input",
              "value": "={{ $('🧠 Text Summary').item.json.output }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "product187.mp3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        240
      ],
      "id": "4e3bf0b6-8ce2-4137-993f-386205c24715",
      "name": "Openai"
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}",
        "viewPortWidth": 720,
        "viewPortHeight": 420,
        "response_format_html": "png"
      },
      "type": "n8n-nodes-htmlcsstoimage.htmlCssToImage",
      "typeVersion": 1,
      "position": [
        1104,
        64
      ],
      "id": "05121fbf-32fe-45da-84a9-316522eda2f8",
      "name": "HTML/CSS to Image",
      "credentials": {
        "htmlcsstoimgApi": {
          "id": "Agus8xaWKOjJ6Yub",
          "name": "Htmlcsstoimg account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Product_Engine",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        448
      ],
      "id": "49bd107c-8748-45ae-ab44-bf61a29f0215",
      "name": "Webhook",
      "webhookId": "7fc92011-7a61-4b0b-bb47-06707322a8c9"
    },
    {
      "parameters": {
        "html": "{{ $json.html }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        928,
        64
      ],
      "id": "62483e4d-33ab-408c-a291-c97d68242e8d",
      "name": "HTML",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ff4d4e2-6551-46e7-9284-6a68133b85d6",
              "name": "html",
              "value": "=<!-- visualHTML (Gmail-safe) -->\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:480px;border:1px solid #e6e8ee;border-radius:14px\">\n  <tr>\n    <td style=\"padding:16px;font-family:Inter,Arial,Helvetica,sans-serif\">\n      <img\n        src=\"{{ $('HTTP Request').item.json.image }}\"\n        alt=\"{{ $('HTTP Request').item.json.title }}\"\n        width=\"100%\"\n        style=\"display:block;border-radius:12px;height:auto\"\n      />\n      <h2 style=\"margin:12px 0 6px;font-size:18px;line-height:1.3;color:#111\">\n        {{ $('HTTP Request').item.json.title }}\n      </h2>\n      <p style=\"margin:0 0 10px;color:#555;font-size:14px;line-height:1.45\">\n        {{ $('HTTP Request').item.json.description }}\n      </p>\n\n      <!-- 🎧 Voice link -->\n      <p style=\"margin:0 0 14px\">\n        <a href=\"{{ $json.audioUrl }}\"\n           style=\"display:inline-block;background:#0b5fff;color:#fff;padding:8px 14px;border-radius:8px;text-decoration:none;font-size:14px\">\n          🔊 Listen to Voice\n        </a>\n      </p>\n\n      <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\">\n        <tr>\n          <td style=\"font-weight:700;font-size:16px;color:#111\">\n            {{ $('HTTP Request').item.json.price }}\n          </td>\n          <td align=\"right\">\n            <a href=\"\"\n               style=\"display:inline-block;padding:8px 12px;border:1px solid #0b5fff;border-radius:10px;color:#0b5fff;text-decoration:none;font-size:14px\">\n              View\n            </a>\n          </td>\n        </tr>\n      </table>\n    </td>\n  </tr>\n</table>\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        64
      ],
      "id": "79977dcf-55aa-4551-bb75-65739adb4f48",
      "name": "HTML1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=message: {{ $json.body.message }}\nYou are an AI data extractor.  \nThe user will type a message that includes a product ID.  \nYour task is to find and return **only the number (product ID)** mentioned.  \n\nRules:\n- Output only the numeric ID.\n- Do not include any text, labels, or explanation.\n- If no number is found, return an empty string.\n\nExample inputs and outputs:\nUser: I want product id 13 → 13  \nUser: Give me details for id 25 → 25  \nUser: Show me product 99 please → 99  \nUser: I need table id 7 → 7  \nUser: Hello → (empty)\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -464,
        640
      ],
      "id": "a4f8d364-d0c2-4111-9562-97815f615a5e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "inputDataFieldName": "data.mp3",
        "name": "=test",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1tq4Uvt_0_pGB89TBW8lKM4BcnaARIzmH",
          "mode": "list",
          "cachedResultName": "n8n upload",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tq4Uvt_0_pGB89TBW8lKM4BcnaARIzmH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        448
      ],
      "id": "25025ec1-292a-435d-bff3-19c10f103378",
      "name": "Drive audio1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HUgBuWJOD3ngv7CC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// --- Étape 1 : Récupérer l'ID du fichier depuis le nœud d'upload ---\nlet finalAudioUrl = \"Audio non disponible\";\n\ntry {\n  // ⚠️ Assurez-vous que \"Drive audio\" est le nom exact de votre nœud d'upload\n  const uploadNode = $items(\"Drive audio1\")[0];\n\n  // On vérifie que le nœud et son ID existent\n  if (uploadNode && uploadNode.json && uploadNode.json.id) {\n    const fileId = uploadNode.json.id;\n\n    // --- Étape 2 : Construire l'URL de lecture/téléchargement direct ---\n    // C'est le format le plus fiable pour les fichiers publics sur Google Drive.\n    finalAudioUrl = `https://drive.google.com/uc?id=${fileId}&export=download`;\n\n  }\n} catch (e) {\n  console.warn(\"⚠️ Impossible de lire l'ID depuis le nœud 'Drive audio' :\", e.message);\n}\n\n// --- Étape 3 : Retourner l'URL correctement formatée ---\nreturn [{\n  json: {\n    audioUrl: finalAudioUrl\n  }\n}];"
      },
      "id": "b40b34a7-1999-47d1-be3c-75df632efa14",
      "name": "url audio1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        912,
        448
      ]
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Drive audio1').item.json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        448
      ],
      "id": "039ef085-e879-4f0f-9d94-e7539113fd8e",
      "name": "Share audio1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HUgBuWJOD3ngv7CC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f6ced9e-76aa-4106-ae02-f7de946f5847",
              "name": "productId",
              "value": "={{ $json.productId }}",
              "type": "string"
            },
            {
              "id": "b8a9bfb2-9411-4ae1-9976-f14c182cf412",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "85c75bdf-9259-428f-82cc-4a55af7be10d",
              "name": "price",
              "value": "={{ $json.price }}",
              "type": "string"
            },
            {
              "id": "0d5485b0-a73e-4a29-a45c-820b5bcc0981",
              "name": "image",
              "value": "={{ $json.image }}",
              "type": "string"
            },
            {
              "id": "14dd2c34-96e6-42f4-99e4-11e17241f560",
              "name": "audio",
              "value": "={{ $json.audio }}",
              "type": "string"
            },
            {
              "id": "a77238e4-346d-4d7f-9d70-cb8f7ba2bdc7",
              "name": "name",
              "value": "={{ $('Merge').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        64
      ],
      "id": "b6202de2-4a2d-4cc3-bfa8-b4fb208c523e",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "return [{\n  json: {\n    productId: ,\n    description: $json.description,\n    price: $json.price,\n    image: $json.imageUrl || \"https://lh3.googleusercontent.com/a/ACg8ocLhlovNA5Qn0y1yuF9hHDZbZ4d7VUoDslBlUICt8T4ePyJJlw=s64\",\n    audio: $('url audio1').first().json.audioUrl,\n  }\n}];"
      },
      "id": "8fa99a45-5ca4-4bf9-a73c-e9acffe1f549",
      "name": "Assembler la réponse finale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1536,
        64
      ],
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "abdellahkrimo1\"@gmail.com",
        "subject": "retour par productId",
        "emailType": "text",
        "message": "=ProductId  : {{ $json.productId }}\nName       : {{ $json.name }}\nDescriptin : {{ $json.description }}\nPrice      : {{ $json.price }}\nLien Image : {{ $json.image }}\nLien Audio : {{ $json.audio }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1920,
        64
      ],
      "id": "34a962d7-06ef-4d7d-93b5-79ed377d91c9",
      "name": "Send a message1",
      "webhookId": "75e65fb0-b239-4a98-bb05-94ab504b2f23",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "Gmail account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ff4d4e2-6551-46e7-9284-6a68133b85d6",
              "name": "html",
              "value": "=<table cellpadding=0 cellspacing=0 role=presentation width=100% style=\"max-width:480px;border:1px solid #e6e8ee;border-radius:14px\"><tr><td style=padding:16px;font-family:Inter,Arial,Helvetica,sans-serif><img alt=\"{{ $('HTTP Request').item.json.title }}\"src=\"{{ $('HTTP Request').item.json.image }}\"style=display:block;border-radius:12px;height:auto width=100%><h2 style=\"margin:12px 0 6px;font-size:18px;line-height:1.3;color:#111\">{{ $('HTTP Request').item.json.title }}</h2><p style=\"margin:0 0 10px;color:#555;font-size:14px;line-height:1.45\">{{ $('HTTP Request').item.json.description }}<p style=\"margin:0 0 14px\"><a href=\"{{ $json.audioUrl }}\"style=\"display:inline-block;background:#0b5fff;color:#fff;padding:8px 14px;border-radius:8px;text-decoration:none;font-size:14px\">🔊 Listen to Voice</a><table cellpadding=0 cellspacing=0 role=presentation width=100%><tr><td style=font-weight:700;font-size:16px;color:#111>{{ $('HTTP Request').item.json.price }}<td align=right><a href=\"\"style=\"display:inline-block;padding:8px 12px;border:1px solid #0b5fff;border-radius:10px;color:#0b5fff;text-decoration:none;font-size:14px\">View</a></table></table>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        432
      ],
      "id": "9aed0e5c-2757-445a-9ae4-90ba66fa9732",
      "name": "HTML2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1184,
        432
      ],
      "id": "ad4bb382-46ea-4de6-976b-40cc41b5d0a7",
      "name": "Merge"
    },
    {
      "parameters": {
        "html": "{{ $json.html }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1552,
        432
      ],
      "id": "936fe210-6af6-4484-b39b-93c9f7d5f239",
      "name": "HTML3"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1792,
        432
      ],
      "id": "12048281-7823-414f-9546-e507620e387e",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "🧠 Text Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🧠 Text Summary": {
      "main": [
        [
          {
            "node": "voicerss.org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Text Summary",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "voicerss.org": {
      "main": [
        [
          {
            "node": "Drive audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML/CSS to Image": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "HTML/CSS to Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "Drive audio1": {
      "main": [
        [
          {
            "node": "Share audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share audio1": {
      "main": [
        [
          {
            "node": "url audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url audio1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assembler la réponse finale": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Assembler la réponse finale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "HTML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML3": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "🧠 Text Summary": [
      {
        "json": {
          "output": "Mens Casual Premium Slim Fit T-Shirts are available for $22.30, featuring a three-button henley placket."
        }
      }
    ]
  },
  "versionId": "39a7e8a0-8fac-48b3-b931-a0ebec6d2184",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-13T12:17:21.224Z",
      "createdAt": "2025-10-13T12:17:21.224Z",
      "role": "workflow:owner",
      "workflowId": "wIRpvMoNzm6qI4E6",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}