day-3-a3-yzOziVMi3V5HD3Rj.json
{
  "updatedAt": "2025-09-27T10:43:07.000Z",
  "createdAt": "2025-09-10T15:13:44.527Z",
  "id": "yzOziVMi3V5HD3Rj",
  "name": "DAY 3 A3",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        32
      ],
      "id": "dc0ab1ea-393e-4378-bd4b-b75d4d9a0fb6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://fakestoreapi.com/products",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        32
      ],
      "id": "9397e229-5299-4fcb-a3f4-d72cabb3b1bc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38be9901-4791-40f6-95a7-3e632821e6da",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "918a5bb0-1e53-4ce1-aa2a-2adfd90ed2ed",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "b8f35e5a-acb6-49c3-b463-08939ef06d86",
              "name": "price",
              "value": "={{ $json.price }}",
              "type": "number"
            },
            {
              "id": "e41bad37-da84-49e9-b446-8256d18dae8c",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "645574a6-319f-40aa-999e-5b854ae4e3b3",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "30505281-30ca-4b2d-a3db-b9614ac741ad",
              "name": "image",
              "value": "={{ $json.image }}",
              "type": "string"
            },
            {
              "id": "b1017dcd-b202-462a-8108-311674d7fd80",
              "name": "rating",
              "value": "={{ $json.rating }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        32
      ],
      "id": "3fafd0e6-5c67-4cce-bf9b-0a15ae8e0d07",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a747e826-eb32-41fc-b184-88182cbe3c7a",
              "name": "Red flags",
              "value": " [\"laptop\", \"Engagement \", \"slave\", \"blacklist\", \"whitelist\", \"ordinateur\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        32
      ],
      "id": "ecc8dfdc-232b-4431-adf4-e3597dbfcc54",
      "name": "define red flags"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "775372b2-c566-4326-b2ef-d1de3e878d8d",
              "leftValue": "={{ $('define red flags').item.json['Red flags'].some(flag => $json.description.includes(flag)) }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "9e8d456d-cbb1-456f-bfad-5b8d9e6a612d",
              "leftValue": "={{ $json.description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        48
      ],
      "id": "6f442876-9ade-498f-8e68-92a6ae6f5e45",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "🚩 Needs Review: Product \"\" contains flagged language.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        672,
        -64
      ],
      "id": "de146dda-671b-4a67-ad12-5262266e31ee",
      "name": "Discord",
      "webhookId": "eb0bb4d9-a24a-4729-af1f-ad8ef0b63600",
      "credentials": {
        "discordWebhookApi": {
          "id": "skGsil2IBOoEYiyT",
          "name": "Discord Webhook account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10dXlvneAy-qbVqwAFJ-yK3Q19kYgmsKLSclGPLr2Od4",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10dXlvneAy-qbVqwAFJ-yK3Q19kYgmsKLSclGPLr2Od4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10dXlvneAy-qbVqwAFJ-yK3Q19kYgmsKLSclGPLr2Od4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Red flags",
              "displayName": "Red flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        160
      ],
      "id": "d14e2813-c599-4582-ac68-c9de1262c93d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ELb54M7cyXuXINwV",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "define red flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define red flags": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e91f510c-6833-4612-a162-16ffa82e2c97",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-10T15:13:44.542Z",
      "createdAt": "2025-09-10T15:13:44.542Z",
      "role": "workflow:owner",
      "workflowId": "yzOziVMi3V5HD3Rj",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}