day-20-part-1:-build-a-free,-professional‑grade-rag-chatbot-with-n8n-EDVmJPEOMryuieaY.json
{
  "updatedAt": "2025-10-23T17:28:44.000Z",
  "createdAt": "2025-10-22T08:39:06.067Z",
  "id": "EDVmJPEOMryuieaY",
  "name": "Day 20 Part 1: Build a free, professional‑grade RAG chatbot with n8n",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        0,
        432
      ],
      "id": "6b6d9fb7-f0b2-4346-aa7d-528c506ff1c8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1blMWzm_BmZG-q8DFUTIzYCPd29oSXANJ",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1blMWzm_BmZG-q8DFUTIzYCPd29oSXANJ"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        208
      ],
      "id": "e5e9d2f6-11e2-4ee3-9974-278ca5c486b6",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HUgBuWJOD3ngv7CC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -368,
        208
      ],
      "id": "9e562afe-36b5-4035-8d49-589a3abd20f4",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HUgBuWJOD3ngv7CC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "768",
          "mode": "list",
          "cachedResultName": "768"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -160,
        208
      ],
      "id": "dda33842-af9f-4105-a1a0-fc7ca8e9c12b",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "KRaKAO46nHJo7Mnt",
          "name": "n9n"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        448
      ],
      "id": "7bd94c71-07c4-4450-8c22-a3ea5d365dfd",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        16,
        576
      ],
      "id": "5e025bd0-1482-47de-97bb-0e3342d67e5a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an intelligent assistant specialized in answering questions using the information stored in a connected PDF knowledge base.\n\nYour task:\n- Always retrieve context from the Pinecone vector database before answering.\n- Use the Google Gemini model to generate clear, factual, and friendly responses.\n- If the answer is not found in the retrieved context, politely say:\n  \"I couldn't find this information in the document.\"\n\nRules:\n1. Prioritize accuracy over creativity.\n2. Never invent or assume details not found in the PDF.\n3. Include short summaries or bullet points when helpful.\n4. Maintain a professional and supportive tone.\n\nContext Source:\nThe data comes from a PDF document that was processed into embeddings and stored in Pinecone. Each chunk of text represents part of the original file.\n\nExample Behavior:\nUser: \"What is mentioned about pricing in the document?\"\nAgent: Retrieve relevant sections from Pinecone → summarize key points clearly.\n\nNow, wait for the user’s question and use the vector store to find the best context before answering.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        320
      ],
      "id": "52e50a7d-004f-4f44-9531-c6208d31a2d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        384,
        320
      ],
      "id": "dcf1394b-3579-4b63-9962-ea319efbe09c",
      "name": "When chat message received",
      "webhookId": "a246b929-7b5a-4f00-bf32-3c5a64e76033"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        528
      ],
      "id": "208562e5-f566-4c51-976f-8327d7dad7d7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        528
      ],
      "id": "3b93fe5d-e9f3-456b-b701-f51a6a46e8d4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "git data from pincone",
        "pineconeIndex": {
          "__rl": true,
          "value": "768",
          "mode": "list",
          "cachedResultName": "768"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        528
      ],
      "id": "d39d1ab1-8b74-44bf-a5a6-a5b34210384a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "KRaKAO46nHJo7Mnt",
          "name": "n9n"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        704
      ],
      "id": "3af5f575-2da9-476f-ba49-f694070a5fcb",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        944,
        320
      ],
      "id": "d1e6de5f-efb7-468a-80a0-7b7c5fa109b4",
      "name": "Evaluation"
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        []
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3a33b649-b5ba-4c42-b700-ab6e4db8ece8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-22T08:39:06.067Z",
      "createdAt": "2025-10-22T08:39:06.067Z",
      "role": "workflow:owner",
      "workflowId": "EDVmJPEOMryuieaY",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}