email-process-hubspot-Ric5xRZdbEjrIwl0.json
{
  "updatedAt": "2025-11-12T10:38:01.000Z",
  "createdAt": "2025-10-21T09:24:09.687Z",
  "id": "Ric5xRZdbEjrIwl0",
  "name": "email-process-hubspot",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "engagement",
        "type": "email",
        "metadata": {
          "fromEmail": "={{ $('When an email is received').item.json.from }}",
          "html": "={{ $('When an email is received').item.json.textHtml || $('When an email is received').item.json.textPlain}}",
          "subject": "={{ $('When an email is received').item.json.subject }}",
          "toEmail": [
            "={{ $('When an email is received').item.json.to }}"
          ]
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $json.vid }}"
          }
        }
      },
      "id": "7f213c18-2881-40c8-8560-50f5cbe3aa00",
      "name": "Creates an email engagement",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1280,
        336
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "b1d5c49c-e8c6-492f-bfc7-4a18a90fb68c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        224,
        560
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $json.output.contact_info.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "575af9e6-d4a2-4da5-8d83-4e96d38f70d5",
      "name": "Search for the contact via email",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        624,
        336
      ],
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Get all important info from this email like first name, last name, email, phone number, name of the company, country, Postal code, city, etc. Return it as a json.  The email content:  {{ $json.textHtml || $json.textPlain}} \nFrom: {{ $json.from }} \nSubject: {{ $json.subject }}\nDate sent:  {{ $json.date }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional Email parser"
            }
          ]
        }
      },
      "id": "25a0e146-45e7-47d4-a05d-a674167b4d3a",
      "name": "Parse the mail with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        240,
        336
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "options": {
          "forceReconnect": 3
        }
      },
      "id": "7f2d2c4a-4bcd-4da7-8452-c84a5a70d869",
      "name": "When an email is received",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [
        32,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Set receiving email account\n- Ddefaults to an IMAP account node, but you can put a gmail account or any  email trigger",
        "height": 300,
        "width": 280,
        "color": 4
      },
      "id": "6a5859f6-5fe8-4bbe-a9e8-eeff353aafd3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"contact_info\": \n{\n\"first name\": \n\"Thomas\",\n\"last name\": \"Vie\",\n\"position\": \n\"CTO\",\n\"company\": \n\"Pollup Data Services\",\n\"email\": \n\"Thomas@pollup.net\",\n\"phone\": \n\"+34 673626552\",\n\"website\": \n\"https://pollup.net\",\n\"address\": \n{\n\"street\": \n\"Oppelner Str. 32\",\n\"postal_code\": \n\"10997\",\n\"city\": \n\"Berlin\",\n\"country\": \n\"Germany\"\n}}}"
      },
      "id": "75b88598-6444-4f1f-bae6-9d3c3a3c81bb",
      "name": "Set the output Json",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        448,
        560
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Upgrade the prompt!\nThis is a very simple prompt but oit does the job. Improve it and send it to me!",
        "height": 300,
        "width": 320,
        "color": 4
      },
      "id": "08489b65-d51c-4d6d-95e8-4c7b817c21e8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Hubspot integration\n- Search for the contact in hubspot\n- If it is present creates an egagement\n- It it is not, creates it and adds an engagement",
        "height": 400,
        "width": 840,
        "color": 4
      },
      "id": "06577ba1-1193-49aa-9995-ec9e7650d7f9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "554c2aa3-dbdb-4955-8510-6b09bc762f63",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "11a54b05-92a2-4989-a37f-991c063d4636",
      "name": "contact exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        848,
        336
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75c8fc2d-dc8e-4b6c-a853-1dbd8d72f779",
              "name": "vid",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e55e5c35-df18-4e62-947b-4c6aa81282cb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1056,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Parse the mail with AI').item.json.output.contact_info.email }}",
        "additionalFields": {
          "city": "={{ $('Parse the mail with AI').item.json.output.contact_info.address.city }}",
          "companyName": "={{ $('Parse the mail with AI').item.json.output.contact_info.company }}",
          "country": "={{ $('Parse the mail with AI').item.json.output.contact_info.address.country }}",
          "jobTitle": "={{ $('Parse the mail with AI').item.json.output.contact_info.position }}",
          "lastName": "={{ $('Parse the mail with AI').item.json.output.contact_info['last name'] }}",
          "phoneNumber": "={{ $('Parse the mail with AI').item.json.output.contact_info.phone }}",
          "postalCode": "={{ $('Parse the mail with AI').item.json.output.contact_info.address.postal_code }}",
          "streetAddress": "={{ $('Parse the mail with AI').item.json.output.contact_info.address.street }}",
          "websiteUrl": "={{ $('Parse the mail with AI').item.json.output.contact_info.website }}"
        },
        "options": {}
      },
      "id": "7a0e5198-6ab9-42e3-a29d-d43e9193da25",
      "name": "Creates contact",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1056,
        432
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Contact me\n- If you need any modification to this workflow\n- if you need some help with this workflow\n- Or if you need any workflow in n8n, Make, or Langchain / Langgraph\n\nWrite to me: [thomas@pollup.net](mailto:thomas@pollup.net)",
        "height": 200,
        "width": 460
      },
      "id": "9f754d15-189f-46e8-ad6b-2ac520b99d96",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -32
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Creates an email engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creates contact": {
      "main": [
        [
          {
            "node": "Creates an email engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contact exists?": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Creates contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse the mail with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set the output Json": {
      "ai_outputParser": [
        [
          {
            "node": "Parse the mail with AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parse the mail with AI": {
      "main": [
        [
          {
            "node": "Search for the contact via email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When an email is received": {
      "main": [
        [
          {
            "node": "Parse the mail with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for the contact via email": {
      "main": [
        [
          {
            "node": "contact exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2e6aca73-37b6-44cb-8ded-2a1c2f7822db",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-21T09:24:09.698Z",
      "createdAt": "2025-10-21T09:24:09.698Z",
      "role": "workflow:owner",
      "workflowId": "Ric5xRZdbEjrIwl0",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}