google-sheet-to-mailchimp-CB645Lf0c3p6vFot.json
{
  "updatedAt": "2025-11-12T10:40:04.000Z",
  "createdAt": "2025-10-21T09:27:53.433Z",
  "id": "CB645Lf0c3p6vFot",
  "name": "Google Sheet to Mailchimp",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -112,
        -64
      ],
      "typeVersion": 1,
      "id": "00581e79-9aae-4db3-b4be-86c458ec44ac"
    },
    {
      "parameters": {
        "sheetId": "1jwEoPPrkQ2qYMYLZ_I0hlME_Ya_p2YZvaxG10Nf_R20",
        "range": "sheetone!A:C",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        320,
        -64
      ],
      "typeVersion": 1,
      "id": "74f4df11-5967-4b84-8f5c-a0b47c5de120",
      "credentials": {
        "googleApi": {
          "id": null,
          "name": "Google mailchimp"
        }
      }
    },
    {
      "parameters": {
        "list": "90d12734de",
        "email": "={{$node[\"Google Sheets\"].json[\"email\"]}}",
        "status": "subscribed",
        "options": {}
      },
      "name": "Mailchimp",
      "type": "n8n-nodes-base.mailchimp",
      "position": [
        512,
        -64
      ],
      "typeVersion": 1,
      "id": "f43b1110-a990-462d-bc9b-891586672668",
      "credentials": {
        "mailchimpApi": {
          "id": null,
          "name": "Google mailchimp"
        }
      }
    },
    {
      "parameters": {
        "interval": 2
      },
      "name": "Interval",
      "type": "n8n-nodes-base.interval",
      "position": [
        80,
        -64
      ],
      "typeVersion": 1,
      "id": "e166cf1e-6a73-4992-8b19-dd8b6c2faafd"
    }
  ],
  "connections": {
    "Interval": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Mailchimp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1aae870e-9c17-44b9-b905-63f94078a548",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-21T09:27:53.444Z",
      "createdAt": "2025-10-21T09:27:53.444Z",
      "role": "workflow:owner",
      "workflowId": "CB645Lf0c3p6vFot",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}