hacktoon-KJTB4n6LbXyu3BWR.json
{
  "updatedAt": "2025-09-01T17:38:23.000Z",
  "createdAt": "2025-08-25T09:37:15.751Z",
  "id": "KJTB4n6LbXyu3BWR",
  "name": "Hacktoon",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "50f95efe-b753-4d9a-af0b-e200701f3b2d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "brQ4jykQKynzJlTp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "de3e4e6d-6fa5-4689-a23d-03c1ae5256e7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are an HR expert , you are given a resume text include \nName\nEmail\nTelephone\nExperience\nSkills\nEducation\nthis is CV text  {{ $json.text }}\nand if the have experience with two critical tools: Python and N8n\nreplay yes or no and extract and list all the technical skills it can find in the resume",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "900b93fb-cd0a-4de9-9df7-07f5420540cd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        208
      ],
      "id": "54f828e5-c901-4285-93f5-1bdb9e589935",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Y5EZ7nONrSFTfDWw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $('AI Agent').item.json.output }}\n\nemail: {{ $('Subject and email').item.json.email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1664,
        -128
      ],
      "id": "f0e3d751-ccac-44c9-ac2b-5815175af187",
      "name": "Discord",
      "webhookId": "f83ec732-6b35-4790-8b7e-855aebe016ca",
      "credentials": {
        "discordWebhookApi": {
          "id": "WkF81BQ4ghWqwHjW",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c635d8ca-628f-45ae-9b5c-d5994f83a40f",
              "leftValue": "={{ $('AI Agent').item.json.output }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1424,
        -32
      ],
      "id": "d38ecc7e-e499-406d-bd17-b74e6c52abc6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HhuCA_3Qy9Gx7Mlu8ejLcbRDbTCVNqeRC7b7CndzBl8",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HhuCA_3Qy9Gx7Mlu8ejLcbRDbTCVNqeRC7b7CndzBl8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HhuCA_3Qy9Gx7Mlu8ejLcbRDbTCVNqeRC7b7CndzBl8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "discord message": "={{ $json.discord }}",
            "skills ": "={{ $('Code Skills').item.json.Skills }}",
            "Sender Email": "={{ $('If').item.json.email }}",
            "Subject": "={{ $('AI Agent').item.json.output }}",
            " Timestamp": "={{ $('Gmail Trigger').item.json.headers.date }}",
            " Keywords Found (YES/NO).": "YES"
          },
          "matchingColumns": [
            "discord message"
          ],
          "schema": [
            {
              "id": " Timestamp",
              "displayName": " Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "skills ",
              "displayName": "skills ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discord message",
              "displayName": "discord message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Keywords Found (YES/NO).",
              "displayName": " Keywords Found (YES/NO).",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        -128
      ],
      "id": "f47d7971-f089-4b37-8206-6e5736835674",
      "name": "Append or update row in sheet",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UHnf1b14DL7VAJgV",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49bdb9d7-0a49-4d7a-92cc-bfea238ca040",
              "name": "discord",
              "value": "={{ $json.success }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        -144
      ],
      "id": "fa18a9e7-66e4-47f8-8743-5f37d00cb3c6",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output;\n\n// Extract skills (lines starting with \"-\")\nconst skills = text\n  .split(\"\\n\")\n  .filter(line => line.startsWith(\"-\"))\n  .map(line => line.replace(\"-\", \"\").trim());\n\n// Join skills as comma separated\nconst skillsString = skills.join(\", \");\n\n// Example placeholders for other fields\nreturn [{\n  json: {\n\n    Skills: skillsString,  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -32
      ],
      "id": "14372518-804a-4003-a357-f5ebd69cde25",
      "name": "Code Skills"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae4d11e0-5fba-40e0-9937-d1e13dc66f45",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "cf3f7455-3fcb-4b8a-9b0a-126487fe69a3",
      "name": "save text"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Sender Email'] }}",
        "subject": "wellcome",
        "message": "Dear [Candidate Name] Junior Automation Specialist,  We have reviewed your CV and noticed your knowledge and experience in n8n and Python. We are impressed and happy to inform you that we are excited to have you join our team as a Junior Automation Specialist.  We look forward to working with you and achieving great results together!  Best regards, [Your Position] [Company Name]",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2352,
        -128
      ],
      "id": "c34c247b-023d-4957-9327-d9cca971185e",
      "name": "Send a message",
      "webhookId": "5d19da13-888d-4312-9fd1-f12be10d694a",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1_0kchydSMcZ5Z3hpIGokbAM17BnDfMllj4CAMxhlRII",
          "mode": "list",
          "cachedResultName": "abondant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_0kchydSMcZ5Z3hpIGokbAM17BnDfMllj4CAMxhlRII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_0kchydSMcZ5Z3hpIGokbAM17BnDfMllj4CAMxhlRII/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "eamil": "={{ $('Subject and email').item.json.email }}",
            "subject": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [
            "eamil"
          ],
          "schema": [
            {
              "id": "eamil",
              "displayName": "eamil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        144
      ],
      "id": "f5193663-938e-4ea8-b5d0-ff2565969bb0",
      "name": "Append or update row in sheet1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UHnf1b14DL7VAJgV",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49bdb9d7-0a49-4d7a-92cc-bfea238ca040",
              "name": "discord",
              "value": "={{ $json.success }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        144
      ],
      "id": "52107ac3-637a-4976-ba7d-12f33f50a3c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c2db383-30fd-4859-9349-53d85487875e",
              "name": "Subject",
              "value": "={{ $('AI Agent').item.json.output }}",
              "type": "string"
            },
            {
              "id": "500980fa-3684-44ee-96df-49199558dbd2",
              "name": "email",
              "value": "={{ $('save text').item.json.text.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-z]{2,}/)[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -32
      ],
      "id": "edf9cda9-e9f3-48f5-bd46-6f22084f4928",
      "name": "Subject and email"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "save text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Skills": {
      "main": [
        [
          {
            "node": "Subject and email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subject and email": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "save text": [
      {
        "json": {
          "text": "PROFIL ABDELLAH CHANBIT, 23 ans. Jeune Marocain, j’ai un permis de conduire (B). Titulaire\nd’un Diplome de Technicien Spécialisé de Développement Informatique, à la recherche d'une\nnouvele expérience professionnele dans mondomaine d'expertise, pour développer mes\ncompétences Et macarrière. J'ai des expériences professionneles en tant aue développeur.\nCONTACT TELEPHONE: +212636391360 ADRESSE: RUE JBEL HEBRI NR 13 LAKHYAM 2 AGADIR\nE-MAIL: chanbit.abde@gmail.com linkedin : abdelah chanbit\nCOMPÉTENCES :\nWORDPRESS(Elementor)\nAdobePhotoshop(PS),Illustrator(AI)\nSCBD:SQLSERVER,MYSQL\nHTML,CSS,JavaScript  C,C#,ADO.NET.\nPython\nn8n\nXML,AJAX,XSD, DTD\nGit/Github\nLinux,Shell"
        }
      }
    ]
  },
  "versionId": "8245cbbf-a590-4d9e-aa95-e5c68a86cfb3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-08-25T09:37:15.771Z",
      "createdAt": "2025-08-25T09:37:15.771Z",
      "role": "workflow:owner",
      "workflowId": "KJTB4n6LbXyu3BWR",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}