hacktoon-2TkKAZfaaIOYhXqY.json
{
  "updatedAt": "2025-11-23T23:21:12.000Z",
  "createdAt": "2025-11-23T22:41:28.102Z",
  "id": "2TkKAZfaaIOYhXqY",
  "name": "Hacktoon",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -512,
        592
      ],
      "id": "02805b4f-4554-445b-8f29-7c0e0df1a8cf",
      "name": "Send a message",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "abdellahkr13"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -352,
        592
      ],
      "id": "a6a53d81-04d6-4512-bf6c-67631557f46a",
      "name": "Get many e-mails",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "abdellahkr13"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -192,
        592
      ],
      "id": "5ce42ce1-fd7f-4c3e-9fa9-aca093c3753c",
      "name": "Mark as read",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "abdellahkr13"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        16,
        592
      ],
      "id": "63466cec-2a7c-4b76-84c6-516b9c6ff498",
      "name": "Mark as unread",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "abdellahkr13"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        208,
        592
      ],
      "id": "009ce77c-0e69-472a-89fc-a444da3e4664",
      "name": "Reply to e-mail",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "abdellahkr13"
        }
      }
    },
    {
      "parameters": {
        "content": "# Inputs\n",
        "height": 368,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        -16
      ],
      "typeVersion": 1,
      "id": "b73b9a4d-403e-4798-ad23-fc6b8a949c9e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=\nNo extra explanations.\nParent Orchestrator Agent Prompt\nYou are the Parent Orchestrator Agent. Your task is to route all incoming messages to the correct sub-agent.\nThe current date and time is {{ $now.toString() }}.\nTools:\nThink → Analyze intent and decide which agent should handle the request.\nE-Mails Agent → Send, reply, read, mark as read/unread.\nWeb Search Agent → Search online using Google Search, Wikipedia, or Hacker News.\nRules:\n• Route each message to the correct agent.\n• Use Think when unsure.\n• Respond in simple plain text only (no Markdown, HTML, or emojis).\n• Confirm every completed action (emails sent, replies posted, searches performed).\n• Keep responses short, direct, and natural.\nInstructions:\n\n\nReceive the user message (transcribed text, analyzed image, or direct input).\n\n\nDetermine intent using Think.\n\n\nIf intent is email-related, route to E-Mails Agent and perform the requested action.\n\n\nIf intent is information lookup, route to Web Search Agent and fetch relevant results.\n\n\nSummarize and return the result or confirmation in plain text.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -672,
        128
      ],
      "id": "f854ffe2-105c-4ba8-86af-d6d39ff43858",
      "name": "Orchestrator Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "content": "# Orchestrator Agent\n\n",
        "height": 1056,
        "width": 2224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        -144
      ],
      "typeVersion": 1,
      "id": "2496968b-a9b5-4b0e-9ee6-56632c646915",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -672,
        544
      ],
      "id": "9a3f2e6b-18e3-4057-983c-2279fe630b81",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        448,
        144
      ],
      "id": "890b30b7-e0a7-4a34-9149-4106fdab5a27",
      "name": "Google Search",
      "credentials": {
        "serpApi": {
          "id": "SrvSDfq8k1ngqvWj",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        224,
        304
      ],
      "id": "690aab73-70dd-41c1-aa3d-f5214e6c0fc8",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1120,
        128
      ],
      "id": "37ca91f7-d4ad-4025-ad0b-673c59fe720a",
      "name": "When chat message received",
      "webhookId": "6356487f-ad55-4e40-bd4d-3c29231e2866"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -864,
        528
      ],
      "id": "3a036616-7d23-4897-9538-33b047a7ec70",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Send a message": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many e-mails": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as read": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as unread": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to e-mail": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2c845c29-057d-4fb0-bc03-348649f03ad7",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-23T22:41:28.244Z",
      "createdAt": "2025-11-23T22:41:28.244Z",
      "role": "workflow:owner",
      "workflowId": "2TkKAZfaaIOYhXqY",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}