linkedin-part-1-JFEhs4ccNCgzGw7R.json
{
  "updatedAt": "2025-09-27T10:47:22.000Z",
  "createdAt": "2025-09-20T13:01:59.659Z",
  "id": "JFEhs4ccNCgzGw7R",
  "name": "linkedin part 1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "7922a865-61ed-4b5e-b090-bd0ad055ffba",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -224,
        192
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://www.testingcatalog.com/rss/",
        "options": {
          "ignoreSSL": true
        }
      },
      "id": "82299843-7ab8-4ccb-ad53-c11e6c8a0067",
      "name": "RSS Read Testing Catalog",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        0,
        384
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9aec0a09-4b6f-4fca-98e6-789abd5fdc51",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "56277e54-31a0-4804-ad23-c9ee6d244641",
              "name": "content",
              "type": "string",
              "value": "={{ $json.contentSnippet }}"
            },
            {
              "id": "a3586a80-588e-42d1-9780-370a956ddf6b",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "58f01618-8014-4685-9192-d15d596ffcd9",
              "name": "isoDate",
              "type": "number",
              "value": "={{ new Date($json.isoDate).getTime() }}"
            },
            {
              "id": "716bb078-8df3-4d96-8a1b-4aec4f8cf206",
              "name": "categories",
              "type": "array",
              "value": "={{ $json.categories }}"
            }
          ]
        },
        "options": {}
      },
      "id": "378ab78a-62a4-4fcc-9011-a609f8658788",
      "name": "Transform date",
      "type": "n8n-nodes-base.set",
      "position": [
        448,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e7cf09fb-af35-495d-a840-341f8d0ddcd8",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ Date.now() - 7 * 24 * 60 * 60 * 1000 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1de628ce-e88c-4899-8637-527e93b9f4dc",
      "name": "Filter by date (more than 7 days)",
      "type": "n8n-nodes-base.filter",
      "position": [
        672,
        192
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isoDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "898e885e-7149-46a1-9024-e0732f454554",
      "name": "Sort by date",
      "type": "n8n-nodes-base.sort",
      "position": [
        896,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "e5ae1fed-3ce9-4afb-a5c2-ed68c46a55ab",
      "name": "Limit news to x",
      "type": "n8n-nodes-base.limit",
      "position": [
        1120,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet ret = \"\";\nfor (const item of $input.all()) {\n    // Add the item's ID at the beginning of the line\n    ret = ret + item.json.id + '. [' + item.json.title + '](' + item.json.link + ' \"‌\"): \\n' + item.json.content + \"\\n\\n\";\n}\n\nreturn {data: ret};"
      },
      "id": "fc449be8-3963-421d-8951-073bfdad7c38",
      "name": "Transform new to MD",
      "type": "n8n-nodes-base.code",
      "position": [
        1568,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "7d5ba4dd-c77a-450c-8de4-3bf474403798",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        224,
        176
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "https://www.marktechpost.com/feed/",
        "options": {}
      },
      "id": "378f38a7-31c2-4c79-b8d2-da4b2abece83",
      "name": "RSS Read marktechpost",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        0,
        192
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://www.artificial-intelligence.blog/ai-news?format=rss",
        "options": {}
      },
      "id": "45ca266f-e4f1-43ef-9f28-0fe6ad0345ec",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "const articles = items.map((item, index) => {\n    // Create a new object to avoid modifying the original input\n    const newItem = { ...item.json };\n    // Add the 'id' key with a number starting from 1\n    newItem.id = index + 1; \n    return newItem;\n});\n\n// The output will be an array of objects, each with a new 'id' key.\nreturn articles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        192
      ],
      "id": "bfb66ff4-92ad-421a-82e7-50657018c711",
      "name": "enumerator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12959047-8ee7-4a61-a0b4-377e486701c0",
              "name": "id ",
              "value": "={{ $json.data.text}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        176
      ],
      "id": "dd58dc51-9559-4e88-b6c0-abbb1960c581",
      "name": "Choosed Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b209fe9-da9d-410b-93ee-bcb049a51fec",
              "name": "title",
              "value": "={{ $('enumerator').all()[$json['id ']]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        176
      ],
      "id": "b0d4e819-16e3-4de4-92a6-d5231c7cad44",
      "name": "Choosed Article"
    },
    {
      "parameters": {
        "person": "9GziFoyC-E",
        "text": "=hello",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2288,
        176
      ],
      "id": "c455cfd3-ed31-4445-87c7-10a1b9cda674",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "ftm4TC0rUM7O3L0l",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if the input array is not empty and the first item is a valid object.\nif (items && items.length > 0 && items[0] && items[0].json) {\n  // Get the first item from the input.\n  const item = items[0].json;\n\n  // Check if the title property exists and is a valid JSON string.\n  if (item.title) {\n    try {\n      // Parse the 'title' property, which contains a JSON string.\n      // The content is then nested under the 'json' key in the parsed object.\n      const contentJson = JSON.parse(item.title).json;\n\n      // Extract the necessary fields from the parsed JSON.\n      const postTitle = contentJson.title;\n      const postContent = contentJson.content;\n      const postLink = contentJson.link;\n      const postCategories = contentJson.categories;\n\n      // Build the LinkedIn post using emojis and proper formatting.\n      // Start with a rocket emoji and the title in bold.\n      let linkedinPost = `🚀 **${postTitle}**\\n\\n`;\n\n      // Add the main content of the post.\n      linkedinPost += `${postContent}\\n\\n`;\n\n      // Add the call to action and link.\n      linkedinPost += `Learn more at: ${postLink}\\n\\n`;\n\n      // Generate hashtags from the categories by removing spaces and adding a '#'.\n      const hashtags = postCategories.map(tag => `#${tag.replace(/\\s/g, '')}`).join(' ');\n      linkedinPost += hashtags;\n\n      // Add a unique timestamp to the end of the post to prevent the \"Duplicate post is detected\" error.\n      const uniqueIdentifier = `\\n\\n[${Date.now()}]`;\n      linkedinPost += uniqueIdentifier;\n\n      // Create the output item with the final formatted post.\n      return [{ json: { post: linkedinPost } }];\n    } catch (error) {\n      // Handle the case where JSON parsing fails, which is common if the data is not in the expected format.\n      // Log the error to help with debugging and return an empty array to prevent the workflow from failing.\n      console.error('Error parsing JSON from item.title:', error.message);\n      return [];\n    }\n  } else {\n    // If the title property is missing, log a warning and return an empty array.\n    console.warn('The \"title\" property is missing from the input item.');\n    return [];\n  }\n} else {\n  // If no valid items are found, return an empty array to prevent the error.\n  console.warn('No valid items found in the input array. Returning an empty array.');\n  return [];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        176
      ],
      "id": "0e6a00ae-05b3-4db4-a808-621a10d18a44",
      "name": "prettify the post"
    },
    {
      "parameters": {
        "person": "9GziFoyC-E",
        "text": "hey",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2224,
        400
      ],
      "id": "16e5c5f3-57a4-4749-831b-5f6a3beb2713",
      "name": "Create a post1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "ftm4TC0rUM7O3L0l",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1952,
        400
      ],
      "id": "03ac7e8e-809d-42ed-b6f7-1bd911477e15",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Transform date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by date": {
      "main": [
        [
          {
            "node": "Limit news to x",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform date": {
      "main": [
        [
          {
            "node": "Filter by date (more than 7 days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit news to x": {
      "main": [
        [
          {
            "node": "enumerator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read Testing Catalog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read marktechpost",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform new to MD": {
      "main": [
        [
          {
            "node": "Choosed Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read marktechpost": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read Testing Catalog": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Filter by date (more than 7 days)": {
      "main": [
        [
          {
            "node": "Sort by date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enumerator": {
      "main": [
        [
          {
            "node": "Transform new to MD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Choosed Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choosed Id": {
      "main": [
        [
          {
            "node": "Choosed Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choosed Article": {
      "main": [
        [
          {
            "node": "prettify the post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prettify the post": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f6b5a09c-bfcb-4bdc-8aab-ba710375b773",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-20T13:01:59.699Z",
      "createdAt": "2025-09-20T13:01:59.699Z",
      "role": "workflow:owner",
      "workflowId": "JFEhs4ccNCgzGw7R",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}