my-workflow-5-v8UnjiRzUmbftHnx.json
{
  "updatedAt": "2025-09-27T10:50:53.000Z",
  "createdAt": "2025-08-15T13:40:03.149Z",
  "id": "v8UnjiRzUmbftHnx",
  "name": "My workflow 5",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "/whatsapp-incoming",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -16,
        288
      ],
      "webhookId": "whatsapp-12345",
      "id": "46fcd80d-bfcc-4309-bdd9-fd8ff87c350f"
    },
    {
      "parameters": {
        "functionCode": "return {\n  to: $node[\"Webhook\"].json[\"from\"],\n  message: \"BOT: \" + $node[\"Webhook\"].json[\"text\"]\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        192,
        288
      ],
      "id": "16fc07a8-b678-4e3e-9d08-633894be46cc"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/send",
        "jsonParameters": true,
        "options": {}
      },
      "name": "Send to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        384,
        288
      ],
      "id": "812dbce9-834f-4f68-9c14-084c714201ad"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5aacf973-f59a-4f71-8f70-47cc5aca6747",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-15T13:40:03.214Z",
      "createdAt": "2025-08-15T13:40:03.214Z",
      "role": "workflow:owner",
      "workflowId": "v8UnjiRzUmbftHnx",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}