p3-zoom-tizi-email-automation-fns8Tti6a7mEaOmk.json
{
  "updatedAt": "2026-01-04T12:21:47.362Z",
  "createdAt": "2025-11-18T21:04:41.573Z",
  "id": "fns8Tti6a7mEaOmk",
  "name": "P3 Zoom TIZI Email Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w",
          "mode": "list",
          "cachedResultName": "Ark-x Days",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2042343814,
          "mode": "list",
          "cachedResultName": "TIZI Invitation P3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w/edit#gid=2042343814"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1248,
        352
      ],
      "id": "e59f0764-df9d-4f13-8cde-b6c20c1e29de",
      "name": "Get Contact List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jToedYDz95w6z3tL",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87506979-afa7-46f5-b1ad-0ddbb01b83ab",
              "leftValue": "={{ $('Get Contact List').item.json.Status }}",
              "rightValue": "Mark as Sent",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        352
      ],
      "id": "4ea377ea-af79-4717-973b-2506586c0598",
      "name": "If"
    },
    {
      "parameters": {
        "content": "Get Contacts\n\nDescription: Pull all contacts from Google Sheets.\n\nNode: Get Contact List",
        "height": 384,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1312,
        176
      ],
      "typeVersion": 1,
      "id": "90ecf178-586d-439f-9e8e-49573ee6e885",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Filter โ keep only rows where Status โ โMark as Sentโ",
        "height": 384,
        "width": 176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        176
      ],
      "typeVersion": 1,
      "id": "61d8beef-9c5e-4e03-9a32-34688f2e5dbc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Send email to each remaining contact",
        "height": 384,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        176
      ],
      "typeVersion": 1,
      "id": "72573498-db34-44f2-84f1-2923dc1874a7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w",
          "mode": "list",
          "cachedResultName": "Ark-x Days",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2042343814,
          "mode": "list",
          "cachedResultName": "TIZI Invitation P3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w/edit#gid=2042343814"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Mark as Sent",
            ":ุงูุจุฑูุฏ ุงูุฅููุชุฑููู": "={{ $('Limit').item.json[':ุงูุจุฑูุฏ ุงูุฅููุชุฑููู'] }}",
            "Failed Reason": "={{ $json.labelIds[0] }}"
          },
          "matchingColumns": [
            ":ุงูุจุฑูุฏ ุงูุฅููุชุฑููู"
          ],
          "schema": [
            {
              "id": ": ุงูุงุณู ุงููุงูู",
              "displayName": ": ุงูุงุณู ุงููุงูู",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": ":ุงูุจุฑูุฏ ุงูุฅููุชุฑููู",
              "displayName": ":ุงูุจุฑูุฏ ุงูุฅููุชุฑููู",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Failed Reason",
              "displayName": "Failed Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        336
      ],
      "id": "50666c97-bc8d-4fba-a62b-8cc3be3c049c",
      "name": "Update status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jToedYDz95w6z3tL",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "content": "[Track Success & Failure]\nSeparate success & failed emails\nLog errors/reason in 'raison' column",
        "height": 384,
        "width": 272,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        176
      ],
      "typeVersion": 1,
      "id": "199ba12d-a609-4257-a436-5d2f8a2ef4f5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// Function Node Example\nreturn $items().filter((item, index, self) =>\n    index === self.findIndex((t) => t.json['Email '] === item.json['Email '])\n);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        336
      ],
      "id": "61b78598-088d-42a9-97e1-7e0f92021efe",
      "name": "Duplicate Emails"
    },
    {
      "parameters": {
        "jsCode": "let success = [];\nlet failed = [];\n\nfor (const item of $items()) {\n  if (item.json.error) {\n    // Add the error message to the 'raison' field\n    item.json.raison = item.json.error.message || \"Unknown Error\";\n    failed.push({ json: item.json }); // wrap in json\n  } else {\n    item.json.raison = \"Sent\"; // Optional: mark success\n    success.push({ json: item.json }); // wrap in json\n  }\n}\n\n// Return as a single array\nreturn [...success, ...failed];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        336
      ],
      "id": "0aa097ab-08b5-4cc4-8864-7e326243c090",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "[Batch Processing]\nProcess emails in batches (e.g., 5 at a time)",
        "height": 384,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        176
      ],
      "typeVersion": 1,
      "id": "851b1755-7d4f-44f3-bd53-ab346f3839b4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "[Remove Duplicates]\nRemove contacts with duplicate emails",
        "height": 384,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        176
      ],
      "typeVersion": 1,
      "id": "01b336d6-0237-47b0-969a-851b8c4eb1b7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "[Update Google Sheet]\nUpdate Status = \"Mark as Sent\" for success\nLog failure reason in 'raison'",
        "height": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        176
      ],
      "typeVersion": 1,
      "id": "ec0d30f6-aaa1-4d20-b399-eedbd093548f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Count total sent and send summary email",
        "height": 352,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        -208
      ],
      "typeVersion": 1,
      "id": "0dde3ba9-0eef-4ff5-96f6-45b443ca2798",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "TIZI Invitation Email Automation",
        "height": 896,
        "width": 2256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        -272
      ],
      "typeVersion": 1,
      "id": "977f3fe1-c48e-4a41-8d8a-4831d5dcbd34",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1648,
        352
      ],
      "id": "65be40c1-58e7-4021-82be-fa2a5850bd40",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1648,
        144
      ],
      "id": "a97ab8e7-9c21-4147-a1e1-6f150659abb5",
      "name": "When clicking โExecute workflowโ"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -624,
        336
      ],
      "id": "f93eefac-e95a-4de4-9818-38cef480e4a2",
      "name": "Limit"
    },
    {
      "parameters": {
        "html": "<!doctype html>\n<html lang=\"ar\" dir=\"rtl\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n</head>\n\n<body style=\"margin:0;padding:0;background:#f4f4f4;\">\n\n  <div style=\"\n    font-family: Arial, sans-serif;\n    direction: rtl;\n    text-align: right;\n    line-height: 1.8;\n    color: #333333;\n    max-width: 600px;\n    margin: 30px auto;\n    background:#ffffff;\n    border-radius:8px;\n    overflow:hidden;\n  \">\n\n    <!-- Header -->\n    <div style=\"background-color:#C8001A;text-align:center;padding:12px;\">\n      <div style=\"font-weight:700;color:#FFFFFF;font-size:20px;\">\n        ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ ููููุงุทูุฉ ูุงููุดุงุฑูุฉ ุงููุฏููุฉ โ TIZI\n      </div>\n    </div>\n\n    <!-- Content -->\n    <div style=\"padding:20px;\">\n\n      <p>ุงูุณูุงู ุนูููู ูุฑุญูุฉ ุงููู ูุจุฑูุงุชูุ</p>\n\n      <p>ุงูุณูุฏ(ุฉ): {{ $json[': ุงูุงุณู ุงููุงูู'] }}</p>\n\n      <p>\n        ูู ุฅุทุงุฑ ุงุณุชููุงู ุฅุฌุฑุงุกุงุช ุชุณููู\n        <strong>ุดูุงูุฏ ุงููุดุงุฑูุฉ</strong>\n        ุงูุฎุงุตุฉ ุจุจุฑูุงูุฌ\n        <strong>ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ ููููุงุทูุฉ ูุงููุดุงุฑูุฉ ุงููุฏููุฉ โ TIZI</strong>ุ\n        ูุฑุฌู ูููู ุงูุชูุถู ุจููุก ุงูุงุณุชูุงุฑุฉ ุงููุฎุตุตุฉ ููุฐุง ุงูุบุฑุถุ ูุฐูู ูุจู ุงูุชุงุฑูุฎ ุฃุณููู.\n      </p>\n\n      <p>\n        ููุฏู ูุฐุง ุงููููุฐุฌ ุฅูู ุงูุชุฃูุฏ ูู ุตุญุฉ ุงููุนุทูุงุช ุงูุดุฎุตูุฉ ุงููุนุชูุฏุฉ ูู ุฅุนุฏุงุฏ ุงูุดูุงูุฏุ\n        ูุถูุงู ุชูุตู ูู ุงููุดุงุฑููู ุจุดูุงุฏุงุชูู ุจุดูู ุตุญูุญ.\n      </p>\n\n      <!-- Form link -->\n      <p><strong>๐ ุฑุงุจุท ุงูุงุณุชูุงุฑุฉ:</strong></p>\n\n      <p style=\"word-break:break-all;\">\n        <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSeP5i9SfCvQo1oVq_sRPEsTIRimIPuIZifMwf16LLJio43tbQ/viewform?usp=publish-editor\"\n           target=\"_blank\"\n           style=\"color:#1a73e8;text-decoration:none;\">\n          https://docs.google.com/forms/d/e/1FAIpQLSeP5i9SfCvQo1oVq_sRPEsTIRimIPuIZifMwf16LLJio43tbQ/viewform\n        </a>\n      </p>\n\n      <!-- Note -->\n      <div style=\"background:#fff4e5;border-right:4px solid #ffa500;padding:12px;border-radius:6px;margin:16px 0;\">\n        <p style=\"margin:0 0 6px 0;\"><strong>โ๏ธ ููุงุญุธุฉ ูุงูุฉ:</strong></p>\n        <p style=\"margin:0;\">\n          ูุฑุฌู ุงูุชุฃูุฏ ูู ุฅุฏุฎุงู ุงููุนูููุงุช ุจุฏูุฉุ ุฎุงุตุฉ ุงูุงุณู ุงููุงูู ูุนููุงู ุงูุจุฑูุฏ ุงูุฅููุชุฑูููุ\n          ุญูุซ ุณูุชู ุงุนุชูุงุฏูุง ููุง ูู ูู ุงูุดูุงุฏุฉ.\n        </p>\n      </div>\n\n      <p>\n        <strong>ุขุฎุฑ ุฃุฌู ูููุก ุงูุงุณุชูุงุฑุฉ:</strong><br>\n        ๐ ุงูุชูุงุซุงุก 06 ููุงูุฑ 2026\n      </p>\n\n      <p>\n        ูุดูุฑ ููู ุชุนุงููููุ ููุชููู ุฃู ุชููู ูุฐู ุงูุชุฌุฑุจุฉ ุงูุชูููููุฉ ูุฏ ุญููุช ููู ุงูุฅุถุงูุฉ ุงููุฑุฌูุฉ.\n      </p>\n\n      <p>\n        ูุน ุฎุงูุต ุงูุชูุฏูุฑ ูุงูุงุญุชุฑุงูุ<br>\n        <strong>ูุฑูู ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ ููููุงุทูุฉ ูุงููุดุงุฑูุฉ ุงููุฏููุฉ โ TIZI</strong>\n      </p>\n\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background-color:#f7f7f7;padding:15px;text-align:center;color:#777;font-size:13px;\">\n      ยฉ 2026 TIZI โ ุฌููุน ุงูุญููู ูุญููุธุฉ\n    </div>\n\n  </div>\n\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -400,
        336
      ],
      "id": "f7e54fe4-d516-4c90-ba15-edcb3e60f575",
      "name": "HTML1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Limit').item.json[':ุงูุจุฑูุฏ ุงูุฅููุชุฑููู'] }}",
        "subject": "ุงูููุถูุน: ุฏุนูุฉ ูููุก ุงุณุชูุงุฑุฉ ุงูุญุตูู ุนูู ุดูุงุฏุฉ ุงููุดุงุฑูุฉ โ ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ TIZI",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "senderName": "TIZI ADMIN"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -160,
        336
      ],
      "id": "6c518a90-ac75-40a6-a475-da23735743ed",
      "name": "Send Invitation1",
      "webhookId": "c7b11f55-66be-4d9e-a158-5e09960d6673",
      "credentials": {
        "gmailOAuth2": {
          "id": "zCKZm9NWFpPMNBX2",
          "name": "TIZI"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "=Abidinouhaila3gmail.com",
        "subject": " ุฏุนูุฉ ูุญุถูุฑ ุงููุญุฏุฉ ุงูุฃููู ูู ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ ููููุงุทูุฉ ูุงููุดุงุฑูุฉ ุงููุฏููุฉ โ TIZI",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "senderName": "TIZI ADMIN"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1312,
        -240
      ],
      "id": "4666275e-a43e-42f9-af6b-64561ceb1a28",
      "name": "Send Invitation",
      "webhookId": "712a0b00-abe3-4748-b8e4-67d4b3a5174f",
      "credentials": {
        "gmailOAuth2": {
          "id": "n0jRxjNqZi2RTiU3",
          "name": "TIZI 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "html": "<!doctype html>\n<html lang=\"ar\" dir=\"rtl\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n</head>\n<body style=\"margin:0;padding:0;background:#f4f4f4;\">\n  <div style=\"font-family: Arial, sans-serif; direction: rtl; text-align: right; line-height: 1.7; color: #333333; max-width: 600px; margin: 30px auto; padding: 0; background:#ffffff; border-radius:8px; overflow:hidden;\">\n\n          <div style=\" background-color:#C8001A;text-align:center; margin-bottom:18px;\">\n      <!-- optional inline logo -->\n      <!-- <img src=\"https://share.google/images/cD7fhkBdUIqgt1YQz\" alt=\"TIZI\" style=\"width:140px; display:block; margin:0 auto 10px;\" /> -->\n      <div style=\"font-weight:700; color:#FFFFFF; font-size:20px;\">ูุจุงุฏุฑุฉ ุทุงุฑู ุจู ุฒูุงุฏ โ TIZI</div>\n    </div>\n\n    <div style=\"padding:20px;\">\n\n      <!-- Greeting -->\n      <p style=\"margin:0 0 12px 0;\">ุงูุณูุงู ุนูููู ูุฑุญูุฉ ุงููู ูุจุฑูุงุชูุ</p>\n\n      <!-- Name -->\n      <p style=\"margin:0 0 12px 0;\">ุงูุณูุฏ(ุฉ): <strong><span dir=\"ltr\">ููููุฉ ุนุจูุฏู </span></strong></p>\n\n      <!-- Intro -->\n      <p style=\"margin:0 0 12px 0;\">\n        ูุณุนุฏูุง ูู ูุจุงุฏุฑุฉ <strong>ุทุงุฑู ุจู ุฒูุงุฏ โ TIZI</strong> ุฃู ูุฏุนููู ูุญุถูุฑ ุงููุญุฏุฉ ุงูุฃููู ูู\n        <strong>ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ ููููุงุทูุฉ ูุงููุดุงุฑูุฉ ุงููุฏููุฉ</strong>ุ ูุฐูู ุจุนุฏ ุงุฎุชูุงุฑูู ุถูู ุงููุดุงุฑููู ุงูุฐูู ุชู ูุจูููู ูู ุจูู ุฃูุซุฑ ูู\n        <strong>1000 ุทูุจ ุชุณุฌูู</strong>.\n      </p>\n\n      <!-- Session box -->\n      <div style=\"background:#f7fbff; border:1px solid #e6f0ff; padding:12px; border-radius:6px; margin:16px 0;\">\n        <p style=\"margin:0 0 6px 0;\"><strong>โ ูุนูููุงุช ุงูุฌูุณุฉ:</strong></p>\n        <p style=\"margin:0 0 6px 0;\"><strong>ุนููุงู ุงููุญุฏุฉ:</strong> ุงููุคุณุณุงุช ุงูุฏุณุชูุฑูุฉ ูุฃุฏูุงุฑ ุงููุงุนููู ูู ุงูุญูุงุฉ ุงูุนุงูุฉ</p>\n        <p style=\"margin:0 0 6px 0;\"><strong>ูู ุชุฃุทูุฑ:</strong> ุงูุฏูุชูุฑุฉ ูุฑูู ุงุจููู</p>\n        <p style=\"margin:0 0 6px 0;\"><strong>ุงูุชุงุฑูุฎ:</strong> ุงูุฎููุณ 13 ูููุจุฑ</p>\n        <p style=\"margin:0 0 6px 0;\"><strong>ุงูููุช:</strong> <span dir=\"ltr\">21:00</span> ูุณุงุก</p>\n        <p style=\"margin:0;\"><strong>ุงูููุตุฉ:</strong> <span dir=\"ltr\">Zoom</span></p>\n      </div>\n\n<!-- Link / Button -->\n<div style=\"text-align:center; margin:18px 0;\">\n\n  <!-- โ Green background wrapper to force the text to appear -->\n  <div style=\"; padding:10px; border-radius:6px; display:inline-block; margin-bottom:10px;\">\n    <p style=\"margin:0; color:#0a8025; font-weight:bold; font-size:16px;\">\n      ๐ ุฑุงุจุท ุงูุญุถูุฑ:\n    </p>\n  </div>\n\n\n  <!-- Button using table with green background -->\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" align=\"center\" style=\"margin:0 auto;\">\n    <tr>\n      <td align=\"center\" bgcolor=\"#d8f7dc\" style=\"border-radius:8px;\">\n        <a href=\"https://us06web.zoom.us/j/89187545454?pwd=b1pquZplwJAv5p7zde40hXAJXckLbf.1\"\n           target=\"_blank\"\n           style=\"background:#F52B07; display:inline-block; padding:12px 20px; text-decoration:none; font-weight:600; font-family: Arial, sans-serif; color:#FFFFFF; font-size:16px;\">\n           ุงูุงูุถูุงู ุฅูู ุงูุฌูุณุฉ ุนุจุฑ Zoom\n        </a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"font-size:13px; color:#666; margin:12px 0 0 0;\">ูุฑุฌู ุงูุงูุถูุงู ุนุจุฑ ุงูุฑุงุจุท ุงูุณุงุจู ูุจู <strong>5 ุฏูุงุฆู</strong> ูู ููุนุฏ ุงูุงูุทูุงู.</p>\n  <p style=\"font-size:13px; color:#666; margin:6px 0 0 0;\"><strong>๐ ูุฑุฌู ุนุฏู ูุดุงุฑูุฉ ุงูุฑุงุจุท ูุน ุบูุฑ ุงููุณุฌููู ูู ุงูุจุฑูุงูุฌ.</strong></p>\n</div>\n\n\n\n      <!-- Reminder -->\n      <div style=\"margin-top:10px;\">\n        <p style=\"margin:0 0 6px 0;\"><strong>โ ุชุฐููุฑ ููู:</strong></p>\n        <p style=\"margin:0 0 6px 0;\">ุญุถูุฑ ูุฐู ุงููุญุฏุฉ ูุฏุฎู ุถูู ูุณุจุฉ ุงูุญุถูุฑ ุงููุทููุจุฉ ููุญุตูู ุนูู ุดูุงุฏุฉ ุงููุดุงุฑูุฉ ุงูููุงุฆูุฉ.</p>\n        <p style=\"margin:0 0 6px 0;\">ุนุฏุฏ ุงูููุงุนุฏ ูุญุฏูุฏ ูู <strong>300 ููุนุฏ</strong> ููุทุ ุญุงูู ุงูุฏุฎูู ูุจูุฑุงู ูุถูุงู ููุงูู.</p>\n      </div>\n\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background-color:#f7f7f7; padding:15px; text-align:center; color:#777; font-size:13px;\">\n      ยฉ 2025 TIZI โ ุฌููุน ุงูุญููู ูุญููุธุฉ\n    </div>\n\n  </div>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1552,
        -240
      ],
      "id": "c1d9c846-520f-4629-b1be-d7ea9d0a54c3",
      "name": "HTML"
    },
    {
      "parameters": {
        "html": "<!doctype html>\n<html lang=\"ar\" dir=\"rtl\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n</head>\n<body style=\"margin:0;padding:0;background:#f4f4f4;\">\n  <div style=\"font-family: Arial, sans-serif; direction: rtl; text-align: right; line-height: 1.7; color: #333333; max-width: 600px; margin: 30px auto; padding: 0; background:#ffffff; border-radius:8px; overflow:hidden;\">\n\n    <div style=\"background-color:#C8001A;text-align:center; margin-bottom:18px;\">\n      <div style=\"font-weight:700; color:#FFFFFF; font-size:20px;\">ูุจุงุฏุฑุฉ ุทุงุฑู ุจู ุฒูุงุฏ โ TIZI</div>\n    </div>\n\n    <div style=\"padding:20px;\">\n\n      <!-- Greeting -->\n      <p style=\"margin:0 0 12px 0;\">ุงูุณูุงู ุนูููู ูุฑุญูุฉ ุงููู ูุจุฑูุงุชูุ</p>\n\n      <!-- Name -->\n      <p style=\"margin:0 0 12px 0;\">ุงูุณูุฏ(ุฉ): <strong><span dir=\"ltr\">{{ $json[': ุงูุงุณู ุงููุงูู'] }}</span></strong></p>\n\n      <!-- Intro -->\n      <p style=\"margin:0 0 12px 0;\">\n       ูุชููู ุฃู ุชููููุง ูุฏ ุงุณุชูุฏุชู ูู ุงููุญุฏุฉ ุงูุฑุงุจุนุฉุ ููุดูุฑูู ุนูู ูุดุงุฑูุชูู ูุชูุงุนููู ุงูุฅูุฌุงุจู.\nูุณุนุฏูุง ุฅุนูุงููู ุจุงูุนูุงุฏ ุงููุญุฏุฉ ุงูุฑุงุจุนุฉ ูู ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ ููููุงุทูุฉ ูุงููุดุงุฑูุฉ ุงููุฏููุฉ โ TIZI\n     </p>\n\n      <!-- Session box -->\n      <div style=\"background:#f7fbff; border:1px solid #e6f0ff; padding:12px; border-radius:6px; margin:16px 0;\">\n        <p style=\"margin:0 0 6px 0;\"><strong>โ ูุนูููุงุช ุงูุฌูุณุฉ:</strong></p>\n        <p style=\"margin:0 0 6px 0;\"><strong>ุนููุงู ุงููุญุฏุฉ:</strong>ุงุงูุชุญูู ุงูุฑููู ูุฏูุฑู ูู ุชุนุฒูุฒ ุงููุดุงุฑูุฉยุงูููุงุทูุฉ</p>\n        <p style=\"margin:0 0 6px 0;\"><strong>ูู ุชุฃุทูุฑ:</strong> ุนุจุฏ ุงูุตูุฏ ุงูุญูุงู </p>\n        <p style=\"margin:0 0 6px 0;\"><strong>ุงูุชุงุฑูุฎ:</strong> ุงูุฎููุณ 11 ุฏุฌูุจุฑ 2025</p>\n        <p style=\"margin:0 0 6px 0;\"><strong>ุงูููุช:</strong> <span dir=\"ltr\">21:00</span> ูุณุงุก</p>\n        <p style=\"margin:0;\"><strong>ุงูููุตุฉ:</strong> <span dir=\"ltr\">Zoom</span></p>\n      </div>\n\n      <!-- Link / Button -->\n      <div style=\"text-align:center; margin:18px 0;\">\n\n        <div style=\"padding:10px; border-radius:6px; display:inline-block; margin-bottom:10px;\">\n          <p style=\"margin:0; color:#0a8025; font-weight:bold; font-size:16px;\">\n            ๐ ุฑุงุจุท ุงูุญุถูุฑ:\n          </p>\n        </div>\n\n        <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" align=\"center\" style=\"margin:0 auto;\">\n          <tr>\n            <td align=\"center\" bgcolor=\"#d8f7dc\" style=\"border-radius:8px;\">\n              <a href=\"https://us06web.zoom.us/meeting/register/EZTbXgSYSd2chEigbqgpBQ\"\n                 target=\"_blank\"\n                 style=\"background:#F52B07; display:inline-block; padding:12px 20px; text-decoration:none; font-weight:600; font-family: Arial, sans-serif; color:#FFFFFF; font-size:16px;\">\n                 ุงูุงูุถูุงู ุฅูู ุงูุฌูุณุฉ ุนุจุฑ Zoom\n              </a>\n            </td>\n          </tr>\n        </table>\n\n        <p style=\"font-size:13px; color:#666; margin:12px 0 0 0;\">ูุฑุฌู ุงูุงูุถูุงู ุนุจุฑ ุงูุฑุงุจุท ุงูุณุงุจู ูุจู <strong>5 ุฏูุงุฆู</strong> ูู ููุนุฏ ุงูุงูุทูุงู.</p>\n        <p style=\"font-size:13px; color:#666; margin:6px 0 0 0;\"><strong>๐ ูุฑุฌู ุนุฏู ูุดุงุฑูุฉ ุงูุฑุงุจุท ูุน ุบูุฑ ุงููุณุฌููู ูู ุงูุจุฑูุงูุฌ.</strong></p>\n      </div>\n\n      <!-- Reminder -->\n      <div style=\"margin-top:10px;\">\n        <p style=\"margin:0 0 6px 0;\"><strong>โ ุชุฐููุฑ ููู:</strong></p>\n        <p style=\"margin:0 0 6px 0;\">ุญุถูุฑ ูุฐู ุงููุญุฏุฉ ูุฏุฎู ุถูู ูุณุจุฉ ุงูุญุถูุฑ ุงููุทููุจุฉ ููุญุตูู ุนูู ุดูุงุฏุฉ ุงููุดุงุฑูุฉ ุงูููุงุฆูุฉ.</p>\n        <p style=\"margin:0 0 6px 0;\">ุนุฏุฏ ุงูููุงุนุฏ ูุญุฏูุฏ ูู <strong>300 ููุนุฏ</strong> ููุทุ ุญุงูู ุงูุฏุฎูู ูุจูุฑุงู ูุถูุงู ููุงูู.</p>\n      </div>\n\n    </div>\n\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background-color:#f7f7f7; padding:15px; text-align:center; color:#777; font-size:13px;\">\n      ยฉ 2025 TIZI โ ุฌููุน ุงูุญููู ูุญููุธุฉ\n    </div>\n\n\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -144,
        -112
      ],
      "id": "e2d4320d-f00c-4ece-b8ad-3b511ef94ed2",
      "name": "HTML3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Limit').item.json[':ุงูุจุฑูุฏ ุงูุฅููุชุฑููู'] }}",
        "subject": " ุฏุนูุฉ ูุญุถูุฑ ุงููุญุฏุฉ ุงูุฎุงูุณุฉ ูู ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ โ TIZI",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "senderName": "TIZI ADMIN"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        96,
        -112
      ],
      "id": "e85a6129-a6b7-4bcb-bf63-8c87235714f3",
      "name": "Send Invitation2",
      "webhookId": "c7b11f55-66be-4d9e-a158-5e09960d6673",
      "credentials": {
        "gmailOAuth2": {
          "id": "zCKZm9NWFpPMNBX2",
          "name": "TIZI"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "html": "<!doctype html>\n<html lang=\"ar\" dir=\"rtl\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n</head>\n<body style=\"margin:0;padding:0;background:#f4f4f4;\">\n  <div style=\"font-family: Arial, sans-serif; direction: rtl; text-align: right; line-height: 1.7; color: #333333; max-width: 600px; margin: 30px auto; padding: 0; background:#ffffff; border-radius:8px; overflow:hidden;\">\n\n    <!-- Header -->\n    <div style=\"background-color:#C8001A;text-align:center; padding:14px;\">\n      <div style=\"font-weight:700; color:#FFFFFF; font-size:20px;\">\n        ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ ููููุงุทูุฉ ูุงููุดุงุฑูุฉ ุงููุฏููุฉ โ TIZI\n      </div>\n    </div>\n\n    <!-- Content -->\n    <div style=\"padding:20px;\">\n\n      <!-- Greeting -->\n      <p style=\"margin:0 0 12px 0;\">ุงูุณูุงู ุนูููู ูุฑุญูุฉ ุงููู ูุจุฑูุงุชูุ</p>\n\n      <!-- Name -->\n      <p style=\"margin:0 0 12px 0;\">ุงูุณูุฏ(ุฉ): <strong><span dir=\"ltr\">{{ $json[': ุงูุงุณู ุงููุงูู'] }}</span></strong></p>\n\n      <!-- Intro -->\n      <p style=\"margin:0 0 12px 0;\">\n        ููุฏู ุฅุญุงุทุชูู ุนูููุง ุจุฃูู ุชูุฑุฑ ุชุฃุฌูู ุงูุนูุงุฏ ุงููุญุฏุฉ ุงูุณุงุฏุณุฉ ูู ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ ููููุงุทูุฉ ูุงููุดุงุฑูุฉ ุงููุฏููุฉ โ TIZIุ ูุงูุชู ุชุญูู ุนููุงู:\n      </p>\n\n      <!-- Title box -->\n      <div style=\"background:#f7fbff; border:1px solid #e6f0ff; padding:12px; border-radius:6px; margin:16px 0; text-align:center;\">\n        <p style=\"margin:0; font-weight:bold; font-size:16px;\">\n          ุงูููุงุฏุฉ ุงูุดุจุงุจูุฉ ูุงูุชุฃุซูุฑ ุงูุฅูุฌุงุจู ูู ุงููุฌุชูุน\n        </p>\n      </div>\n\n      <p style=\"margin:0 0 12px 0;\">\n        ูุฐูู ูุฃุณุจุงุจ ุชูุธูููุฉุ ุนูู ุฃู ูุชู ุนูุฏ ูุฐู ุงููุญุฏุฉ ููู <strong>ุงูุฃุฑุจุนุงุก ุงูููุจู</strong> ุจุฏููุง ูู ุงูููุนุฏ ุงููุนูู ุณุงุจููุง.\n      </p>\n\n      <!-- Session info -->\n      <div style=\"background:#f7fbff; border:1px solid #e6f0ff; padding:12px; border-radius:6px; margin:16px 0;\">\n        <p style=\"margin:0 0 6px 0;\"><strong>๐ ุงูููุนุฏ ุงูุฌุฏูุฏ:</strong></p>\n        <p style=\"margin:0 0 6px 0;\"><strong>๐ ุงูุชุงุฑูุฎ:</strong> ุงูุฃุฑุจุนุงุก 24 ุฏุฌูุจุฑ 2025</p>\n        <p style=\"margin:0 0 6px 0;\"><strong>โฐ ุงูุณุงุนุฉ:</strong> <span dir=\"ltr\">20:00</span></p>\n        <p style=\"margin:0;\"><strong>๐ป ุงูููุตุฉ:</strong> <span dir=\"ltr\">Zoom</span></p>\n      </div>\n\n      <!-- Note -->\n      <p style=\"margin:0 0 12px 0;\">\n        ุณูุชู ุฅุฑุณุงู ุฑุงุจุท ุงููุดุงุฑูุฉ ูู ููุช ูุงุญู ูุจู ุงูุทูุงู ุงูุฌูุณุฉ.\n      </p>\n\n      <!-- Apology -->\n      <p style=\"margin:0 0 12px 0;\">\n        ูุนุชุฐุฑ ุนู ุฃู ุฅุฒุนุงุฌ ูุฏ ูุณุจุจู ูุฐุง ุงูุชุบููุฑุ ููุดูุฑ ููู ุชููููู ูุชุนุงููููุ ูุญุฑุตูู ุงูุฏุงุฆู ุนูู ูุชุงุจุนุฉ ุจุฑูุงูุฌ ุงูุฃูุงุฏูููุฉ.\n      </p>\n\n      <!-- Closing -->\n      <p style=\"margin:0;\">\n        ูุน ุฎุงูุต ุงูุชูุฏูุฑ ูุงูุงุญุชุฑุงูุ<br/>\n        <strong>ูุฑูู ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ ููููุงุทูุฉ ูุงููุดุงุฑูุฉ ุงููุฏููุฉ โ TIZI</strong>\n      </p>\n\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background-color:#f7f7f7; padding:15px; text-align:center; color:#777; font-size:13px;\">\n      ยฉ 2025 TIZI โ ุฌููุน ุงูุญููู ูุญููุธุฉ\n    </div>\n\n  </div>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1584,
        -32
      ],
      "id": "bc03cd86-3987-4b00-8bf5-161f8320eea7",
      "name": "HTML2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Limit').item.json[':ุงูุจุฑูุฏ ุงูุฅููุชุฑููู'] }}",
        "subject": " ุฅุดุนุงุฑ ุจุชุฃุฌูู ุงููุญุฏุฉ ุงูุณุงุฏุณุฉ ูู ุงูุฃูุงุฏูููุฉ ุงูุฑูููุฉ ููููุงุทูุฉ ู ุงููุดุงุฑูุฉ ุงููุฏููุฉ.",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "senderName": "TIZI ADMIN"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1344,
        -32
      ],
      "id": "1daf75e5-e4dd-439c-9b98-cbc03f9126fb",
      "name": "Send Invitation3",
      "webhookId": "c7b11f55-66be-4d9e-a158-5e09960d6673",
      "credentials": {
        "gmailOAuth2": {
          "id": "zCKZm9NWFpPMNBX2",
          "name": "TIZI"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Get Contact List": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Duplicate Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status": {
      "main": [
        []
      ]
    },
    "Duplicate Emails": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Contact List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking โExecute workflowโ": {
      "main": [
        [
          {
            "node": "Get Contact List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Send Invitation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invitation1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Send Invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML3": {
      "main": [
        [
          {
            "node": "Send Invitation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Send Invitation3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c7657638-f404-4a20-ac1a-4580f64c14de",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-18T21:04:41.580Z",
      "createdAt": "2025-11-18T21:04:41.580Z",
      "role": "workflow:owner",
      "workflowId": "fns8Tti6a7mEaOmk",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}