part-1-4Q7wN7NfVRwPn8Jj.json
{
  "updatedAt": "2025-12-25T01:32:14.760Z",
  "createdAt": "2025-12-24T12:02:33.107Z",
  "id": "4Q7wN7NfVRwPn8Jj",
  "name": "PART 1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"term\": \"Dentists\",\n  \"location\": \"Miami\",\n  \"job_id\": \"11111111-1111-1111-1111-111111111111\",\n  \"batch_id\": \"22222222-2222-2222-2222-222222222222\",\n  \"user_id\": \"33333333-3333-3333-3333-333333333333\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "741424b0-fa64-4d84-a664-ea38ac989324",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Input validation\nconst input = $input.first().json;\n\nif (!input.term || !input.location) {\n  throw new Error('Missing required fields: term and location');\n}\n\nif (!input.user_id || !input.batch_id) {\n  throw new Error('Missing required fields: user_id and batch_id');\n}\n\n// Sanitize inputs\nconst cleanTerm = input.term.trim();\nconst cleanLocation = input.location.trim();\n\n// Create search query\nconst searchQuery = `${cleanTerm} ${cleanLocation}`;\n\nconsole.log(`Starting search: ${searchQuery}`);\n\nreturn [{\n  json: {\n    term: cleanTerm,\n    location: cleanLocation,\n    search_query: searchQuery,\n    job_id: input.job_id || null,\n    batch_id: input.batch_id,\n    user_id: input.user_id,\n    started_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "71a9b22a-27a3-4141-b56a-a1caad51f65e",
      "name": "Input Validation"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the Run ID from the \"Start Apify Run\" output\nconst runId = $input.first().json.data.id;\n// 2. Pass along the original metadata (batch_id, user_id, etc.)\nconst originalInput = $('Input Validation').item.json;\n\nconst apifyToken = 'REDACTED_BY_REGEX'; \nconst maxRetries = 20; \nconst pollInterval = 5000; \n\nfor (let i = 0; i < maxRetries; i++) {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.apify.com/v2/actor-runs/${runId}?token=${apifyToken}`\n  });\n\n  const status = response.data.status;\n  console.log(`Checking status... Current: ${status}`);\n\n  if (status === 'SUCCEEDED') {\n    return [{\n      json: {\n        run_id: runId,\n        dataset_id: response.data.defaultDatasetId,\n        status: 'completed',\n        ...originalInput\n      }\n    }];\n  }\n\n  if (status === 'FAILED' || status === 'ABORTED' || status === 'TIMED-OUT') {\n    throw new Error(`Apify Run failed with status: ${status}`);\n  }\n\n  // Wait 5 seconds before checking again\n  await new Promise(resolve => setTimeout(resolve, pollInterval));\n}\n\nthrow new Error('Scraper took too long (over 100 seconds). Check Apify Console.');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "1e9ed67b-51cc-436f-b5ac-b9b669770f6d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REDACTED_HEADER_VALUE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"searchStringsArray\": [\n    \"{{ $node[\\\"Input Validation\\\"].json.search_query }}\"\n  ],\n  \"maxCrawledPlacesPerSearch\": 10, \n  \"includeWebsites\": true,\n  \"language\": \"en\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        0
      ],
      "id": "8efe4d66-1752-41f8-ac86-6d5d3b210177",
      "name": "Start Apify Run"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/datasets/{{ $node[\"Code in JavaScript\"].json.dataset_id }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REDACTED_HEADER_VALUE"
            },
            {
              "name": "clean",
              "value": "true"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        0
      ],
      "id": "5fd945f6-ad72-44e5-a8c7-12f440b610ad",
      "name": "Fetch Results"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\nconst originalInput = $('Input Validation').item.json;\nconst places = inputData.map(item => item.json);\nconst leads = [];\n\nif (!places || places.length === 0) {\n    throw new Error('No data received from Apify results.');\n}\n\nfor (const place of places) {\n  let domain = null;\n  \n  // Try to extract domain if website exists\n  if (place.website) {\n    try {\n      const url = new URL(place.website.startsWith('http') ? place.website : 'https://' + place.website);\n      domain = url.hostname.replace(/^www\\./, '');\n    } catch (e) {\n      domain = null; // Fallback if URL is malformed\n    }\n  }\n  \n  // Clean phone number\n  let cleanPhone = place.phone || place.phoneNumber || null;\n  if (cleanPhone) {\n    cleanPhone = cleanPhone.replace(/[^\\d+]/g, '');\n    if (cleanPhone && !cleanPhone.startsWith('+')) {\n      cleanPhone = '+1' + cleanPhone;\n    }\n  }\n  \n  // Build full address\n  const addressParts = [\n    place.street,\n    place.city,\n    place.state,\n    place.postalCode || place.zip || place.postcode\n  ].filter(Boolean);\n\n  leads.push({\n    json: {\n        user_id: originalInput.user_id,\n        batch_id: originalInput.batch_id,\n        job_id: originalInput.job_id,\n        domain: domain,\n        name: place.title || place.name || 'Unknown',\n        phone: cleanPhone,\n        email: place.email || null,\n        address: addressParts.join(', ') || null,\n        rating: place.totalScore || place.rating || null,\n        reviews_count: place.reviewsCount || 0,\n        category: place.categoryName || null,\n        source: 'apify_google_maps',\n        status: 'raw',\n        created_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn leads;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        0
      ],
      "id": "f1469781-e86b-44d3-84d1-65d45951396e",
      "name": "Transform & Validate Leads"
    },
    {
      "parameters": {
        "jsCode": "// Create summary for batch update\nconst insertedLeads = $input.all();\nconst originalInput = $('Input Validation').item.json;\n\nconst summary = {\n  batch_id: originalInput.batch_id,\n  total_leads: insertedLeads.length,\n  started_at: originalInput.started_at,\n  completed_at: new Date().toISOString(),\n  search_query: originalInput.search_query\n};\n\nconsole.log('Summary:', JSON.stringify(summary, null, 2));\n\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        0
      ],
      "id": "3c15f9c2-7f06-4b19-be4a-f3602c1ad2b4",
      "name": "Create Summary"
    },
    {
      "parameters": {
        "operation": "update"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2080,
        0
      ],
      "id": "7439f698-19b4-4e11-ba70-c1a419b3d5d9",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "B3fV167ZWXhpJPxi",
          "name": "LEAD GEN AI"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Final success message\nconst summary = $input.first().json;\n\nconst duration = new Date(summary.completed_at) - new Date(summary.started_at);\nconst durationSeconds = Math.round(duration / 1000);\n\nreturn [{\n  json: {\n    workflow: '02_HUNTER',\n    status: 'success',\n    batch_id: summary.batch_id,\n    total_leads: summary.total_leads,\n    search_query: summary.search_query,\n    duration_seconds: durationSeconds,\n    message: `Successfully found ${summary.total_leads} leads in ${durationSeconds} seconds`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        0
      ],
      "id": "b3be4f67-d236-46d5-8db9-475236a8fd85",
      "name": "Success Message"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1664,
        0
      ],
      "id": "35c7d026-0016-40d6-bf1b-6081f8b7b5cb",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "B3fV167ZWXhpJPxi",
          "name": "LEAD GEN AI"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        256,
        272
      ],
      "id": "2e28088f-4871-4e80-8e40-13ccd20455ea",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors\nconst error = $input.first().json.error || {};\nconst errorNode = error.node || 'unknown';\nconst errorMessage = error.message || 'Unknown error';\n\n// Try to get batch_id from various sources\nlet batchId = null;\ntry {\n  batchId = $('Input Validation').item.json.batch_id;\n} catch (e) {\n  console.warn('Could not retrieve batch_id');\n}\n\nconsole.error('Workflow error:', {\n  node: errorNode,\n  message: errorMessage,\n  batch_id: batchId\n});\n\nreturn [{\n  json: {\n    workflow: '02_HUNTER',\n    status: 'failed',\n    batch_id: batchId,\n    error_node: errorNode,\n    error_message: errorMessage,\n    error_stack: error.stack,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        272
      ],
      "id": "2ad65f6b-18c4-40b3-abdd-5f9535d066fe",
      "name": "Log Error"
    },
    {
      "parameters": {
        "operation": "insert"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        272
      ],
      "id": "0fda9dce-b2e2-4e32-8d7c-4ac202c463a5",
      "name": "Save Error Log",
      "credentials": {
        "supabaseApi": {
          "id": "w74QAgAeoxE3BF9T",
          "name": "imad"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "batches"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        272
      ],
      "id": "d910d59c-3b9c-43d0-bf43-cefe351192a8",
      "name": "Mark Batch Failed",
      "credentials": {
        "supabaseApi": {
          "id": "w74QAgAeoxE3BF9T",
          "name": "imad"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "part1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        352,
        -272
      ],
      "id": "663432e6-d203-4141-9183-31b295c804b5",
      "name": "Webhook",
      "webhookId": "a9dde86a-cc20-4cc2-af32-c83330533f79"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"term\": \"Dentists in Miami\",\n  \"user_id\": \"33333333-3333-3333-3333-333333333333\",\n  \"batch_id\": \"22222222-2222-2222-2222-222222222222\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -272
      ],
      "id": "d14f126e-accc-46de-a795-e2d6bf3b2c8c",
      "name": "Map Webhook Data1"
    },
    {
      "parameters": {
        "jsCode": "// Get input from Webhook or the previous node\nconst input = $input.first().json;\n\n// Check for required technical IDs\nif (!input.user_id || !input.batch_id) {\n  throw new Error('Missing required fields: user_id and batch_id');\n}\n\n// Extract term and location logic\nlet rawSearch = input.term || \"\"; \nlet term = rawSearch;\nlet location = input.location || \"\";\n\n// Split logic if phrase contains \"in\" or \"at\"\nconst splitMatch = rawSearch.match(/(.+)\\s+(?:in|at)\\s+(.+)/i);\n\nif (splitMatch) {\n    term = splitMatch[1].trim();\n    location = splitMatch[2].trim();\n}\n\nreturn [{\n  json: {\n    term: term,\n    location: location,\n    search_query: `${term} ${location}`.trim(),\n    batch_id: input.batch_id,\n    user_id: input.user_id,\n    started_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -272
      ],
      "id": "011dce89-b41a-472c-bb2c-02a907ccf5a8",
      "name": "Input Validation1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REDACTED_HEADER_VALUE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchStringsArray\": [\n    \"{{ $json.search_query }}\"\n  ],\n  \"maxCrawledPlacesPerSearch\": 10,\n  \"includeWebsites\": true,\n  \"language\": \"en\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        -272
      ],
      "id": "6270db2d-c661-4de8-b4c3-42c638c8d9c3",
      "name": "Start Apify Run1"
    },
    {
      "parameters": {
        "jsCode": "const runId = $input.first().json.data.id;\nconst originalInput = $('Input Validation1').item.json;\nconst apifyToken = 'REDACTED_BY_REGEX'; \nconst maxRetries = 20; \nconst pollInterval = 5000; \n\nfor (let i = 0; i < maxRetries; i++) {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.apify.com/v2/actor-runs/${runId}?token=${apifyToken}`\n  });\n\n  const status = response.data.status;\n\n  if (status === 'SUCCEEDED') {\n    return [{\n      json: {\n        run_id: runId,\n        dataset_id: response.data.defaultDatasetId,\n        status: 'completed',\n        ...originalInput\n      }\n    }];\n  }\n\n  if (status === 'FAILED' || status === 'ABORTED' || status === 'TIMED-OUT') {\n    throw new Error(`Apify Run failed with status: ${status}`);\n  }\n\n  await new Promise(resolve => setTimeout(resolve, pollInterval));\n}\n\nthrow new Error('Apify timed out.');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -272
      ],
      "id": "3be42f13-f927-4049-a082-d4506d4c529f",
      "name": "Poll Status1"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.dataset_id }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REDACTED_HEADER_VALUE"
            },
            {
              "name": "clean",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        -272
      ],
      "id": "56f48bc1-14e4-4baf-b1c5-e765f3a5c288",
      "name": "Fetch Results1"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation": {
      "main": [
        [
          {
            "node": "Start Apify Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Run": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Fetch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Results": {
      "main": [
        [
          {
            "node": "Transform & Validate Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform & Validate Leads": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Save Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Error Log": {
      "main": [
        [
          {
            "node": "Mark Batch Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Map Webhook Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Webhook Data1": {
      "main": [
        [
          {
            "node": "Input Validation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation1": {
      "main": [
        [
          {
            "node": "Start Apify Run1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Run1": {
      "main": [
        [
          {
            "node": "Poll Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Status1": {
      "main": [
        [
          {
            "node": "Fetch Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "70c02cc0-93e6-4e92-ba8b-f15a6e815e9f",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-24T12:02:33.117Z",
      "createdAt": "2025-12-24T12:02:33.117Z",
      "role": "workflow:owner",
      "workflowId": "4Q7wN7NfVRwPn8Jj",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}