seo-chatgpt-313t7eDs4fGe4wjA.json
{
  "updatedAt": "2025-10-06T14:01:27.000Z",
  "createdAt": "2025-10-06T13:43:26.487Z",
  "id": "313t7eDs4fGe4wjA",
  "name": "SEO chatgpt",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "087a2bb9-4470-4828-95bc-42bcad922859",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -3824,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "n8n",
        "limit": 30,
        "filters": {
          "category": "new"
        }
      },
      "id": "9c9aca9c-94be-4778-8827-ba04d4ecb660",
      "name": "Reddit",
      "type": "n8n-nodes-base.reddit",
      "position": [
        -3520,
        -128
      ],
      "typeVersion": 1,
      "credentials": {
        "redditOAuth2Api": {
          "id": "egji61gmx0oZk5RO",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const questionWords = ['who', 'what', 'when', 'where', 'why', 'how', 'can', 'does', 'is', 'should', 'do', 'are', 'could', 'would'];\n\nreturn $input.all().filter(item => {\n  const rawTitle = item.json.title;\n  if (!rawTitle) return false;\n\n  const title = rawTitle.trim().toLowerCase();\n\n  const isQuestion =\n    title.endsWith('?') ||\n    questionWords.some(word =>\n      title.startsWith(word + ' ') ||\n      title.includes(' ' + word + ' ')\n    );\n\n  // 🪵 Debug log goes here:\n  if (isQuestion) console.log('✅ Question found:', title);\n\n  return isQuestion;\n});\n"
      },
      "id": "1bad0972-a94c-49e0-b139-8f9674d1568e",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        -3296,
        -128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is a question:  {{ $json.Title }}\n\nRephrase it without changing the meaning. Keep it as a question.\n\nI just need the question as the output nothing else",
        "options": {}
      },
      "id": "79f0c08e-9064-4cf9-8c54-bef16bd3ad9d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2592,
        -96
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "e0a4d686-baf5-4541-b46d-8193c75898b6",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2688,
        352
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "Y5EZ7nONrSFTfDWw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Title }}"
      },
      "id": "925278f1-e09a-4b38-aed9-01eaa03b09e3",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -2416,
        208
      ],
      "typeVersion": 1.3,
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.name }}"
      },
      "id": "37c8c8e1-5efb-4c3b-9c59-4f98f5ff9b40",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1392,
        -320
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Append or update row in sheet').item.json.name }}"
      },
      "id": "7e6c6340-d1eb-4cf6-bf92-fd569c69cdae",
      "name": "Simple Memory2",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1376,
        -64
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Append or update row in sheet').item.json.name }}"
      },
      "id": "c00a53b1-3b34-4df7-8621-10b84e123d2a",
      "name": "Simple Memory3",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1376,
        256
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Append or update row in sheet').item.json.name }}"
      },
      "id": "7dfb1499-2db7-44c4-be52-958a7632350b",
      "name": "Simple Memory4",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1376,
        560
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1fIk66lycsodCwVWY_3Jz8ReQBeo0_nOHaFuv427pzKQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fIk66lycsodCwVWY_3Jz8ReQBeo0_nOHaFuv427pzKQ/edit?usp=drivesdk",
          "cachedResultName": "VOC to blog"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1732850028,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fIk66lycsodCwVWY_3Jz8ReQBeo0_nOHaFuv427pzKQ/edit#gid=1732850028",
          "cachedResultName": "Blog"
        },
        "columns": {
          "value": {
            "name": "={{ $json.name }}",
            "slug": "={{ $json.slug }}",
            "Intro": "={{ $json.Intro }}",
            "Steps": "={{ $json.Steps }}",
            "Conclusion": "={{ $json.Conclusion }}"
          },
          "schema": [
            {
              "id": "name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slug",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Intro",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Intro",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Steps",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Steps",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Conclusion",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Conclusion",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b056d781-b0d0-4d45-8e78-c03af6988c09",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -192,
        768
      ],
      "typeVersion": 4.5,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89c11812-98e8-45fc-993e-9938b772051b",
              "name": "Intro",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6d72af54-f397-4506-a2b9-315dea23d84e",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        -1184,
        -208
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db117030-0614-4d4b-9779-a2128eb08c84",
              "name": "Steps",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "99ac994e-e286-47e0-a038-24ae13fa7811",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "position": [
        -1184,
        112
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short intro for a blog post titled:  {{ $json.name }}\n\nMake it easy to read, with easy vocabulary\n\nJust give me the intro as the output",
        "options": {}
      },
      "id": "d94f91d7-2fea-4272-b2c7-343d7adca10f",
      "name": "Intro",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1536,
        -208
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a 'step by step guide' section for a blog post titled:  {{ $json.name }}\n\nMake it easy to read, with easy vocabulary\nBut make it very detailed\n\nJust give me the output",
        "options": {}
      },
      "id": "c15a3cbf-9799-4a76-85a8-993be339f98c",
      "name": "Steps",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1536,
        112
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short conclusion for a blog post titled:  {{ $json.name }}\n\nMake it easy to read, with easy vocabulary\n\nJust give me the conclusion as the output",
        "options": {}
      },
      "id": "6b90f0c8-6e6a-477f-abd6-d6672b887ed6",
      "name": "Conclusion",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1536,
        416
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86fc0fde-f55c-445c-8ebd-828c505a730e",
              "name": "Conclusion",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "51ed4ac0-39d6-4aa7-800f-b0ac2bdcd987",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "position": [
        -1184,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on {{ $json.name }}\n\nCreate a website slug for it. For example: best-website-builder\n\nJust give me the slug as output nothing else",
        "options": {}
      },
      "id": "3c3a1374-28dc-4074-9454-222ee3ee8330",
      "name": "slug",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1536,
        -448
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8a698ac-11ee-4623-8cce-8a9900d2ba08",
              "name": "name",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "420dccdd-8a14-49e1-8875-01bfe7c47c74",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "position": [
        -2240,
        -96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pUeUR9kkW1aAHKa1BSJYNs735fnh-kfLjERkRoDTGB8",
          "mode": "list",
          "cachedResultName": "VOC to blog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pUeUR9kkW1aAHKa1BSJYNs735fnh-kfLjERkRoDTGB8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " Queries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pUeUR9kkW1aAHKa1BSJYNs735fnh-kfLjERkRoDTGB8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Query": "={{ $json.selftext }}",
            "Title": "={{ $json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1b79c36a-24cf-4428-b456-0e48b48b7126",
      "name": "Append row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -3072,
        -128
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "grIKBT6wTka2shuk",
          "name": "Google Sheets account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1fIk66lycsodCwVWY_3Jz8ReQBeo0_nOHaFuv427pzKQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fIk66lycsodCwVWY_3Jz8ReQBeo0_nOHaFuv427pzKQ/edit?usp=drivesdk",
          "cachedResultName": "VOC to blog"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1732850028,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fIk66lycsodCwVWY_3Jz8ReQBeo0_nOHaFuv427pzKQ/edit#gid=1732850028",
          "cachedResultName": "Blog"
        },
        "columns": {
          "value": {
            "name": "={{ $json.name }}"
          },
          "schema": [
            {
              "id": "name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "slug",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Intro",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Intro",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Steps",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Steps",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Conclusion",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Conclusion",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0d93331b-8840-4009-a772-09a7306a93ff",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1984,
        -96
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3cbxdGjv6qzZVhw",
          "name": "Google Sheets account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0eac5ecf-0c4a-4223-bf63-0c6599dea496",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -2864,
        -128
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d07c915b-b5c9-454c-8d4b-cdc91f31696c",
              "name": "slug",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd622097-a25a-47a2-baee-d4753a137064",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "position": [
        -1184,
        -448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "# Send data",
        "height": 280,
        "width": 460,
        "color": 3
      },
      "id": "074f866c-46ae-4c8e-9ee3-668b18dfdbf0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3824,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Enhancer",
        "height": 440,
        "width": 780
      },
      "id": "a1cc1d6c-808c-4b30-8277-a81606cfda1f",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2672,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Data cleaner",
        "height": 280,
        "width": 400,
        "color": 3
      },
      "id": "5b076fdb-ee0a-41ad-b521-f86e381c920b",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3344,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1904,
        432
      ],
      "id": "63969791-6366-408b-81a9-789a4949d0e5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('Code').item.json.title }}",
        "additionalFields": {
          "content": "={{ $json.Intro }}\n{{ $json.Steps }}",
          "slug": "={{ $json.slug }}",
          "status": "={{ $json.Conclusion }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        -256,
        -64
      ],
      "id": "c0567846-b6b5-483c-a44d-c26971ea92d4",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "37d6ieAJ3OpJgcQt",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        -96
      ],
      "id": "62bc9763-9c18-4b00-95b7-93d85af5a3f7",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f451aca0-cb06-4448-8221-6793642a279e",
              "name": "product_name",
              "value": "Windows 11 Pro Key",
              "type": "string"
            },
            {
              "id": "76098f3f-32dc-4f18-8fc0-9c74def10942",
              "name": "product_link",
              "value": "https://chatgpt.com/c/68e3c693-2bac-832d-9a80-4b6f68f96e3c",
              "type": "string"
            },
            {
              "id": "47dcadca-3cec-48de-a09a-587f947ba71e",
              "name": "price",
              "value": "15.99",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3616,
        912
      ],
      "id": "ae2b3cd6-4f46-41af-8bc6-152834cd1c2a",
      "name": "Product Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an SEO expert creating high-ranking content for a WordPress blog that sells digital keys (games, software, tools).\n\nWrite:\n1. SEO title (under 60 characters)\n2. Meta description (under 160 characters)\n3. 5 keywords\n4. 600-word article with clear headings (H2/H3) and call to action.\n\nFocus keyword: {{ $json.product_name }}\nProduct link: {{$json[\"product_link\"]}}\nPrice: {{$json[\"price\"]}}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3408,
        912
      ],
      "id": "515649ad-0eb5-44ea-8e40-4acb39251044",
      "name": "Generate SEO Blog"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3552,
        1120
      ],
      "id": "e9acfa2e-2a15-4e1e-93ab-d74245e0b809",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SX4TgzNyXd9nY9M1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{$json[\"title\"]}}",
        "additionalFields": {
          "content": "={{ $json.article }}",
          "tags": "={{ $json.keywords }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        -2880,
        912
      ],
      "id": "a3ae4f90-a93c-4de7-b512-a3634f170a76",
      "name": "Post to WordPress",
      "credentials": {
        "wordpressApi": {
          "id": "37d6ieAJ3OpJgcQt",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $json[\"output\"];\n\n// Extract SEO Title\nconst titleMatch = output.match(/## 1\\. SEO Title\\n(.+)\\n/);\nconst title = titleMatch ? titleMatch[1].trim() : \"\";\n\n// Extract Meta Description\nconst metaMatch = output.match(/## 2\\. Meta Description\\n([\\s\\S]+?)\\n\\n## 3/);\nconst meta = metaMatch ? metaMatch[1].trim() : \"\";\n\n// Extract Keywords\nconst keywordsMatch = output.match(/## 3\\. 5 Keywords\\n([\\s\\S]+?)\\n\\n---/);\nlet keywords = \"\";\nif (keywordsMatch) {\n  keywords = keywordsMatch[1]\n    .split(\"\\n\")\n    .map(k => k.replace(/^\\d+\\.\\s*/, \"\").trim())\n    .filter(k => k)\n    .join(\", \");\n}\n\n// Extract main article\nconst articleMatch = output.match(/---\\n\\n([\\s\\S]+)/);\nconst article = articleMatch ? articleMatch[1].trim() : \"\";\n\n// Return as clean JSON\nreturn [{\n  title,\n  meta,\n  keywords,\n  article\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3056,
        912
      ],
      "id": "014159af-107f-425c-8f19-22138d6ca798",
      "name": "Parse SEO Output"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "slug",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Intro",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Steps",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Conclusion",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Intro": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Steps": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conclusion": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "slug": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Intro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Steps",
            "type": "main",
            "index": 0
          },
          {
            "node": "Conclusion",
            "type": "main",
            "index": 0
          },
          {
            "node": "slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "slug",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Intro",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Steps",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Conclusion",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Data": {
      "main": [
        [
          {
            "node": "Generate SEO Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate SEO Blog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate SEO Blog": {
      "main": [
        [
          {
            "node": "Parse SEO Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SEO Output": {
      "main": [
        [
          {
            "node": "Post to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "Which question should I rephrase for you?"
        }
      }
    ],
    "slug": [
      {
        "json": {
          "output": "which-question-rephrase"
        }
      }
    ],
    "Intro": [
      {
        "json": {
          "output": "Sometimes, the way a question is asked can make all the difference. Maybe you're stuck, or maybe my answer wasn't quite right because the original question wasn't clear enough. This is your chance to tell me! What question would you like me to try rephrasing for you? Let's make sure we get it right together."
        }
      }
    ],
    "Steps": [
      {
        "json": {
          "output": "Here’s a simple guide to help me rephrase your question perfectly. Think of it like a little puzzle we're solving together!\n\n### Your Step-by-Step Guide to Rephrasing Questions\n\n**Step 1: Show Me the Original Question**\n\nFirst things first, I need to see the exact question you're thinking about.\n\n*   **What to do:** Just type or paste the question you want me to rephrase.\n*   **Why it's important:** This makes sure we're both looking at the exact same words. No guessing games! If you just describe it, I might get it wrong. So, copy it over exactly as it is.\n\n**Step 2: Tell Me What's Not Working With It**\n\nNow, let's talk about why the original question isn't quite right. What's the problem?\n\n*   **Think about:**\n    *   **Is it too general?** Maybe your question is too broad, and you're getting answers that cover too much, not enough, or are not specific to what you really want. (Example: If you asked \"Tell me about dogs,\" but you really only care about \"service dogs.\")\n    *   **Is it too specific?** Sometimes a question can be so detailed that it's hard to get an answer, or it makes the answer too narrow. (Example: If you asked \"What's the best brand of purple shoelaces for a size 7 left shoe made on a Tuesday in 2021?\" when you just want to know \"Where can I buy purple shoelaces?\")\n    *   **Is it confusing?** Do the words not make sense together? Is the sentence structure a bit messy?\n    *   **Did you get an answer you didn't expect?** You asked something, and the answer you got wasn't what you were hoping for. This often means the question itself was leading to a different kind of answer.\n    *   **Are there words you don't understand?** Maybe the question itself uses complicated words, and you want it simpler.\n    *   **Does it have a hidden meaning?** Sometimes we ask a question, but we really mean something else.\n\n*   **What to do:** In simple words, tell me what you feel is wrong. You can say things like:\n    *   \"It's too vague.\"\n    *   \"It's not focused enough.\"\n    *   \"I got an answer about X, but I wanted Y.\"\n    *   \"It's a bit unclear.\"\n    *   \"I want it to be simpler.\"\n\n**Step 3: Tell Me What You Want to Achieve (Your Goal)**\n\nThis is the most important part! What kind of answer are you hoping for with the *new*, rephrased question? What information are you *really* trying to get?\n\n*   **Think about:**\n    *   **Do you want more details?** If so, what kind of details?\n    *   **Do you want a simpler explanation?** For whom? (e.g., for a child, for someone new to the topic).\n    *   **Do you want to compare different things?** Which things?\n    *   **Do you want steps on how to do something?**\n    *   **Do you want an answer focused on a specific part of a topic?** (Example: If the original was about \"cars,\" do you want to focus on \"electric cars\" or \"how cars are made\"?)\n    *   **Are you looking for an opinion, a fact, or an explanation?**\n    *   **What kind of person are you asking this for?** (e.g., \"I'm asking for a school project,\" \"I'm trying to fix something at home,\" \"I'm just curious.\")\n\n*   **What to do:** Describe what you want the *rephrased* question to help you find out. You can say things like:\n    *   \"I want the new question to get a more specific answer about [topic].\"\n    *   \"I'd like it to be phrased in a way that gets a step-by-step guide.\"\n    *   \"Can you make it simpler so a beginner can understand?\"\n    *   \"I want to compare X and Y, so the question should reflect that.\"\n    *   \"The goal is to understand *why* something happens, not just *what* happens.\"\n\n**Step 4: Add Any Helpful Background (Context)**\n\nSometimes, knowing the bigger picture helps a lot! This step is optional, but it can make my rephrasing even better.\n\n*   **Think about:**\n    *   **What is the overall topic you're exploring?**\n    *   **What have you already tried or learned?**\n    *   **Who is the information for?** (e.g., \"I'm writing a paper for school,\" \"I'm researching for a business idea,\" \"I'm just curious for myself.\")\n    *   **Is there any special reason you're asking this question now?**\n\n*   **What to do:** If you have any extra details that might help me understand your situation better, share them here!\n\nOnce you give me these details, I'll do my best to rephrase your question to get you exactly the answer you're looking for!"
        }
      }
    ],
    "Conclusion": [
      {
        "json": {
          "output": "So, don't hold back! Clear questions lead to clear answers, and I'm here to help you get the best information possible. Just follow these simple steps, tell me what you need, and let's work together to make your questions perfectly clear. I'm ready when you are!"
        }
      }
    ],
    "Generate SEO Blog": [
      {
        "json": {
          "output": "## 1. SEO Title\nWindows 11 Pro Key - Secure & Instant Digital Download\n\n## 2. Meta Description\nUnlock Windows 11 Pro's advanced features instantly! Get your genuine Windows 11 Pro Key for enhanced security, productivity, and performance. Buy now & activate today!\n\n## 3. 5 Keywords\n1.  Windows 11 Pro Key\n2.  Buy Windows 11 Pro license\n3.  Genuine Windows 11 Pro product key\n4.  Upgrade to Windows 11 Pro\n5.  Windows 11 Pro features\n\n---\n\n## Unlock Peak Performance: Why You Need a Genuine Windows 11 Pro Key\n\nIn today's fast-paced digital world, your operating system is the backbone of your productivity, security, and entertainment. While Windows 11 Home offers a fantastic user experience, for those who demand more — more security, more control, and more business-ready features — **Windows 11 Pro** is the definitive choice. To truly unlock its full potential, a genuine **Windows 11 Pro Key** is essential.\n\nAt [Your Blog Name/Shop Name], we understand your need for reliable, legitimate software. We provide authentic digital keys, ensuring you get access to all the cutting-edge features Windows 11 Pro has to offer, without compromise.\n\n### Why Upgrade to Windows 11 Pro? Beyond the Basics\n\nWindows 11 Pro builds upon the sleek, modern foundation of Windows 11 Home, adding a robust suite of tools designed for professionals, businesses, and advanced users. Here’s what makes it stand out:\n\n#### Enhanced Security Features\nSecurity is paramount, and Windows 11 Pro takes it to the next level. With a legitimate **Windows 11 Pro Key**, you gain access to:\n*   **BitLocker Device Encryption:** Protect your data against theft or exposure by encrypting entire drives. If your device falls into the wrong hands, your data remains secure.\n*   **Windows Information Protection (WIP):** Helps protect enterprise apps and data against accidental data leaks on company-owned and employee personal devices.\n*   **Hyper-V:** Create and manage virtual machines, allowing you to run multiple operating systems on a single PC, ideal for testing software in isolated environments.\n\n#### Advanced Productivity Tools\nWindows 11 Pro is engineered to boost your efficiency and streamline your workflow:\n*   **Remote Desktop:** Access your PC from virtually anywhere, allowing you to work remotely or provide support to others with ease. This is a game-changer for hybrid work environments.\n*   **Group Policy:** Manage network PCs, user accounts, and access to resources from a central location. This feature is crucial for small businesses and IT administrators.\n*   **Assigned Access:** Lock down a device to run only one app or a select few, perfect for kiosks, public-facing displays, or specialized workstations.\n\n#### Seamless Business Integration\nFor business owners and IT professionals, Windows 11 Pro offers critical management and deployment capabilities:\n*   **Azure Active Directory (AAD) Integration:** Connect to your organization's domain or Azure AD, making it easier to manage network files, servers, and other resources.\n*   **Windows Update for Business:** Get more control over when and how updates are delivered, ensuring system stability and minimizing disruption.\n\n### The Importance of a Genuine Windows 11 Pro Key\n\nPurchasing a genuine **Windows 11 Pro Key** isn't just about unlocking features; it's about securing your digital life and ensuring long-term stability. Unlicensed or pirated software comes with significant risks:\n*   **Security Vulnerabilities:** Counterfeit keys often lack essential security updates, leaving your system vulnerable to malware, viruses, and data breaches.\n*   **Limited Functionality:** Illegitimate software may not provide all the promised features, or they might cease to function after an update.\n*   **Legal Risks:** Using pirated software carries legal implications for individuals and businesses.\n*   **No Support:** You won't receive official support from Microsoft if you encounter issues, leaving you to troubleshoot complex problems alone.\n\nBy opting for a legitimate **Windows 11 Pro Key**, you ensure full access to all features, continuous security updates, and peace of mind that your operating system is stable, secure, and fully supported.\n\n### Where to Buy a Reliable Windows 11 Pro Key?\n\nFinding a trustworthy source for your digital keys is crucial. At [Your Blog Name/Shop Name], we specialize in providing authentic digital keys for a wide range of software, including the **Windows 11 Pro Key**. We pride ourselves on:\n*   **Authenticity:** Every key we sell is genuine and sourced from official channels.\n*   **Instant Delivery:** No waiting! Your digital key is delivered directly to your email shortly after purchase.\n*   **Competitive Pricing:** We strive to offer the best value for your money.\n*   **Dedicated Support:** Our team is here to assist you with any questions regarding installation or activation.\n\n### Unlock Your Potential with Windows 11 Pro Today!\n\nDon't let an outdated or underpowered operating system hold you back. Upgrade to Windows 11 Pro and experience a new level of performance, security, and productivity. Whether you're a demanding professional, a small business owner, or simply an advanced user who wants the best, a genuine **Windows 11 Pro Key** is your gateway to an optimized computing experience.\n\nReady to transform your PC? Get your authentic **Windows 11 Pro Key** today for just **$15.99** and instantly unlock all the advanced features you deserve.\n\n**Click here to buy your Windows 11 Pro Key now: [https://chatgpt.com/c/68e3c693-2bac-832d-9a80-4b6f68f96e3c](https://chatgpt.com/c/68e3c693-2bac-832d-9a80-4b6f68f96e3c)**"
        }
      }
    ]
  },
  "versionId": "d0863c41-617d-4997-a0bf-2716c9e78d49",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-06T13:43:26.515Z",
      "createdAt": "2025-10-06T13:43:26.515Z",
      "role": "workflow:owner",
      "workflowId": "313t7eDs4fGe4wjA",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}