the-product-description-auditor-copy-KlMFo1qbIZoVxpFr.json
{
  "updatedAt": "2025-09-10T14:56:48.000Z",
  "createdAt": "2025-09-10T11:38:36.499Z",
  "id": "KlMFo1qbIZoVxpFr",
  "name": "The Product Description Auditor copy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3688ae38-cf3c-45c0-a8e8-3b4a6b4dbc92",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://fakestoreapi.com/products",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        0
      ],
      "id": "86141714-d65d-467b-94b5-9998263517b5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🚩 Needs Review: Product \"{{ $('productList').item.json.productName }}\" contains flagged language.  \nDescription:  {{ $('productList').item.json.description }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1344,
        -96
      ],
      "id": "a245a3ac-43b7-4152-9b2c-15f751f37969",
      "name": "Discord",
      "webhookId": "5818bddd-d53f-424c-9d4d-7de89435c9ac",
      "credentials": {
        "discordWebhookApi": {
          "id": "skGsil2IBOoEYiyT",
          "name": "Discord Webhook account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ILRtK5tI4Oj55cjEs56ZDwZrA5iEu_KYKFGByRCRLrc",
          "mode": "list",
          "cachedResultName": "The Product Description Auditor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ILRtK5tI4Oj55cjEs56ZDwZrA5iEu_KYKFGByRCRLrc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ILRtK5tI4Oj55cjEs56ZDwZrA5iEu_KYKFGByRCRLrc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "productName": "={{ $json.productName }}",
            "price": "={{ $json.price }}",
            "imageUrl": "={{ $json.imageUrl }}",
            "rawCategory": "={{ $json.rawCategory }}",
            "description": "={{ $json.description }}"
          },
          "matchingColumns": [
            "productName"
          ],
          "schema": [
            {
              "id": "productName",
              "displayName": "productName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rawCategory",
              "displayName": "rawCategory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        96
      ],
      "id": "8a885079-394d-40ce-80b7-1b23496ebb16",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ELb54M7cyXuXINwV",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// make sure input is always an array\nconst input = Array.isArray($json) ? $json : [$json];\n\n// map over each product\nreturn input.map(p => ({\n  json: p\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "c2db322c-106e-4fc6-9980-2865abf7678b",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c24f22a1-410c-4fa1-9140-984e8441a63c",
              "name": "redFlags",
              "value": "\n[\"master\", \"slave\", \"blacklist\", \"whitelist\", \"oushen\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "e4304ce2-0e39-40f2-9577-970be86cb9c1",
      "name": "defineRedFlags"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8529de8-690c-4dd5-9b4f-812057485cfe",
              "name": "productName",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "b6aa0277-e528-4ad0-85c1-8dcf59dd9820",
              "name": "price",
              "value": "={{ $json.price }}",
              "type": "string"
            },
            {
              "id": "8a2f10f0-7ea0-45df-b4bd-a2fcbdea0598",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "7f8e8456-551e-4efe-a464-6de14dabc039",
              "name": "imageUrl",
              "value": "={{ $json.image }}",
              "type": "string"
            },
            {
              "id": "063d8ad6-9b10-443c-b1c2-4bf8c2e7b892",
              "name": "rawCategory",
              "value": "={{ $json.category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        0
      ],
      "id": "b99e0ea9-7417-4c18-b30a-7344b37ae5a4",
      "name": "productList"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22f72be0-7338-47ca-af96-11973e8689d0",
              "leftValue": "={{ $('defineRedFlags').first().json.redFlags.some(flag => $json.description?.toLowerCase().includes(flag.toLowerCase())) }}",
              "rightValue": "={{ $('defineRedFlags').item.json.redFlags }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        0
      ],
      "id": "bff5d350-3994-44ce-aa12-7f0fd29833d8",
      "name": "If"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "defineRedFlags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "productList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "defineRedFlags": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "productList": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0da2d43f-791a-4690-8122-c06ff0bd0eb4",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-10T11:38:36.511Z",
      "createdAt": "2025-09-10T11:38:36.511Z",
      "role": "workflow:owner",
      "workflowId": "KlMFo1qbIZoVxpFr",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}