tizi-invitation-email-automation-iLkzbyuKyU1JHG0S.json
{
  "updatedAt": "2025-11-30T13:54:59.000Z",
  "createdAt": "2025-10-22T22:17:54.742Z",
  "id": "iLkzbyuKyU1JHG0S",
  "name": "TIZI Invitation Email Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "cf12c5d0-c8ae-491f-91a8-152fc47e3f73",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        -16
      ],
      "id": "f4bc4b08-b1e8-446b-b326-d4f79027d989",
      "name": "Batch Processor"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w",
          "mode": "list",
          "cachedResultName": "Ark-x Days",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1980485376,
          "mode": "list",
          "cachedResultName": "TIZI Invitation Email Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w/edit#gid=1980485376"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "56390132-ed45-4b7c-9020-9684bc99a637",
      "name": "Get Contact List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jToedYDz95w6z3tL",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email '] }}",
        "subject": "Invitation to Join TIZI Leadership Program",
        "emailType": "text",
        "message": "=Dear {{ $json['Name '] }}\n\nWe are delighted to invite you to participate in the upcoming <b>TIZI Leadership Program</b> — a unique opportunity to engage with Morocco’s new generation of changemakers.\n\n📍 Location: Casablanca  \n📅 Date: November 15, 2025  \n\nPlease confirm your participation by replying to this email.\n\nWarm regards,  \n<b>The TIZI Team</b>  \nTariq Ibnou Ziyad Initiative  \nwww.tizi.ma",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1264,
        0
      ],
      "id": "768625d9-3958-45de-a038-5600e9f2465f",
      "name": "Send Invitation",
      "webhookId": "3d65a309-67b7-419b-a80b-2e021e48ddca",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "Gmail account 4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87506979-afa7-46f5-b1ad-0ddbb01b83ab",
              "leftValue": "={{ $('Get Contact List').item.json.Status }}",
              "rightValue": "Mark as Sent",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "605587a3-ee84-4a6a-bd73-2c10ec917bdf",
      "name": "If"
    },
    {
      "parameters": {
        "content": "Get Contacts\n\nDescription: Pull all contacts from Google Sheets.\n\nNode: Get Contact List",
        "height": 384,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -176
      ],
      "typeVersion": 1,
      "id": "745b0f42-37a8-4b8e-8cad-80970d6f5988",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Filter → keep only rows where Status ≠ “Mark as Sent”",
        "height": 384,
        "width": 176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -176
      ],
      "typeVersion": 1,
      "id": "d1983589-5fde-4d2f-a5f8-7671216697b1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Send email to each remaining contact",
        "height": 384,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -176
      ],
      "typeVersion": 1,
      "id": "b8980407-d1f4-4f1a-a042-abab39616fec",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w",
          "mode": "list",
          "cachedResultName": "Ark-x Days",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1980485376,
          "mode": "list",
          "cachedResultName": "TIZI Invitation Email Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbDDKtyjUWyWS75GamxN1iFBh4elxfd6U__QSHdHl4w/edit#gid=1980485376"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Mark as Sent",
            "Email ": "={{ $('Batch Processor').item.json['Email '] }}",
            "Failed Reason": "={{ $json.raison }}"
          },
          "matchingColumns": [
            "Email "
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Failed Reason",
              "displayName": "Failed Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1856,
        0
      ],
      "id": "4af43652-e233-4990-84a0-f5279a8d2a27",
      "name": "Update status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jToedYDz95w6z3tL",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "content": "[Track Success & Failure]\nSeparate success & failed emails\nLog errors/reason in 'raison' column",
        "height": 384,
        "width": 272,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        -176
      ],
      "typeVersion": 1,
      "id": "a64fa2fe-8c01-4237-8cdb-c7898cc90151",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "=abdellahkrimo13@gmail.com",
        "subject": "Invitation to Join TIZI Leadership Program",
        "emailType": "text",
        "message": "=Hello ,\n\nAll invitation emails have been successfully sent to your TIZI contact list.\n\n✅ Total Sent: {{ $json.totalSent }}\n📅 Date: {{ $json.date }}\nat {{ $json.time }}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1632,
        -416
      ],
      "id": "a779d41c-3bc6-434d-b076-febd3cd534d4",
      "name": "summary email",
      "webhookId": "3d65a309-67b7-419b-a80b-2e021e48ddca",
      "credentials": {
        "gmailOAuth2": {
          "id": "kwQyExBG7xNmebmA",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1456,
        -416
      ],
      "id": "379596ff-c5d4-4f51-a573-14f6a358b7a9",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Function Node Example\nreturn $items().filter((item, index, self) =>\n    index === self.findIndex((t) => t.json['Email '] === item.json['Email '])\n);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -16
      ],
      "id": "4fe271e1-3d45-4d17-b4d4-6d8e6937f809",
      "name": "Duplicate Emails"
    },
    {
      "parameters": {
        "jsCode": "let success = [];\nlet failed = [];\n\nfor (const item of $items()) {\n  if (item.json.error) {\n    // Add the error message to the 'raison' field\n    item.json.raison = item.json.error.message || \"Unknown Error\";\n    failed.push({ json: item.json }); // wrap in json\n  } else {\n    item.json.raison = \"Sent\"; // Optional: mark success\n    success.push({ json: item.json }); // wrap in json\n  }\n}\n\n// Return as a single array\nreturn [...success, ...failed];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        0
      ],
      "id": "ca653731-809e-49cb-9e43-5a6c0542a935",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "[Batch Processing]\nProcess emails in batches (e.g., 5 at a time)",
        "height": 384,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        -176
      ],
      "typeVersion": 1,
      "id": "6fd1d76b-eb79-46e8-abf0-e2f54cb6583d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "[Remove Duplicates]\nRemove contacts with duplicate emails",
        "height": 384,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -176
      ],
      "typeVersion": 1,
      "id": "2b8db407-f066-42a6-a4ad-0c1c528f1c69",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "[Update Google Sheet]\nUpdate Status = \"Mark as Sent\" for success\nLog failure reason in 'raison'",
        "height": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        -176
      ],
      "typeVersion": 1,
      "id": "847853e2-265a-4d0c-8811-fba2e73e9383",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Count total sent and send summary email",
        "height": 352,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -544
      ],
      "typeVersion": 1,
      "id": "1dbdef9c-89e6-419e-8126-358d38a90ad7",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "jsCode": "// Get all items that passed through the \"Send Invitation\" node\nconst sentEmails = $input.all();\n\n// Count total emails sent\nconst totalCount = sentEmails.length;\n\nreturn [{\n  json: {\n    totalSent: totalCount,\n    timestamp: new Date().toISOString(),\n    date: new Date().toLocaleDateString('en-US', {\n      weekday: 'long',\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric'\n    }),\n    time: new Date().toLocaleTimeString('en-US')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -416
      ],
      "id": "de9254ad-05fc-4a1d-8461-2d8d39624afa",
      "name": "Calculate Total"
    },
    {
      "parameters": {
        "content": "TIZI Invitation Email Automation",
        "height": 864,
        "width": 2256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -560
      ],
      "typeVersion": 1,
      "id": "04fbe4d1-1d18-4768-854a-ac76875e4c95",
      "name": "Sticky Note8"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Contact List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Processor": {
      "main": [
        [
          {
            "node": "Calculate Total",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact List": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invitation": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Duplicate Emails",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update status": {
      "main": [
        [
          {
            "node": "Batch Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "summary email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Emails": {
      "main": [
        [
          {
            "node": "Batch Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Total": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "083a9fe2-474a-4e90-b059-dc9ddd3dbeff",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-22T22:17:54.758Z",
      "createdAt": "2025-10-22T22:17:54.758Z",
      "role": "workflow:owner",
      "workflowId": "iLkzbyuKyU1JHG0S",
      "projectId": "HHopAZ4lOFgjhBzT"
    }
  ],
  "activeVersion": null,
  "tags": []
}